sync-template-5081.json
{
  "name": "Chrt GitHub Workflow Sync",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "fa43665c-fbbf-4e34-8932-5b9aa473d84f",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        128,
        992
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "C0LX3cdrWN4GwpJB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "682603a0-dd9c-4192-8ac1-75d9958d3af9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1888,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "=/{{ $json.repo_workflows_path }}"
      },
      "id": "b5e01a37-52eb-42f9-bde3-8968c8385ab2",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -1264,
        608
      ],
      "webhookId": "0614066f-212d-4f9e-9da2-fa4a80b44baf",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "105ee73f-d16f-4011-ba03-5c12c4081186",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -816,
        608
      ],
      "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "2acb725b-7c76-4f8c-bcc5-2f41c122d2d0",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1040,
        400
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "C0LX3cdrWN4GwpJB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Upload'].json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "a96aac4a-b5d1-41c9-b2e4-f87fd5b75bd0",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        784,
        128
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "aa6738b2-b425-45d2-a6d8-8ec2c2ecb5e8",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        128,
        128
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "31849657-5ab3-4beb-a9e3-f866a704d5b2",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        352,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "758ddd56-7c3a-48ed-93ff-58d701050eb3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Update'].json.fileName }}",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}"
      },
      "id": "8c807492-e683-4228-94a6-b0cd80257c6c",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1600,
        768
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "94fdd3d6-06e7-4c58-9252-db03ff8ed241",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        944,
        768
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "fde56da4-c140-4cd2-84c4-f9d61246da99",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1168,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "f9d16563-fd03-463a-ba5c-6bcb5fb3369a",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        -368,
        480
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "b9c30e50-39bc-4ddb-b06d-7d1b5855b707",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        720,
        512
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "C0LX3cdrWN4GwpJB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the desired workflow ID\nconst workflowId = $('If n8n before GitHub').first().json.same?.id;\n\n// Get all decoded workflow items\nconst allDecoded = $('Decode to json').all();\n\n// Filter for the matching one\nconst matched = allDecoded.filter(item => item.json?.id === workflowId);\n\n// If there's a match, return it (or empty if none)\nif (matched.length > 0) {\n  return [{ json: { dataset: matched[0].json } }];\n} else {\n  return [];\n}\n"
      },
      "id": "8465509a-ac62-485f-83b3-97d5bfec8300",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Get the desired workflow ID\nconst workflowId = $('If n8n before GitHub').first().json.same?.id;\n\n// Get all n8n workflow items\nconst allN8n = $('n8n').all();\n\n// Filter for the matching one\nconst matched = allN8n.filter(item => item.json?.id === workflowId);\n\n// If there's a match, return it (or empty if none)\nif (matched.length > 0) {\n  return [{ json: { dataset: matched[0].json } }];\n} else {\n  return [];\n}\n"
      },
      "id": "ea216738-d78a-4063-8874-0ccf06dfb52b",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        768
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "9af5e0e9-a6ad-4941-9981-811384796310",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "26b6087d-6d62-4e74-ac34-04872e528797",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "77cb970e-c2d5-4e8f-9d3f-9d0a798b124b",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        1392,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
        "height": 320,
        "width": 1000
      },
      "id": "4190fb76-8bcf-4d7b-aa40-63f3851df8bc",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN GITHUB\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "104104db-826a-4a33-b916-d7269574bd6b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e2434de-a111-4e8f-b0b1-b59478390b18",
      "name": "If n8n before GitHub",
      "type": "n8n-nodes-base.if",
      "position": [
        128,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.content?.base64Decode() ?? {} }}",
        "options": {}
      },
      "id": "fdc0d398-80d6-45e9-9086-bbeae7822c64",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        -608,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "id": "da2fcf95-50ad-4c22-a2da-91af4b769709",
      "name": "Filter Placeholder",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1040,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-json-file",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": ".json"
            },
            {
              "id": "is-file-type",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.type }}",
              "rightValue": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "check-is-json-file",
      "name": "Is JSON File?",
      "type": "n8n-nodes-base.if",
      "position": [
        -880,
        608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}"
      },
      "id": "list-subdirectory",
      "name": "List Subdirectory",
      "type": "n8n-nodes-base.github",
      "position": [
        -880,
        808
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": "hudsonlorfing"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": "chrt-n8n-workflows"
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "repo_workflows_path",
              "type": "string",
              "value": "workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "153585b3-1401-4fde-83d6-620ebc53ec5c",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        -1664,
        480
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Placeholder": {
      "main": [
        [
          {
            "node": "Is JSON File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is JSON File?": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Subdirectory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Subdirectory": {
      "main": [
        [
          {
            "node": "Filter Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before GitHub": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Filter Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a0d61e1-fcf8-432d-af9d-938524e43648",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ce16fc100291804826030d46a0f780f5d6613342b8afd8bb5c84603e7c0436d"
  },
  "id": "r4ICnvhdbQwejSdH",
  "tags": [
    {
      "updatedAt": "2025-12-24T03:13:55.056Z",
      "createdAt": "2025-12-24T03:13:55.056Z",
      "id": "DEHTpDES3OilFwB8",
      "name": "github"
    }
  ]
}