workflows/linkedin/2.-linkedin-outreach-(phantombuster).json
{
  "updatedAt": "2026-02-05T04:53:21.732Z",
  "createdAt": "2025-12-17T17:34:32.062Z",
  "id": "kjjYKQEXv67Vl5MS",
  "name": "2. LinkedIn Outreach (PhantomBuster)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * 1-6"
            },
            {
              "field": "cronExpression",
              "expression": "10 16 * * 1-6"
            }
          ]
        }
      },
      "id": "wf2-test-schedule-kyle",
      "name": "Schedule Kyle",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2208,
        656
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "40 8 * * 1-6"
            },
            {
              "field": "cronExpression",
              "expression": "20 16 * * 1-6"
            }
          ]
        }
      },
      "id": "wf2-test-schedule-hudson",
      "name": "Schedule Hudson",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2208,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { profileIndex: 0 } }];"
      },
      "id": "wf2-test-set-kyle",
      "name": "Set profile Kyle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { profileIndex: 1 } }];"
      },
      "id": "wf2-test-set-hudson",
      "name": "Set profile Hudson",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const kyle = $('Set profile Kyle').isExecuted ? $('Set profile Kyle').first() : null;\nconst hudson = $('Set profile Hudson').isExecuted ? $('Set profile Hudson').first() : null;\nconst selected = kyle || hudson;\nif (!selected) throw new Error('No profile set');\nreturn [{ json: { profileIndex: selected.json.profileIndex } }];"
      },
      "id": "wf2-test-select-profile",
      "name": "selectProfile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        752
      ]
    },
    {
      "parameters": {
        "url": "https://api.doppler.com/v3/configs/config/secrets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "project",
              "value": "developers"
            },
            {
              "name": "config",
              "value": "hudson"
            }
          ]
        },
        "options": {}
      },
      "id": "wf2-test-fetch-doppler",
      "name": "Fetch Doppler cookies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        448
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dz2vX61Mpayywfq1",
          "name": "Doppler API"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "wf2-test-merge-doppler",
      "name": "Profile + Doppler",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2688,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst secrets = item.json.secrets || item.json || {};\nconst kyleCookie = secrets.LINKEDIN_KYLE_SESSION_COOKIE;\nconst hudsonCookie = secrets.LINKEDIN_HUDSON_SESSION_COOKIE;\nconst userAgents = { kyle: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36', hudson: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36' };\nreturn [{ json: { profile: 'kyle', sessionCookie: kyleCookie, userAgent: userAgents.kyle } }, { json: { profile: 'hudson', sessionCookie: hudsonCookie, userAgent: userAgents.hudson } }];"
      },
      "id": "wf2-test-build-profile",
      "name": "Build profile items with cookies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) return [];\nlet idx;\ntry { idx = $('selectProfile').first().json.profileIndex; } catch (e) { idx = 0; }\nif (idx === undefined || idx === null) idx = new Date().getDate() % 2;\nreturn [items[Math.min(idx, items.length - 1)]];"
      },
      "id": "wf2-test-take-one",
      "name": "Take one profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        752
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master List",
          "mode": "name"
        },
        "options": {}
      },
      "id": "ac4c7dd1-c381-4886-8e6d-2d726778a41b",
      "name": "Get Ready Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3264,
        752
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "254e1cf2-8d02-4677-8a37-0aac504ff4e7",
      "name": "Sort by Score (Highest First)",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        3952,
        752
      ]
    },
    {
      "parameters": {
        "maxItems": "={{ $('Prepare limit').first().json.maxItems ?? (8 + Math.floor(Math.random()*2)) }}"
      },
      "id": "f25d40b4-754d-42da-b306-ede874c46532",
      "name": "Limit to 10/run (20/day)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4304,
        720
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f5cbb0e2-eda1-4696-8ffa-a9b62101174a",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4528,
        720
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 90) + 30}}"
      },
      "id": "a365385c-f2da-4c66-a435-7209aca2ebcd",
      "name": "Random Delay (30-120s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4752,
        720
      ],
      "webhookId": "cf5227ae-6b6b-4af6-b694-fdee3769710c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  id: \"3044757503240384\",\n  bonusArgument: {\n    profileUrl: $json['defaultProfileUrl'] ?? $json['profileUrl'],\n    sessionCookie: $('Take one profile').first().json.sessionCookie?.computed ?? $('Take one profile').first().json.sessionCookie,\n    userAgent: $('Take one profile').first().json.userAgent\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1fcfe6f-890c-4d96-bffb-505817f2e767",
      "name": "PhantomBuster: Send Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        720
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=' + \"3044757503240384\" + '&containerId=' + $('PhantomBuster: Send Connection').item.json.containerId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c76d6c0c-b7bb-4f07-b9a2-e6f9bc58120b",
      "name": "Fetch Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5344,
        720
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse PhantomBuster result and determine connection status\nconst originalData = $('Process One at a Time').item.json;\nconst result = $('Fetch Result').item.json;\n\n// Check if this is a retry attempt\nconst isRetryAttempt = originalData._retryAttempt === true;\n\nlet connectionStatus = 'Unknown';\nlet resultMessage = '';\nlet isCriticalError = false;\nlet criticalErrorType = null;\nlet shouldRetry = false;\n\n// First check: Did the phantom finish successfully?\nconst phantomFinished = result.status === 'finished';\nconst output = result.output || '';\nconst outputLower = output.toLowerCase();\n\n// Check for exit code in output\nconst exitCodeMatch = output.match(/exit code: (\\d+)/);\nconst exitCode = exitCodeMatch ? parseInt(exitCodeMatch[1]) : null;\n\n// Extract the processed profile URL from output to confirm it's the right one\nconst profileMatch = output.match(/Processing (https:\\/\\/(?:www\\.)?linkedin\\.com\\/in\\/[^\\s.]+)/i);\nconst processedProfile = profileMatch ? profileMatch[1] : null;\n\n// SALES NAV URL DETECTION - Should never be processing these\nconst inputProfileUrl = originalData['defaultProfileUrl'] || originalData['profileUrl'] || '';\nif (inputProfileUrl.includes('/sales/lead/') || inputProfileUrl.includes('/sales/people/')) {\n  isCriticalError = true;\n  criticalErrorType = 'INVALID_URL_FORMAT';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'Sales Navigator URL detected - Master List has wrong profileUrl format';\n}\n\n// CRITICAL ERROR DETECTION - These should ALWAYS stop the workflow (no retry)\nif (outputLower.includes('disconnected by linkedin')) {\n  isCriticalError = true;\n  criticalErrorType = 'DISCONNECTED';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'Disconnected by LinkedIn - session may be flagged';\n} else if (outputLower.includes('no valid credentials') || outputLower.includes('invalid credentials') || exitCode === 87) {\n  isCriticalError = true;\n  criticalErrorType = 'INVALID_CREDENTIALS';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'Invalid LinkedIn credentials - cookie needs refresh';\n} else if (outputLower.includes('session expired') || outputLower.includes('not logged in') || outputLower.includes('login required')) {\n  isCriticalError = true;\n  criticalErrorType = 'SESSION_EXPIRED';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'LinkedIn session expired - need to re-authenticate';\n} else if (outputLower.includes('account restricted') || outputLower.includes('account suspended')) {\n  isCriticalError = true;\n  criticalErrorType = 'ACCOUNT_RESTRICTED';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'LinkedIn account may be restricted';\n} else if (outputLower.includes('rate limit') || outputLower.includes('too many requests')) {\n  isCriticalError = true;\n  criticalErrorType = 'RATE_LIMITED';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'LinkedIn rate limit reached';\n} \n// RETRYABLE ERRORS - can't connect profile (retry once)\nelse if (outputLower.includes(\"can't connect profile\") || outputLower.includes('cannot connect profile')) {\n  if (isRetryAttempt) {\n    // Second attempt also failed - now it's critical\n    isCriticalError = true;\n    criticalErrorType = 'CONNECTION_FAILED_AFTER_RETRY';\n    connectionStatus = 'Critical Error';\n    resultMessage = 'Cannot connect to LinkedIn profile - failed after retry';\n  } else {\n    // First attempt - retry it\n    shouldRetry = true;\n    connectionStatus = 'Retry Needed';\n    resultMessage = 'Cannot connect to LinkedIn profile - will retry';\n  }\n} else if (!phantomFinished) {\n  connectionStatus = result.status === 'running' ? 'Still Running' : 'Error';\n  resultMessage = `Phantom status: ${result.status}`;\n} else if (exitCode !== 0 && exitCode !== null) {\n  connectionStatus = 'Error';\n  resultMessage = `Exit code: ${exitCode}`;\n  if (exitCode === 87 || (exitCode === 1 && !output.includes('profiles have been processed'))) {\n    isCriticalError = true;\n    criticalErrorType = 'EXIT_CODE_ERROR';\n    resultMessage = `PhantomBuster error (exit code ${exitCode}) - possible credential issue`;\n  }\n} else {\n  // Phantom finished with exit code 0 - parse the output for result\n  if (outputLower.includes('invitation sent') || outputLower.includes('invite sent')) {\n    connectionStatus = 'Request Sent';\n    resultMessage = 'Invitation sent successfully';\n  } else if (outputLower.includes('already connected')) {\n    connectionStatus = 'Already Connected';\n    resultMessage = 'Already a 1st degree connection';\n  } else if (outputLower.includes('already invited') || outputLower.includes('pending invitation')) {\n    connectionStatus = 'Already Invited';\n    resultMessage = 'Invitation already pending';\n  } else if (outputLower.includes(\"couldn't find connect button\") || outputLower.includes(\"could not find connect\")) {\n    connectionStatus = 'Cannot Connect';\n    resultMessage = 'Connect button not available';\n  } else if (outputLower.includes('profile is not available') || outputLower.includes('page not found')) {\n    connectionStatus = 'Profile Not Found';\n    resultMessage = 'LinkedIn profile not accessible';\n  } else if (output.includes('profiles have been processed') && exitCode === 0) {\n    connectionStatus = 'Request Sent';\n    resultMessage = 'Processed successfully';\n  } else {\n    connectionStatus = 'Completed';\n    resultMessage = 'Phantom completed - check manually';\n  }\n}\n\n// Also check resultObject if available\nif (result.resultObject) {\n  const ro = Array.isArray(result.resultObject) ? result.resultObject[0] : result.resultObject;\n  if (ro && ro.status) {\n    resultMessage = ro.status;\n  }\n}\n\nreturn [{\n  json: {\n    profileUrl: originalData['defaultProfileUrl'] || originalData['profileUrl'],\n    status: connectionStatus,\n    resultMessage: resultMessage,\n    sentDate: new Date().toISOString().split('T')[0],\n    isCriticalError: isCriticalError,\n    criticalErrorType: criticalErrorType,\n    shouldRetry: shouldRetry,\n    isRetryAttempt: isRetryAttempt,\n    _debug: {\n      phantomStatus: result.status,\n      exitCode: exitCode,\n      processedProfile: processedProfile,\n      outputSnippet: output.substring(output.length - 500)\n    }\n  }\n}];"
      },
      "id": "c595128b-c344-4bdd-a993-caeba0fa3639",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Master List"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "kyleSentDate": "={{ $('Take one profile').first().json.profile === 'kyle' ? $('Parse Result').item.json.sentDate : $('Process One at a Time').item.json.kyleSentDate }}",
            "hudsonSentDate": "={{ $('Take one profile').first().json.profile === 'hudson' ? $('Parse Result').item.json.sentDate : $('Process One at a Time').item.json.hudsonSentDate }}",
            "defaultProfileUrl": "={{ $('Process One at a Time').item.json.defaultProfileUrl ?? $('Process One at a Time').item.json.profileUrl }}",
            "inviteResults": "={{ $('Parse Result').item.json.status }}"
          },
          "matchingColumns": [
            "defaultProfileUrl"
          ],
          "schema": [
            {
              "id": "defaultProfileUrl",
              "displayName": "defaultProfileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "schoolDegree",
              "displayName": "schoolDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl",
              "displayName": "companyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobDateRange",
              "displayName": "jobDateRange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adj industry",
              "displayName": "adj industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company2",
              "displayName": "company2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl2",
              "displayName": "companyUrl2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyId2",
              "displayName": "companyId2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobTitle2",
              "displayName": "jobTitle2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobDateRange2",
              "displayName": "jobDateRange2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segment",
              "displayName": "segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "added",
              "displayName": "added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kyleSentDate",
              "displayName": "kyleSentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kyleConnectDate",
              "displayName": "kyleConnectDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hudsonSentDate",
              "displayName": "hudsonSentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hudsonConnectDate",
              "displayName": "hudsonConnectDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hubspotSync",
              "displayName": "hubspotSync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hudsonNotes",
              "displayName": "hudsonNotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "inviteResults",
              "displayName": "inviteResults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "connectionDegree",
              "displayName": "connectionDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "previousRole",
              "displayName": "previousRole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "4b8634ec-3355-4cd6-81f8-1c5737e33d1b",
      "name": "Update Status in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6208,
        832
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "7f1511d4-d6ec-4677-903b-60fe80acc329",
      "name": "Next Lead",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4752,
        528
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "list",
          "cachedResultName": "LinkedIn Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "defaultProfileUrl",
              "lookupValue": "={{ $('Process One at a Time').item.json['defaultProfileUrl'] ?? $('Process One at a Time').item.json['profileUrl'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6032,
        832
      ],
      "id": "97e7f55c-30ea-420d-9ea9-f9e8f32b552c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json['defaultProfileUrl'] ?? $json['profileUrl'] }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json['segment'] }}",
              "rightValue": "Skip",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "74d0d1bc-23d7-4f86-9973-468943edd504",
              "leftValue": "={{ ($('Take one profile').item.json.profile === 'kyle' && !$json.kyleSentDate) || ($('Take one profile').item.json.profile === 'hudson' && !$json.hudsonSentDate) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "7f0037ba-4496-46d6-9bbb-c8c748be69c3",
      "name": "Filter Ready Leads",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        3664,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) return [];\nconst profile = items[0].json.profile;\nlet maxItems;\nif (profile === 'kyle') {\n  maxItems = 8 + Math.floor(Math.random() * 4);\n} else {\n  const rampStart = new Date('2026-02-10');\n  const days = Math.min(30, Math.max(0, Math.floor((Date.now() - rampStart) / 86400000)));\n  const minPerRun = 4 + (days / 30) * 4;\n  const maxPerRun = 6 + (days / 30) * 5;\n  const range = maxPerRun - minPerRun + 1;\n  maxItems = minPerRun + Math.floor(Math.random() * range);\n}\nconst out = items.map((item, i) => ({ json: { ...item.json, maxItems: i === 0 ? maxItems : undefined } }));\nif (out[0]) out[0].json.maxItems = maxItems;\nreturn out;"
      },
      "id": "wf2-test-prepare-limit",
      "name": "Prepare limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4144,
        752
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor( Math.random() * 135) + 5 }}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3072,
        608
      ],
      "id": "7067c636-295b-49d8-b137-66768e27d862",
      "name": "Wait",
      "webhookId": "10738656-08f5-421b-8125-3980acc2fdb7"
    },
    {
      "parameters": {
        "amount": 120
      },
      "id": "ace642d1-c696-4281-8779-ffe8176de576",
      "name": "Wait for Execution (120s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5168,
        720
      ],
      "webhookId": "e66b1416-4fd0-4893-a988-28cfcd7403f9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "critical-error-check",
              "leftValue": "={{ $json.isCriticalError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "critical-error-check",
      "name": "Critical Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5872,
        736
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0A6ES56MU2"
        },
        "text": "={{ '🚨 *LinkedIn Outreach STOPPED - Critical Error*\\n\\n*Error Type:* ' + $json.criticalErrorType + '\\n*Message:* ' + $json.resultMessage + '\\n*Profile:* ' + ($json.profileUrl || $json.defaultProfileUrl || '') + '\\n\\n*Action Required:* Check PhantomBuster credentials and LinkedIn session cookie.\\n\\n_Workflow has been stopped to prevent further issues. Please fix credentials and manually restart._' }}",
        "otherOptions": {}
      },
      "id": "slack-critical-error",
      "name": "Slack: Critical Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        6096,
        448
      ],
      "webhookId": "6038d27e-b8eb-4160-8d74-046aad2978de",
      "credentials": {
        "slackApi": {
          "id": "wkLpZSqhXl2iesnC",
          "name": "Chrt Slack App"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "={{ 'Critical LinkedIn error: ' + $('Parse Result').item.json.criticalErrorType + ' - ' + $('Parse Result').item.json.resultMessage }}"
      },
      "id": "stop-on-critical-error",
      "name": "Stop Workflow (Critical Error)",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        6320,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-retry-check",
              "leftValue": "={{ $json.shouldRetry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-retry-check",
      "name": "Should Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5664,
        720
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "wait-for-retry",
      "name": "Wait 30s for Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6256,
        704
      ],
      "webhookId": "retry-wait-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Mark this as a retry attempt\nconst originalData = $('Process One at a Time').item.json;\n\nreturn [{\n  json: {\n    ...originalData,\n    _retryAttempt: true\n  }\n}];"
      },
      "id": "mark-retry-attempt",
      "name": "Mark as Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6432,
        1024
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2192,
        1040
      ],
      "id": "e96e8079-64bb-4dd7-b4c7-e2feb21c10f7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8511f2cd-4b2a-47b9-b337-6e3ecf0dbc48",
              "leftValue": "={{ $json.connectionFrom }}",
              "rightValue": "={{  $('Take one profile').item.json.profile }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "942f8937-37d0-406c-a2ad-b15791fcc9c3",
              "leftValue": "={{ $json.connectionFrom }}",
              "rightValue": "both",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        3456,
        752
      ],
      "id": "5cc268de-4f0a-4c4d-8197-9b32e486dcfa",
      "name": "Filter"
    }
  ],
  "connections": {
    "Schedule Kyle": {
      "main": [
        [
          {
            "node": "Fetch Doppler cookies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set profile Kyle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Hudson": {
      "main": [
        [
          {
            "node": "Fetch Doppler cookies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set profile Hudson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set profile Kyle": {
      "main": [
        [
          {
            "node": "selectProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set profile Hudson": {
      "main": [
        [
          {
            "node": "selectProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "selectProfile": {
      "main": [
        [
          {
            "node": "Profile + Doppler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Doppler cookies": {
      "main": [
        [
          {
            "node": "Profile + Doppler",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Profile + Doppler": {
      "main": [
        [
          {
            "node": "Build profile items with cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build profile items with cookies": {
      "main": [
        [
          {
            "node": "Take one profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take one profile": {
      "main": [
        [
          {
            "node": "Get Ready Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Score (Highest First)": {
      "main": [
        [
          {
            "node": "Prepare limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare limit": {
      "main": [
        [
          {
            "node": "Limit to 10/run (20/day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 10/run (20/day)": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One at a Time": {
      "main": [
        [
          {
            "node": "Next Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random Delay (30-120s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay (30-120s)": {
      "main": [
        [
          {
            "node": "PhantomBuster: Send Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PhantomBuster: Send Connection": {
      "main": [
        [
          {
            "node": "Wait for Execution (120s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Result": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Should Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Error?": {
      "main": [
        [
          {
            "node": "Slack: Critical Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Critical Error Alert": {
      "main": [
        [
          {
            "node": "Stop Workflow (Critical Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status in Sheet": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Update Status in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready Leads": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Leads": {
      "main": [
        [
          {
            "node": "Sort by Score (Highest First)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Ready Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Execution (120s)": {
      "main": [
        [
          {
            "node": "Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry?": {
      "main": [
        [
          {
            "node": "Wait 30s for Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Critical Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s for Retry": {
      "main": [
        [
          {
            "node": "Mark as Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Retry": {
      "main": [
        [
          {
            "node": "PhantomBuster: Send Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch Doppler cookies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set profile Kyle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter Ready Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "YWP69Qgq0ZlCN7Gj"
  },
  "staticData": {
    "node:Schedule Kyle": {
      "recurrenceRules": []
    },
    "node:Schedule Hudson": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "757063b9-8360-44ff-a13d-a71e8f9232ab",
  "activeVersionId": "ba5e1614-d7d6-4c5b-9e27-3ae59ebe94cb",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-24T03:18:14.338Z",
      "createdAt": "2025-12-24T03:18:14.338Z",
      "role": "workflow:owner",
      "workflowId": "kjjYKQEXv67Vl5MS",
      "projectId": "O7lTivDfRl72aS23"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-04T17:45:37.000Z",
    "createdAt": "2026-02-04T17:45:12.598Z",
    "versionId": "ba5e1614-d7d6-4c5b-9e27-3ae59ebe94cb",
    "workflowId": "kjjYKQEXv67Vl5MS",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "30 8 * * 1-6"
              },
              {
                "field": "cronExpression",
                "expression": "10 16 * * 1-6"
              }
            ]
          }
        },
        "id": "wf2-test-schedule-kyle",
        "name": "Schedule Kyle",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          2208,
          656
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "40 8 * * 1-6"
              },
              {
                "field": "cronExpression",
                "expression": "20 16 * * 1-6"
              }
            ]
          }
        },
        "id": "wf2-test-schedule-hudson",
        "name": "Schedule Hudson",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          2208,
          848
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { profileIndex: 0 } }];"
        },
        "id": "wf2-test-set-kyle",
        "name": "Set profile Kyle",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2368,
          656
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { profileIndex: 1 } }];"
        },
        "id": "wf2-test-set-hudson",
        "name": "Set profile Hudson",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2368,
          848
        ]
      },
      {
        "parameters": {
          "jsCode": "const kyle = $('Set profile Kyle').isExecuted ? $('Set profile Kyle').first() : null;\nconst hudson = $('Set profile Hudson').isExecuted ? $('Set profile Hudson').first() : null;\nconst selected = kyle || hudson;\nif (!selected) throw new Error('No profile set');\nreturn [{ json: { profileIndex: selected.json.profileIndex } }];"
        },
        "id": "wf2-test-select-profile",
        "name": "selectProfile",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2528,
          752
        ]
      },
      {
        "parameters": {
          "url": "https://api.doppler.com/v3/configs/config/secrets",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "project",
                "value": "developers"
              },
              {
                "name": "config",
                "value": "hudson"
              }
            ]
          },
          "options": {}
        },
        "id": "wf2-test-fetch-doppler",
        "name": "Fetch Doppler cookies",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2368,
          448
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "dz2vX61Mpayywfq1",
            "name": "Doppler API"
          }
        }
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "id": "wf2-test-merge-doppler",
        "name": "Profile + Doppler",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          2688,
          752
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst secrets = item.json.secrets || item.json || {};\nconst kyleCookie = secrets.LINKEDIN_KYLE_SESSION_COOKIE;\nconst hudsonCookie = secrets.LINKEDIN_HUDSON_SESSION_COOKIE;\nconst userAgents = { kyle: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36', hudson: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36' };\nreturn [{ json: { profile: 'kyle', sessionCookie: kyleCookie, userAgent: userAgents.kyle } }, { json: { profile: 'hudson', sessionCookie: hudsonCookie, userAgent: userAgents.hudson } }];"
        },
        "id": "wf2-test-build-profile",
        "name": "Build profile items with cookies",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2848,
          752
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nif (!items.length) return [];\nlet idx;\ntry { idx = $('selectProfile').first().json.profileIndex; } catch (e) { idx = 0; }\nif (idx === undefined || idx === null) idx = new Date().getDate() % 2;\nreturn [items[Math.min(idx, items.length - 1)]];"
        },
        "id": "wf2-test-take-one",
        "name": "Take one profile",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3008,
          752
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "=1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Master List",
            "mode": "name"
          },
          "options": {}
        },
        "id": "ac4c7dd1-c381-4886-8e6d-2d726778a41b",
        "name": "Get Ready Leads",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          3264,
          752
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "score",
                "order": "descending"
              }
            ]
          },
          "options": {}
        },
        "id": "254e1cf2-8d02-4677-8a37-0aac504ff4e7",
        "name": "Sort by Score (Highest First)",
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          3952,
          752
        ]
      },
      {
        "parameters": {
          "maxItems": "={{ $('Prepare limit').first().json.maxItems ?? (8 + Math.floor(Math.random()*2)) }}"
        },
        "id": "f25d40b4-754d-42da-b306-ede874c46532",
        "name": "Limit to 10/run (20/day)",
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          4304,
          720
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "f5cbb0e2-eda1-4696-8ffa-a9b62101174a",
        "name": "Process One at a Time",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          4528,
          720
        ]
      },
      {
        "parameters": {
          "amount": "={{ Math.floor(Math.random() * 90) + 30}}"
        },
        "id": "a365385c-f2da-4c66-a435-7209aca2ebcd",
        "name": "Random Delay (30-120s)",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4752,
          720
        ],
        "webhookId": "cf5227ae-6b6b-4af6-b694-fdee3769710c"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.phantombuster.com/api/v2/agents/launch",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  id: \"3044757503240384\",\n  bonusArgument: {\n    profileUrl: $json['defaultProfileUrl'] ?? $json['profileUrl'],\n    sessionCookie: $('Take one profile').first().json.sessionCookie?.computed ?? $('Take one profile').first().json.sessionCookie,\n    userAgent: $('Take one profile').first().json.userAgent\n  }\n}) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "a1fcfe6f-890c-4d96-bffb-505817f2e767",
        "name": "PhantomBuster: Send Connection",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4976,
          720
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "credentials": {
          "httpHeaderAuth": {
            "id": "KWeabljbYSzoLpjI",
            "name": "Phantom Header Auth"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=' + \"3044757503240384\" + '&containerId=' + $('PhantomBuster: Send Connection').item.json.containerId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 30000
          }
        },
        "id": "c76d6c0c-b7bb-4f07-b9a2-e6f9bc58120b",
        "name": "Fetch Result",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5344,
          720
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "KWeabljbYSzoLpjI",
            "name": "Phantom Header Auth"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Parse PhantomBuster result and determine connection status\nconst originalData = $('Process One at a Time').item.json;\nconst result = $('Fetch Result').item.json;\n\n// Check if this is a retry attempt\nconst isRetryAttempt = originalData._retryAttempt === true;\n\nlet connectionStatus = 'Unknown';\nlet resultMessage = '';\nlet isCriticalError = false;\nlet criticalErrorType = null;\nlet shouldRetry = false;\n\n// First check: Did the phantom finish successfully?\nconst phantomFinished = result.status === 'finished';\nconst output = result.output || '';\nconst outputLower = output.toLowerCase();\n\n// Check for exit code in output\nconst exitCodeMatch = output.match(/exit code: (\\d+)/);\nconst exitCode = exitCodeMatch ? parseInt(exitCodeMatch[1]) : null;\n\n// Extract the processed profile URL from output to confirm it's the right one\nconst profileMatch = output.match(/Processing (https:\\/\\/(?:www\\.)?linkedin\\.com\\/in\\/[^\\s.]+)/i);\nconst processedProfile = profileMatch ? profileMatch[1] : null;\n\n// SALES NAV URL DETECTION - Should never be processing these\nconst inputProfileUrl = originalData['defaultProfileUrl'] || originalData['profileUrl'] || '';\nif (inputProfileUrl.includes('/sales/lead/') || inputProfileUrl.includes('/sales/people/')) {\n  isCriticalError = true;\n  criticalErrorType = 'INVALID_URL_FORMAT';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'Sales Navigator URL detected - Master List has wrong profileUrl format';\n}\n\n// CRITICAL ERROR DETECTION - These should ALWAYS stop the workflow (no retry)\nif (outputLower.includes('disconnected by linkedin')) {\n  isCriticalError = true;\n  criticalErrorType = 'DISCONNECTED';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'Disconnected by LinkedIn - session may be flagged';\n} else if (outputLower.includes('no valid credentials') || outputLower.includes('invalid credentials') || exitCode === 87) {\n  isCriticalError = true;\n  criticalErrorType = 'INVALID_CREDENTIALS';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'Invalid LinkedIn credentials - cookie needs refresh';\n} else if (outputLower.includes('session expired') || outputLower.includes('not logged in') || outputLower.includes('login required')) {\n  isCriticalError = true;\n  criticalErrorType = 'SESSION_EXPIRED';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'LinkedIn session expired - need to re-authenticate';\n} else if (outputLower.includes('account restricted') || outputLower.includes('account suspended')) {\n  isCriticalError = true;\n  criticalErrorType = 'ACCOUNT_RESTRICTED';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'LinkedIn account may be restricted';\n} else if (outputLower.includes('rate limit') || outputLower.includes('too many requests')) {\n  isCriticalError = true;\n  criticalErrorType = 'RATE_LIMITED';\n  connectionStatus = 'Critical Error';\n  resultMessage = 'LinkedIn rate limit reached';\n} \n// RETRYABLE ERRORS - can't connect profile (retry once)\nelse if (outputLower.includes(\"can't connect profile\") || outputLower.includes('cannot connect profile')) {\n  if (isRetryAttempt) {\n    // Second attempt also failed - now it's critical\n    isCriticalError = true;\n    criticalErrorType = 'CONNECTION_FAILED_AFTER_RETRY';\n    connectionStatus = 'Critical Error';\n    resultMessage = 'Cannot connect to LinkedIn profile - failed after retry';\n  } else {\n    // First attempt - retry it\n    shouldRetry = true;\n    connectionStatus = 'Retry Needed';\n    resultMessage = 'Cannot connect to LinkedIn profile - will retry';\n  }\n} else if (!phantomFinished) {\n  connectionStatus = result.status === 'running' ? 'Still Running' : 'Error';\n  resultMessage = `Phantom status: ${result.status}`;\n} else if (exitCode !== 0 && exitCode !== null) {\n  connectionStatus = 'Error';\n  resultMessage = `Exit code: ${exitCode}`;\n  if (exitCode === 87 || (exitCode === 1 && !output.includes('profiles have been processed'))) {\n    isCriticalError = true;\n    criticalErrorType = 'EXIT_CODE_ERROR';\n    resultMessage = `PhantomBuster error (exit code ${exitCode}) - possible credential issue`;\n  }\n} else {\n  // Phantom finished with exit code 0 - parse the output for result\n  if (outputLower.includes('invitation sent') || outputLower.includes('invite sent')) {\n    connectionStatus = 'Request Sent';\n    resultMessage = 'Invitation sent successfully';\n  } else if (outputLower.includes('already connected')) {\n    connectionStatus = 'Already Connected';\n    resultMessage = 'Already a 1st degree connection';\n  } else if (outputLower.includes('already invited') || outputLower.includes('pending invitation')) {\n    connectionStatus = 'Already Invited';\n    resultMessage = 'Invitation already pending';\n  } else if (outputLower.includes(\"couldn't find connect button\") || outputLower.includes(\"could not find connect\")) {\n    connectionStatus = 'Cannot Connect';\n    resultMessage = 'Connect button not available';\n  } else if (outputLower.includes('profile is not available') || outputLower.includes('page not found')) {\n    connectionStatus = 'Profile Not Found';\n    resultMessage = 'LinkedIn profile not accessible';\n  } else if (output.includes('profiles have been processed') && exitCode === 0) {\n    connectionStatus = 'Request Sent';\n    resultMessage = 'Processed successfully';\n  } else {\n    connectionStatus = 'Completed';\n    resultMessage = 'Phantom completed - check manually';\n  }\n}\n\n// Also check resultObject if available\nif (result.resultObject) {\n  const ro = Array.isArray(result.resultObject) ? result.resultObject[0] : result.resultObject;\n  if (ro && ro.status) {\n    resultMessage = ro.status;\n  }\n}\n\nreturn [{\n  json: {\n    profileUrl: originalData['defaultProfileUrl'] || originalData['profileUrl'],\n    status: connectionStatus,\n    resultMessage: resultMessage,\n    sentDate: new Date().toISOString().split('T')[0],\n    isCriticalError: isCriticalError,\n    criticalErrorType: criticalErrorType,\n    shouldRetry: shouldRetry,\n    isRetryAttempt: isRetryAttempt,\n    _debug: {\n      phantomStatus: result.status,\n      exitCode: exitCode,\n      processedProfile: processedProfile,\n      outputSnippet: output.substring(output.length - 500)\n    }\n  }\n}];"
        },
        "id": "c595128b-c344-4bdd-a993-caeba0fa3639",
        "name": "Parse Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5520,
          720
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "=1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "Master List"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "kyleSentDate": "={{ $('Take one profile').first().json.profile === 'kyle' ? $('Parse Result').item.json.sentDate : $('Process One at a Time').item.json.kyleSentDate }}",
              "hudsonSentDate": "={{ $('Take one profile').first().json.profile === 'hudson' ? $('Parse Result').item.json.sentDate : $('Process One at a Time').item.json.hudsonSentDate }}",
              "defaultProfileUrl": "={{ $('Process One at a Time').item.json.defaultProfileUrl ?? $('Process One at a Time').item.json.profileUrl }}",
              "inviteResults": "={{ $('Parse Result').item.json.status }}"
            },
            "matchingColumns": [
              "defaultProfileUrl"
            ],
            "schema": [
              {
                "id": "defaultProfileUrl",
                "displayName": "defaultProfileUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fullName",
                "displayName": "fullName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "firstName",
                "displayName": "firstName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "lastName",
                "displayName": "lastName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "school",
                "displayName": "school",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "schoolDegree",
                "displayName": "schoolDegree",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "company",
                "displayName": "company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyUrl",
                "displayName": "companyUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyId",
                "displayName": "companyId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobTitle",
                "displayName": "jobTitle",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobDateRange",
                "displayName": "jobDateRange",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "adj industry",
                "displayName": "adj industry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "headline",
                "displayName": "headline",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "location",
                "displayName": "location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "company2",
                "displayName": "company2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyUrl2",
                "displayName": "companyUrl2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyId2",
                "displayName": "companyId2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobTitle2",
                "displayName": "jobTitle2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobDateRange2",
                "displayName": "jobDateRange2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "score",
                "displayName": "score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "segment",
                "displayName": "segment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "reason",
                "displayName": "reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "added",
                "displayName": "added",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "kyleSentDate",
                "displayName": "kyleSentDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "kyleConnectDate",
                "displayName": "kyleConnectDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hudsonSentDate",
                "displayName": "hudsonSentDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hudsonConnectDate",
                "displayName": "hudsonConnectDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hubspotSync",
                "displayName": "hubspotSync",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hudsonNotes",
                "displayName": "hudsonNotes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "inviteResults",
                "displayName": "inviteResults",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "connectionDegree",
                "displayName": "connectionDegree",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "previousRole",
                "displayName": "previousRole",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "cellFormat": "USER_ENTERED"
          }
        },
        "id": "4b8634ec-3355-4cd6-81f8-1c5737e33d1b",
        "name": "Update Status in Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          6208,
          832
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {},
        "id": "7f1511d4-d6ec-4677-903b-60fe80acc329",
        "name": "Next Lead",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          4752,
          528
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
            "mode": "list",
            "cachedResultName": "LinkedIn Leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Master List",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "defaultProfileUrl",
                "lookupValue": "={{ $('Process One at a Time').item.json['defaultProfileUrl'] ?? $('Process One at a Time').item.json['profileUrl'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          6032,
          832
        ],
        "id": "97e7f55c-30ea-420d-9ea9-f9e8f32b552c",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "id-1",
                "leftValue": "={{ $json['defaultProfileUrl'] ?? $json['profileUrl'] }}",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              },
              {
                "id": "id-3",
                "leftValue": "={{ $json['segment'] }}",
                "rightValue": "Skip",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "74d0d1bc-23d7-4f86-9973-468943edd504",
                "leftValue": "={{ ($('Take one profile').item.json.profile === 'kyle' && !$json.kyleSentDate) || ($('Take one profile').item.json.profile === 'hudson' && !$json.hudsonSentDate) }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "7f0037ba-4496-46d6-9bbb-c8c748be69c3",
        "name": "Filter Ready Leads",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          3664,
          752
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nif (!items.length) return [];\nconst profile = items[0].json.profile;\nlet maxItems;\nif (profile === 'kyle') {\n  maxItems = 8 + Math.floor(Math.random() * 4);\n} else {\n  const rampStart = new Date('2026-02-10');\n  const days = Math.min(30, Math.max(0, Math.floor((Date.now() - rampStart) / 86400000)));\n  const minPerRun = 4 + (days / 30) * 4;\n  const maxPerRun = 6 + (days / 30) * 5;\n  const range = maxPerRun - minPerRun + 1;\n  maxItems = minPerRun + Math.floor(Math.random() * range);\n}\nconst out = items.map((item, i) => ({ json: { ...item.json, maxItems: i === 0 ? maxItems : undefined } }));\nif (out[0]) out[0].json.maxItems = maxItems;\nreturn out;"
        },
        "id": "wf2-test-prepare-limit",
        "name": "Prepare limit",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4144,
          752
        ]
      },
      {
        "parameters": {
          "amount": "={{ Math.floor( Math.random() * 135) + 5 }}",
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3072,
          608
        ],
        "id": "7067c636-295b-49d8-b137-66768e27d862",
        "name": "Wait",
        "webhookId": "10738656-08f5-421b-8125-3980acc2fdb7"
      },
      {
        "parameters": {
          "amount": 120
        },
        "id": "ace642d1-c696-4281-8779-ffe8176de576",
        "name": "Wait for Execution (120s)",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          5168,
          720
        ],
        "webhookId": "e66b1416-4fd0-4893-a988-28cfcd7403f9"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "critical-error-check",
                "leftValue": "={{ $json.isCriticalError }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "critical-error-check",
        "name": "Critical Error?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          5872,
          736
        ]
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "id",
            "value": "C0A6ES56MU2"
          },
          "text": "={{ '🚨 *LinkedIn Outreach STOPPED - Critical Error*\\n\\n*Error Type:* ' + $json.criticalErrorType + '\\n*Message:* ' + $json.resultMessage + '\\n*Profile:* ' + ($json.profileUrl || $json.defaultProfileUrl || '') + '\\n\\n*Action Required:* Check PhantomBuster credentials and LinkedIn session cookie.\\n\\n_Workflow has been stopped to prevent further issues. Please fix credentials and manually restart._' }}",
          "otherOptions": {}
        },
        "id": "slack-critical-error",
        "name": "Slack: Critical Error Alert",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.2,
        "position": [
          6096,
          448
        ],
        "webhookId": "6038d27e-b8eb-4160-8d74-046aad2978de",
        "credentials": {
          "slackApi": {
            "id": "wkLpZSqhXl2iesnC",
            "name": "Chrt Slack App"
          }
        }
      },
      {
        "parameters": {
          "errorMessage": "={{ 'Critical LinkedIn error: ' + $('Parse Result').item.json.criticalErrorType + ' - ' + $('Parse Result').item.json.resultMessage }}"
        },
        "id": "stop-on-critical-error",
        "name": "Stop Workflow (Critical Error)",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          6320,
          448
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "should-retry-check",
                "leftValue": "={{ $json.shouldRetry }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "should-retry-check",
        "name": "Should Retry?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          5664,
          720
        ]
      },
      {
        "parameters": {
          "amount": 30
        },
        "id": "wait-for-retry",
        "name": "Wait 30s for Retry",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          6256,
          704
        ],
        "webhookId": "retry-wait-webhook"
      },
      {
        "parameters": {
          "jsCode": "// Mark this as a retry attempt\nconst originalData = $('Process One at a Time').item.json;\n\nreturn [{\n  json: {\n    ...originalData,\n    _retryAttempt: true\n  }\n}];"
        },
        "id": "mark-retry-attempt",
        "name": "Mark as Retry",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6432,
          1024
        ]
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          2192,
          1040
        ],
        "id": "e96e8079-64bb-4dd7-b4c7-e2feb21c10f7",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "8511f2cd-4b2a-47b9-b337-6e3ecf0dbc48",
                "leftValue": "={{ $json.connectionFrom }}",
                "rightValue": "={{  $('Take one profile').item.json.profile }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "942f8937-37d0-406c-a2ad-b15791fcc9c3",
                "leftValue": "={{ $json.connectionFrom }}",
                "rightValue": "both",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          3456,
          752
        ],
        "id": "5cc268de-4f0a-4c4d-8197-9b32e486dcfa",
        "name": "Filter"
      }
    ],
    "connections": {
      "Schedule Kyle": {
        "main": [
          [
            {
              "node": "Fetch Doppler cookies",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set profile Kyle",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Hudson": {
        "main": [
          [
            {
              "node": "Fetch Doppler cookies",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set profile Hudson",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set profile Kyle": {
        "main": [
          [
            {
              "node": "selectProfile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set profile Hudson": {
        "main": [
          [
            {
              "node": "selectProfile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "selectProfile": {
        "main": [
          [
            {
              "node": "Profile + Doppler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Doppler cookies": {
        "main": [
          [
            {
              "node": "Profile + Doppler",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Profile + Doppler": {
        "main": [
          [
            {
              "node": "Build profile items with cookies",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build profile items with cookies": {
        "main": [
          [
            {
              "node": "Take one profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Take one profile": {
        "main": [
          [
            {
              "node": "Get Ready Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort by Score (Highest First)": {
        "main": [
          [
            {
              "node": "Prepare limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare limit": {
        "main": [
          [
            {
              "node": "Limit to 10/run (20/day)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit to 10/run (20/day)": {
        "main": [
          [
            {
              "node": "Process One at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process One at a Time": {
        "main": [
          [
            {
              "node": "Next Lead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Random Delay (30-120s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Random Delay (30-120s)": {
        "main": [
          [
            {
              "node": "PhantomBuster: Send Connection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PhantomBuster: Send Connection": {
        "main": [
          [
            {
              "node": "Wait for Execution (120s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Result": {
        "main": [
          [
            {
              "node": "Parse Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Result": {
        "main": [
          [
            {
              "node": "Should Retry?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Critical Error?": {
        "main": [
          [
            {
              "node": "Slack: Critical Error Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack: Critical Error Alert": {
        "main": [
          [
            {
              "node": "Stop Workflow (Critical Error)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status in Sheet": {
        "main": [
          [
            {
              "node": "Process One at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Update Status in Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Ready Leads": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Ready Leads": {
        "main": [
          [
            {
              "node": "Sort by Score (Highest First)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get Ready Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Execution (120s)": {
        "main": [
          [
            {
              "node": "Fetch Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Retry?": {
        "main": [
          [
            {
              "node": "Wait 30s for Retry",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Critical Error?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 30s for Retry": {
        "main": [
          [
            {
              "node": "Mark as Retry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark as Retry": {
        "main": [
          [
            {
              "node": "PhantomBuster: Send Connection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Set profile Kyle",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Doppler cookies",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Filter Ready Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hudson Lorfing",
    "name": "Version ba5e1614",
    "description": "added additional logic to the filter to only get the leads with the correct connections from",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-12-17T14:25:00.955Z",
      "createdAt": "2025-12-17T14:25:00.955Z",
      "id": "ST1cKCxkQ4kcD3uk",
      "name": "linkedin"
    }
  ],
  "_folderPath": "linkedin",
  "_fileName": "2.-linkedin-outreach-(phantombuster).json"
}