workflows/linkedin/2.-linkedin-outreach-(phantombuster).json
{
  "updatedAt": "2026-01-19T20:53:02.043Z",
  "createdAt": "2025-12-17T17:34:32.062Z",
  "id": "kjjYKQEXv67Vl5MS",
  "name": "2. LinkedIn Outreach (PhantomBuster)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "=cronExpression",
              "expression": "30 8 * * 1-6"
            },
            {
              "field": "cronExpression",
              "expression": "10 16 * * 1-6"
            }
          ]
        }
      },
      "id": "c3c77cfc-1fdc-4c58-86dd-855f56444122",
      "name": "Twice Daily (9am, 2pm)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        3200,
        720
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master List",
          "mode": "name"
        },
        "options": {}
      },
      "id": "ac4c7dd1-c381-4886-8e6d-2d726778a41b",
      "name": "Get Ready Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3632,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "254e1cf2-8d02-4677-8a37-0aac504ff4e7",
      "name": "Sort by Score (Highest First)",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        4080,
        720
      ]
    },
    {
      "parameters": {
        "maxItems": "={{ Math.floor(Math.random()*2)+8 }}"
      },
      "id": "f25d40b4-754d-42da-b306-ede874c46532",
      "name": "Limit to 10/run (20/day)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4304,
        720
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f5cbb0e2-eda1-4696-8ffa-a9b62101174a",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4528,
        720
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 90) + 30}}"
      },
      "id": "a365385c-f2da-4c66-a435-7209aca2ebcd",
      "name": "Random Delay (30-120s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4752,
        720
      ],
      "webhookId": "cf5227ae-6b6b-4af6-b694-fdee3769710c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  id: \"3044757503240384\",\n  bonusArgument: {\n    profileUrl: $json['profileUrl']\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1fcfe6f-890c-4d96-bffb-505817f2e767",
      "name": "PhantomBuster: Send Connection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        720
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=' + \"3044757503240384\" + '&containerId=' + $('PhantomBuster: Send Connection').item.json.containerId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c76d6c0c-b7bb-4f07-b9a2-e6f9bc58120b",
      "name": "Fetch Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5424,
        720
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse PhantomBuster result and determine connection status\n  const originalData = $('Process One at a Time').item.json;\n  const result = $('Fetch Result').item.json;\n\n  let connectionStatus = 'Unknown';\n  let resultMessage = '';\n\n  // First check: Did the phantom finish successfully?\n  const phantomFinished = result.status === 'finished';\n  const output = result.output || '';\n\n  // Check for exit code in output\n  const exitCodeMatch = output.match(/exit code: (\\d+)/);\n  const exitCode = exitCodeMatch ? parseInt(exitCodeMatch[1]) : null;\n\n  // Extract the processed profile URL from output to confirm it's the right one\n  const profileMatch = output.match(/Processing (https:\\/\\/(?:www\\.)?linkedin\\.com\\/in\\/[^\\s.]+)/i);\n  const processedProfile = profileMatch ? profileMatch[1] : null;\n\n  if (!phantomFinished) {\n    // Phantom didn't finish - check if still running or errored\n    connectionStatus = result.status === 'running' ? 'Still Running' : 'Error';\n    resultMessage = `Phantom status: ${result.status}`;\n  } else if (exitCode !== 0 && exitCode !== null) {\n    // Non-zero exit code = error\n    connectionStatus = 'Error';\n    resultMessage = `Exit code: ${exitCode}`;\n  } else {\n    // Phantom finished with exit code 0 - parse the output for result\n\n    // Look for specific status messages in output (case insensitive)\n    const outputLower = output.toLowerCase();\n\n    if (outputLower.includes('invitation sent') || outputLower.includes('invite sent')) {\n      connectionStatus = 'Request Sent';\n      resultMessage = 'Invitation sent successfully';\n    } else if (outputLower.includes('already connected')) {\n      connectionStatus = 'Already Connected';\n      resultMessage = 'Already a 1st degree connection';\n    } else if (outputLower.includes('already invited') || outputLower.includes('pending invitation')) {\n      connectionStatus = 'Already Invited';\n      resultMessage = 'Invitation already pending';\n    } else if (outputLower.includes(\"couldn't find connect button\") || outputLower.includes(\"could not find connect\")) {\n      connectionStatus = 'Cannot Connect';\n      resultMessage = 'Connect button not available';\n    } else if (outputLower.includes('profile is not available') || outputLower.includes('page not found')) {\n      connectionStatus = 'Profile Not Found';\n      resultMessage = 'LinkedIn profile not accessible';\n    } else if (outputLower.includes('rate limit') || outputLower.includes('too many requests')) {\n      connectionStatus = 'Rate Limited';\n      resultMessage = 'LinkedIn rate limit reached';\n    } else if (outputLower.includes('session expired') || outputLower.includes('not logged in')) {\n      connectionStatus = 'Session Error';\n      resultMessage = 'LinkedIn session expired';\n    } else if (output.includes('profiles have been processed') && exitCode === 0) {\n      // Finished processing but no explicit status - likely success\n      connectionStatus = 'Request Sent';\n      resultMessage = 'Processed successfully';\n    } else {\n      // Finished but couldn't determine specific outcome\n      connectionStatus = 'Completed';\n      resultMessage = 'Phantom completed - check manually';\n    }\n  }\n\n  // Also check resultObject if available (some phantoms return structured data)\n  if (result.resultObject) {\n    const ro = Array.isArray(result.resultObject) ? result.resultObject[0] : result.resultObject;\n    if (ro && ro.status) {\n      resultMessage = ro.status;\n    }\n  }\n\n  return [{\n    json: {\n      profileUrl: originalData['profileUrl'],\n      status: connectionStatus,\n      resultMessage: resultMessage,\n      sentDate: new Date().toISOString().split('T')[0],\n      // Debug fields (remove in production)\n      _debug: {\n        phantomStatus: result.status,\n        exitCode: exitCode,\n        processedProfile: processedProfile\n      }\n    }\n  }];"
      },
      "id": "c595128b-c344-4bdd-a993-caeba0fa3639",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5648,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Master List"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "kyleSentDate": "={{ $('Parse Result').item.json.sentDate }}",
            "profileUrl": "={{ $('Process One at a Time').item.json.profileUrl }}",
            "inviteResults": "={{ $('Parse Result').item.json.status }}"
          },
          "matchingColumns": [
            "profileUrl"
          ],
          "schema": [
            {
              "id": "profileUrl",
              "displayName": "profileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "schoolDegree",
              "displayName": "schoolDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl",
              "displayName": "companyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobDateRange",
              "displayName": "jobDateRange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adj industry",
              "displayName": "adj industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company2",
              "displayName": "company2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl2",
              "displayName": "companyUrl2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyId2",
              "displayName": "companyId2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobTitle2",
              "displayName": "jobTitle2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobDateRange2",
              "displayName": "jobDateRange2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segment",
              "displayName": "segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "added",
              "displayName": "added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kyleSentDate",
              "displayName": "kyleSentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kyleConnectDate",
              "displayName": "kyleConnectDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hudsonSentDate",
              "displayName": "hudsonSentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hudsonConnectDate",
              "displayName": "hudsonConnectDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hubspotSync",
              "displayName": "hubspotSync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hudsonNotes",
              "displayName": "hudsonNotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "inviteResults",
              "displayName": "inviteResults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "connectionDegree",
              "displayName": "connectionDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "previousRole",
              "displayName": "previousRole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "4b8634ec-3355-4cd6-81f8-1c5737e33d1b",
      "name": "Update Status in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6096,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "7f1511d4-d6ec-4677-903b-60fe80acc329",
      "name": "Next Lead",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4752,
        528
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "list",
          "cachedResultName": "LinkedIn Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "profileUrl",
              "lookupValue": "={{ $('Process One at a Time').item.json['profileUrl'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5872,
        720
      ],
      "id": "97e7f55c-30ea-420d-9ea9-f9e8f32b552c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json['profileUrl'] }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json['segment'] }}",
              "rightValue": "Skip",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "74d0d1bc-23d7-4f86-9973-468943edd504",
              "leftValue": "={{ $json.kyleSentDate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "7f0037ba-4496-46d6-9bbb-c8c748be69c3",
      "name": "Filter Ready Leads",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        3856,
        720
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor( Math.random() * 135) + 5 }}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3408,
        720
      ],
      "id": "7067c636-295b-49d8-b137-66768e27d862",
      "name": "Wait",
      "webhookId": "10738656-08f5-421b-8125-3980acc2fdb7"
    },
    {
      "parameters": {
        "amount": 120
      },
      "id": "ace642d1-c696-4281-8779-ffe8176de576",
      "name": "Wait for Execution (120s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5200,
        720
      ],
      "webhookId": "e66b1416-4fd0-4893-a988-28cfcd7403f9"
    }
  ],
  "connections": {
    "Twice Daily (9am, 2pm)": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Score (Highest First)": {
      "main": [
        [
          {
            "node": "Limit to 10/run (20/day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 10/run (20/day)": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One at a Time": {
      "main": [
        [
          {
            "node": "Next Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random Delay (30-120s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay (30-120s)": {
      "main": [
        [
          {
            "node": "PhantomBuster: Send Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PhantomBuster: Send Connection": {
      "main": [
        [
          {
            "node": "Wait for Execution (120s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Result": {
      "main": [
        [
          {
            "node": "Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Result": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status in Sheet": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Update Status in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready Leads": {
      "main": [
        [
          {
            "node": "Filter Ready Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Leads": {
      "main": [
        [
          {
            "node": "Sort by Score (Highest First)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Ready Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Execution (120s)": {
      "main": [
        [
          {
            "node": "Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "YWP69Qgq0ZlCN7Gj"
  },
  "staticData": {
    "node:Twice Daily (9am, 2pm)": {
      "recurrenceRules": [
        8,
        0
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "781b50a1-885a-4aba-b998-10370f431f47",
  "activeVersionId": "781b50a1-885a-4aba-b998-10370f431f47",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-24T03:18:14.338Z",
      "createdAt": "2025-12-24T03:18:14.338Z",
      "role": "workflow:owner",
      "workflowId": "kjjYKQEXv67Vl5MS",
      "projectId": "O7lTivDfRl72aS23"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-19T20:53:14.000Z",
    "createdAt": "2026-01-19T20:53:02.045Z",
    "versionId": "781b50a1-885a-4aba-b998-10370f431f47",
    "workflowId": "kjjYKQEXv67Vl5MS",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "=cronExpression",
                "expression": "30 8 * * 1-6"
              },
              {
                "field": "cronExpression",
                "expression": "10 16 * * 1-6"
              }
            ]
          }
        },
        "id": "c3c77cfc-1fdc-4c58-86dd-855f56444122",
        "name": "Twice Daily (9am, 2pm)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          3200,
          720
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "=1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Master List",
            "mode": "name"
          },
          "options": {}
        },
        "id": "ac4c7dd1-c381-4886-8e6d-2d726778a41b",
        "name": "Get Ready Leads",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          3632,
          720
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "score",
                "order": "descending"
              }
            ]
          },
          "options": {}
        },
        "id": "254e1cf2-8d02-4677-8a37-0aac504ff4e7",
        "name": "Sort by Score (Highest First)",
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          4080,
          720
        ]
      },
      {
        "parameters": {
          "maxItems": "={{ Math.floor(Math.random()*2)+8 }}"
        },
        "id": "f25d40b4-754d-42da-b306-ede874c46532",
        "name": "Limit to 10/run (20/day)",
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          4304,
          720
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "f5cbb0e2-eda1-4696-8ffa-a9b62101174a",
        "name": "Process One at a Time",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          4528,
          720
        ]
      },
      {
        "parameters": {
          "amount": "={{ Math.floor(Math.random() * 90) + 30}}"
        },
        "id": "a365385c-f2da-4c66-a435-7209aca2ebcd",
        "name": "Random Delay (30-120s)",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4752,
          720
        ],
        "webhookId": "cf5227ae-6b6b-4af6-b694-fdee3769710c"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.phantombuster.com/api/v2/agents/launch",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  id: \"3044757503240384\",\n  bonusArgument: {\n    profileUrl: $json['profileUrl']\n  }\n}) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "a1fcfe6f-890c-4d96-bffb-505817f2e767",
        "name": "PhantomBuster: Send Connection",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4976,
          720
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "credentials": {
          "httpHeaderAuth": {
            "id": "KWeabljbYSzoLpjI",
            "name": "Phantom Header Auth"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=' + \"3044757503240384\" + '&containerId=' + $('PhantomBuster: Send Connection').item.json.containerId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 30000
          }
        },
        "id": "c76d6c0c-b7bb-4f07-b9a2-e6f9bc58120b",
        "name": "Fetch Result",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5424,
          720
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "KWeabljbYSzoLpjI",
            "name": "Phantom Header Auth"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Parse PhantomBuster result and determine connection status\n  const originalData = $('Process One at a Time').item.json;\n  const result = $('Fetch Result').item.json;\n\n  let connectionStatus = 'Unknown';\n  let resultMessage = '';\n\n  // First check: Did the phantom finish successfully?\n  const phantomFinished = result.status === 'finished';\n  const output = result.output || '';\n\n  // Check for exit code in output\n  const exitCodeMatch = output.match(/exit code: (\\d+)/);\n  const exitCode = exitCodeMatch ? parseInt(exitCodeMatch[1]) : null;\n\n  // Extract the processed profile URL from output to confirm it's the right one\n  const profileMatch = output.match(/Processing (https:\\/\\/(?:www\\.)?linkedin\\.com\\/in\\/[^\\s.]+)/i);\n  const processedProfile = profileMatch ? profileMatch[1] : null;\n\n  if (!phantomFinished) {\n    // Phantom didn't finish - check if still running or errored\n    connectionStatus = result.status === 'running' ? 'Still Running' : 'Error';\n    resultMessage = `Phantom status: ${result.status}`;\n  } else if (exitCode !== 0 && exitCode !== null) {\n    // Non-zero exit code = error\n    connectionStatus = 'Error';\n    resultMessage = `Exit code: ${exitCode}`;\n  } else {\n    // Phantom finished with exit code 0 - parse the output for result\n\n    // Look for specific status messages in output (case insensitive)\n    const outputLower = output.toLowerCase();\n\n    if (outputLower.includes('invitation sent') || outputLower.includes('invite sent')) {\n      connectionStatus = 'Request Sent';\n      resultMessage = 'Invitation sent successfully';\n    } else if (outputLower.includes('already connected')) {\n      connectionStatus = 'Already Connected';\n      resultMessage = 'Already a 1st degree connection';\n    } else if (outputLower.includes('already invited') || outputLower.includes('pending invitation')) {\n      connectionStatus = 'Already Invited';\n      resultMessage = 'Invitation already pending';\n    } else if (outputLower.includes(\"couldn't find connect button\") || outputLower.includes(\"could not find connect\")) {\n      connectionStatus = 'Cannot Connect';\n      resultMessage = 'Connect button not available';\n    } else if (outputLower.includes('profile is not available') || outputLower.includes('page not found')) {\n      connectionStatus = 'Profile Not Found';\n      resultMessage = 'LinkedIn profile not accessible';\n    } else if (outputLower.includes('rate limit') || outputLower.includes('too many requests')) {\n      connectionStatus = 'Rate Limited';\n      resultMessage = 'LinkedIn rate limit reached';\n    } else if (outputLower.includes('session expired') || outputLower.includes('not logged in')) {\n      connectionStatus = 'Session Error';\n      resultMessage = 'LinkedIn session expired';\n    } else if (output.includes('profiles have been processed') && exitCode === 0) {\n      // Finished processing but no explicit status - likely success\n      connectionStatus = 'Request Sent';\n      resultMessage = 'Processed successfully';\n    } else {\n      // Finished but couldn't determine specific outcome\n      connectionStatus = 'Completed';\n      resultMessage = 'Phantom completed - check manually';\n    }\n  }\n\n  // Also check resultObject if available (some phantoms return structured data)\n  if (result.resultObject) {\n    const ro = Array.isArray(result.resultObject) ? result.resultObject[0] : result.resultObject;\n    if (ro && ro.status) {\n      resultMessage = ro.status;\n    }\n  }\n\n  return [{\n    json: {\n      profileUrl: originalData['profileUrl'],\n      status: connectionStatus,\n      resultMessage: resultMessage,\n      sentDate: new Date().toISOString().split('T')[0],\n      // Debug fields (remove in production)\n      _debug: {\n        phantomStatus: result.status,\n        exitCode: exitCode,\n        processedProfile: processedProfile\n      }\n    }\n  }];"
        },
        "id": "c595128b-c344-4bdd-a993-caeba0fa3639",
        "name": "Parse Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5648,
          720
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "=1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "Master List"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "kyleSentDate": "={{ $('Parse Result').item.json.sentDate }}",
              "profileUrl": "={{ $('Process One at a Time').item.json.profileUrl }}",
              "inviteResults": "={{ $('Parse Result').item.json.status }}"
            },
            "matchingColumns": [
              "profileUrl"
            ],
            "schema": [
              {
                "id": "profileUrl",
                "displayName": "profileUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fullName",
                "displayName": "fullName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "firstName",
                "displayName": "firstName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "lastName",
                "displayName": "lastName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "school",
                "displayName": "school",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "schoolDegree",
                "displayName": "schoolDegree",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "company",
                "displayName": "company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyUrl",
                "displayName": "companyUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyId",
                "displayName": "companyId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobTitle",
                "displayName": "jobTitle",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobDateRange",
                "displayName": "jobDateRange",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "adj industry",
                "displayName": "adj industry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "headline",
                "displayName": "headline",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "location",
                "displayName": "location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "company2",
                "displayName": "company2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyUrl2",
                "displayName": "companyUrl2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyId2",
                "displayName": "companyId2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobTitle2",
                "displayName": "jobTitle2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobDateRange2",
                "displayName": "jobDateRange2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "score",
                "displayName": "score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "segment",
                "displayName": "segment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "reason",
                "displayName": "reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "added",
                "displayName": "added",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "kyleSentDate",
                "displayName": "kyleSentDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "kyleConnectDate",
                "displayName": "kyleConnectDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hudsonSentDate",
                "displayName": "hudsonSentDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hudsonConnectDate",
                "displayName": "hudsonConnectDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hubspotSync",
                "displayName": "hubspotSync",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hudsonNotes",
                "displayName": "hudsonNotes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "inviteResults",
                "displayName": "inviteResults",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "connectionDegree",
                "displayName": "connectionDegree",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "previousRole",
                "displayName": "previousRole",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "cellFormat": "USER_ENTERED"
          }
        },
        "id": "4b8634ec-3355-4cd6-81f8-1c5737e33d1b",
        "name": "Update Status in Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          6096,
          800
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {},
        "id": "7f1511d4-d6ec-4677-903b-60fe80acc329",
        "name": "Next Lead",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          4752,
          528
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
            "mode": "list",
            "cachedResultName": "LinkedIn Leads",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Master List",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "profileUrl",
                "lookupValue": "={{ $('Process One at a Time').item.json['profileUrl'] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          5872,
          720
        ],
        "id": "97e7f55c-30ea-420d-9ea9-f9e8f32b552c",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "id-1",
                "leftValue": "={{ $json['profileUrl'] }}",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              },
              {
                "id": "id-3",
                "leftValue": "={{ $json['segment'] }}",
                "rightValue": "Skip",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "74d0d1bc-23d7-4f86-9973-468943edd504",
                "leftValue": "={{ $json.kyleSentDate }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "7f0037ba-4496-46d6-9bbb-c8c748be69c3",
        "name": "Filter Ready Leads",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          3856,
          720
        ]
      },
      {
        "parameters": {
          "amount": "={{ Math.floor( Math.random() * 135) + 5 }}",
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3408,
          720
        ],
        "id": "7067c636-295b-49d8-b137-66768e27d862",
        "name": "Wait",
        "webhookId": "10738656-08f5-421b-8125-3980acc2fdb7"
      },
      {
        "parameters": {
          "amount": 120
        },
        "id": "ace642d1-c696-4281-8779-ffe8176de576",
        "name": "Wait for Execution (120s)",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          5200,
          720
        ],
        "webhookId": "e66b1416-4fd0-4893-a988-28cfcd7403f9"
      }
    ],
    "connections": {
      "Twice Daily (9am, 2pm)": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort by Score (Highest First)": {
        "main": [
          [
            {
              "node": "Limit to 10/run (20/day)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit to 10/run (20/day)": {
        "main": [
          [
            {
              "node": "Process One at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process One at a Time": {
        "main": [
          [
            {
              "node": "Next Lead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Random Delay (30-120s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Random Delay (30-120s)": {
        "main": [
          [
            {
              "node": "PhantomBuster: Send Connection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PhantomBuster: Send Connection": {
        "main": [
          [
            {
              "node": "Wait for Execution (120s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Result": {
        "main": [
          [
            {
              "node": "Parse Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Result": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status in Sheet": {
        "main": [
          [
            {
              "node": "Process One at a Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Update Status in Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Ready Leads": {
        "main": [
          [
            {
              "node": "Filter Ready Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Ready Leads": {
        "main": [
          [
            {
              "node": "Sort by Score (Highest First)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get Ready Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Execution (120s)": {
        "main": [
          [
            {
              "node": "Fetch Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hudson Lorfing",
    "name": "Version 781b50a1",
    "description": "updated to max of 20, min of 16"
  },
  "tags": [
    {
      "updatedAt": "2025-12-17T14:25:00.955Z",
      "createdAt": "2025-12-17T14:25:00.955Z",
      "id": "ST1cKCxkQ4kcD3uk",
      "name": "linkedin"
    }
  ],
  "_folderPath": "linkedin",
  "_fileName": "2.-linkedin-outreach-(phantombuster).json"
}