workflows/linkedin/3.-connection-sync-→-hubspot.json
{
  "updatedAt": "2026-02-02T20:52:58.178Z",
  "createdAt": "2025-12-19T16:28:57.739Z",
  "id": "a56vnrPo9dsg5mmf",
  "name": "3. Connection Sync → HubSpot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Prepare data for HubSpot sync - now with real emails from Profile Scraper\nconst inputItems = $input.all();\n\n// Check if we have input data\nif (!inputItems || inputItems.length === 0) {\n  throw new Error('No input data received from previous node');\n}\n\nreturn inputItems.map(item => {\n  // Validate item structure\n  if (!item || !item.json) {\n    throw new Error('Invalid input item structure - missing json property');\n  }\n  \n  const data = item.json;\n  const fullName = data.fullName || '';\n  const firstName = data.firstName || '';\n  const lastName = data.lastName || '';\n  const companyName = data.companyName || data.company || '';\n  \n  // Use real email from Profile Scraper if available, otherwise generate placeholder\n  const realEmail = data.email || '';\n  const placeholderEmail = fullName\n    ? fullName.toLowerCase().replace(/[^a-z0-9]/g, '.').replace(/\\.+/g, '.').replace(/^\\.|\\.$/, '') + '@placeholder.linkedin'\n    : 'unknown@placeholder.linkedin';\n  const finalEmail = realEmail || placeholderEmail;\n  const hasRealEmail = !!realEmail;\n  \n  // Use company website from Profile Scraper if available, otherwise generate pseudo-domain\n  const companyWebsite = data.companyWebsite || '';\n  const domain = companyWebsite\n    ? companyWebsite.replace(/^https?:\\/\\//, '').replace(/^www\\./, '').split('/')[0]\n    : (companyName ? companyName.toLowerCase().replace(/[^a-z0-9]/g, '').substring(0, 30) + '.com' : '');\n\n  return {\n    json: {\n      ...data,\n      _hs: {\n        firstName: firstName,\n        lastName: lastName,\n        email: finalEmail,\n        hasRealEmail: hasRealEmail,\n        placeholderEmail: placeholderEmail,\n        domain: domain,\n        companyWebsite: companyWebsite,\n        companySize: (data.companySize || '').toString().replace(/[^0-9]/g, '') || '',\n        companyIndustry: data.companyIndustry || data.industry || '',\n        companyDescription: data.companyDescription || ''\n      }\n    }\n  };\n});"
      },
      "id": "2769d7b7-41b5-4050-b475-de6bc26ca2b9",
      "name": "Prepare HubSpot Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10976,
        1616
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'name', operator: 'EQ', value: $json.companyName || $json.company || '' }] }], properties: ['name', 'domain', 'industry'] }) }}",
        "options": {}
      },
      "id": "dc9d60f6-d961-4c98-8998-af2449446379",
      "name": "Search Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11840,
        1600
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "company-exists",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "81027544-30ea-4d71-9d8a-dc177ccb4a0c",
      "name": "Company Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12000,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { name: $('Has Company?').item.json.companyName || $('Has Company?').item.json.company || '', domain: $('Has Company?').item.json._hs.domain, linkedin_company_page: $('Has Company?').item.json.companyLinkedinUrl || $('Has Company?').item.json.companyUrl || '', industry: $('Has Company?').item.json.hsIndustry || $('Has Company?').item.json._hs.companyIndustry || '', website: $('Has Company?').item.json._hs.companyWebsite || '', numberofemployees: $('Has Company?').item.json._hs.companySize || '', description: $('Has Company?').item.json._hs.companyDescription || '' } }) }}",
        "options": {}
      },
      "id": "094ba8de-154c-477b-88c5-6edbf168fdae",
      "name": "Create Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12208,
        1776
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract company ID from search result (existing company)\nconst searchResult = $('Search Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: searchResult.results[0].id,\n      companyCreated: false\n    }\n  }\n}];"
      },
      "id": "0f9fa33c-e251-48a6-9ef3-f9bccc546982",
      "name": "Use Existing Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12352,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract company ID from create result (new company)\nconst createResult = $('Create Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: createResult.id,\n      companyCreated: true\n    }\n  }\n}];"
      },
      "id": "7d092099-5b71-4dc2-a1c7-baac0c17fc2d",
      "name": "Store New Company ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12448,
        1776
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'email', operator: 'EQ', value: $json._hs.email }] }], properties: ['firstname', 'lastname', 'email', 'jobtitle'] }) }}",
        "options": {}
      },
      "id": "dfa66675-ba5c-4b59-a19f-17f32358a4e3",
      "name": "Search Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12816,
        1616
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "contact-exists",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "797550be-4489-4adb-8abd-1eea9daa9cdd",
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13040,
        1616
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json.results[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { email: $('Merge Company Results').item.json._hs.hasRealEmail ? $('Merge Company Results').item.json._hs.email : undefined, firstname: $('Merge Company Results').item.json._hs.firstName, lastname: $('Merge Company Results').item.json._hs.lastName, jobtitle: $('Merge Company Results').item.json.jobTitle || '', company: $('Merge Company Results').item.json.companyName || $('Merge Company Results').item.json.company || '', hs_lead_status: 'CONNECTED' } }) }}",
        "options": {}
      },
      "id": "aef86f24-5491-4980-a262-d066421a4919",
      "name": "Update Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13264,
        1504
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { email: $('Merge Company Results').item.json._hs.hasRealEmail ? $('Merge Company Results').item.json._hs.email : undefined, firstname: $('Merge Company Results').item.json._hs.firstName, lastname: $('Merge Company Results').item.json._hs.lastName, jobtitle: $('Merge Company Results').item.json.jobTitle || '', company: $('Merge Company Results').item.json.companyName || $('Merge Company Results').item.json.company || '', hs_lead_status: 'CONNECTED', city: $('Merge Company Results').item.json.location || '' } }) }}",
        "options": {}
      },
      "id": "c7577a09-93c6-48b4-b9d2-a2022c875a63",
      "name": "Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13264,
        1728
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get contact ID from update result\nconst updateResult = $('Update Contact').item.json;\nconst mergedData = $('Merge Company Results').item.json;\n\nreturn [{\n  json: {\n    ...mergedData,\n    _hs: {\n      ...mergedData._hs,\n      contactId: updateResult.id,\n      contactCreated: false\n    }\n  }\n}];"
      },
      "id": "885b6a2f-343c-4e49-af82-48d66a7ffdf6",
      "name": "Store Updated Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13488,
        1504
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get contact ID from create result\nconst createResult = $('Create Contact').item.json;\nconst mergedData = $('Merge Company Results').item.json;\n\nreturn [{\n  json: {\n    ...mergedData,\n    _hs: {\n      ...mergedData._hs,\n      contactId: createResult.id,\n      contactCreated: true\n    }\n  }\n}];"
      },
      "id": "cbcebaf9-0590-4e9f-8444-9cdc566fb797",
      "name": "Store New Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13488,
        1728
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json._hs.contactId + '/associations/company/' + $json._hs.companyId + '/contact_to_company' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "68465c57-9be7-48c1-89b4-9352ebebe82d",
      "name": "Associate Contact → Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14576,
        1344
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json._hs.contactId + '/associations/company' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "get-contact-associations",
      "name": "Get Contact Associations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13952,
        1312
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if the contact is already associated with the target company\nconst mergeData = $('Merge Contact Results').item.json;\nconst associations = $input.first().json.results || [];\nconst targetCompanyId = mergeData._hs.companyId;\n\n// Check if target company is in the associations list\nconst alreadyAssociated = associations.some(a => a.toObjectId === targetCompanyId || a.toObjectId === String(targetCompanyId));\n\nreturn [{\n  json: {\n    ...mergeData,\n    _hs: {\n      ...mergeData._hs,\n      alreadyAssociated: alreadyAssociated\n    }\n  }\n}];"
      },
      "id": "check-association-exists",
      "name": "Check Association",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14112,
        1312
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "already-associated",
              "leftValue": "={{ $json._hs.alreadyAssociated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "already-associated-check",
      "name": "Already Associated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        14288,
        1312
      ]
    },
    {
      "parameters": {
        "jsCode": "// Final output formatting\nconst item = $('Merge Contact Results').item.json;\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    profileUrl: item.profileUrl,\n    fullName: item.fullName,\n    company: item.companyName || item.company || '',\n    hubspot: {\n      companyId: item._hs.companyId || null,\n      contactId: item._hs.contactId,\n      companyCreated: item._hs.companyCreated || false,\n      companySkipped: item._hs.companySkipped || false,\n      contactCreated: item._hs.contactCreated,\n      syncDate: today\n    }\n  }\n}];"
      },
      "id": "31732689-9943-4f38-a163-2d69ee25e0d4",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14736,
        1552
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 1-6"
            }
          ]
        }
      },
      "id": "0025d8b5-b20a-4f5a-ae56-8e472007a15b",
      "name": "Daily 6pm Mon-Sat2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        6752,
        1536
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "connection-sync-test",
        "options": {}
      },
      "id": "manual-test-webhook",
      "name": "Manual Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        6752,
        1744
      ],
      "webhookId": "connection-sync-test-webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master List",
          "mode": "name"
        },
        "options": {}
      },
      "id": "ae0cac37-eb4f-45be-a053-c3543cc8e1aa",
      "name": "Get Pending Leads2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7568,
        1744
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT m.*, substr(c.connectionSince, 1, 10) as connectionDate FROM input2 m INNER JOIN input1 c ON m.profileUrlNormalized = c.profileUrlNormalized"
      },
      "id": "1cf8a618-f98e-4e0e-8e27-e5bca8891cde",
      "name": "Find New Connections2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        8656,
        1648
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*20)+1 }}"
      },
      "id": "21042b62-19c8-4f7c-83a7-7c17cbc45ffd",
      "name": "randomWait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7296,
        1424
      ],
      "webhookId": "7f6264ba-768e-4271-9384-2ccce1740961"
    },
    {
      "parameters": {
        "jsCode": "// Extract profile URLs from new connections for Profile Scraper with email\nconst inputItems = $input.all();\n\nconst profileUrls = inputItems\n  .map(item => item.json.profileUrl || item.json.linkedinProfileUrl || item.json.profileUrlNormalized || '')\n  .filter(url => url && url.includes('linkedin.com'));\n\n// Return individual items - each will become a row in Google Sheets\n// Phantombuster expects one URL per row in the linkedInProfileUrl column\nreturn profileUrls.map(url => ({\n  json: {\n    linkedInProfileUrl: url\n  }\n}));"
      },
      "id": "extract-connected-urls",
      "name": "Extract Connected URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8976,
        1632
      ]
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "clear": "allSheetContent"
      },
      "id": "clear-scraper-sheet",
      "name": "Clear Scraper Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        9264,
        1264
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedInProfileUrl": "={{ $json.linkedInProfileUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "linkedInProfileUrl",
              "displayName": "linkedInProfileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "append-urls-to-scraper-sheet",
      "name": "Append URLs to Scraper Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        9168,
        1632
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  id: '3627182471241497',\n  manualLaunch: true,\n  bonusArgument: {\n    spreadsheetUrl: 'https://docs.google.com/spreadsheets/d/1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo/edit?gid=0#gid=0',\n    columnName: 'linkedInProfileUrl',\n    numberOfProfilesToScrape: $('Extract Connected URLs').all().length,\n    emailChooser: 'phantombuster',\n    emailDiscovery: true,\n    enrichWithCompanyData: true\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "launch-connection-scraper",
      "name": "Launch Profile Scraper with Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9552,
        1712
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "wait-for-connection-scraper",
      "name": "Wait 10 min for Email Scraper",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10032,
        1536
      ],
      "webhookId": "connection-scraper-wait"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=3627182471241497&containerId=' + $('Merge PB Launch Result').item.json.containerId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-connection-scraper-status",
      "name": "Check Email Scraper Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10016,
        1328
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "email-scraper-running",
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "email-scraper-running",
      "name": "Email Scraper Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10288,
        1328
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "wait-more-email-scraper",
      "name": "Wait 3 More Min Email",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        10576,
        1312
      ],
      "webhookId": "email-scraper-retry-wait"
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "3627182471241497",
        "additionalFields": {}
      },
      "id": "get-email-scraper-output",
      "name": "Get Email Scraper Output",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        10240,
        1616
      ],
      "credentials": {
        "phantombusterApi": {
          "id": "UYQpQC8SBIqIkifM",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {},
      "id": "test-from-email-scraper",
      "name": "Test: From Email Scraper",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        10048,
        1824
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-jsonurl-exists",
              "leftValue": "={{ $json.jsonUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-jsonurl",
      "name": "Has jsonUrl?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10384,
        1616
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-from-merge",
        "options": {}
      },
      "id": "test-webhook-merge",
      "name": "Test Webhook: From Merge",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        10640,
        2016
      ],
      "webhookId": "test-from-merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-no-scraper-error",
      "name": "Has Direct Profiles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        10528,
        1824
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.jsonUrl || '' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "fetch-email-scraper-json",
      "name": "Fetch Email Scraper JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10560,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge connection data with Profile Scraper results (including email)\n// Handles: 1) profiles from HTTP fetch, 2) direct Phantombuster output, 3) webhook test input\n// Also handles partial testing where upstream nodes may not have run\n\n// Get original connection data from Find New Connections2 node (upstream merge)\nlet connectionData = [];\ntry {\n  connectionData = $('Find New Connections2').all().map(item => item.json);\n} catch (e) {\n  // Node not executed (partial test run) - connectionData stays empty\n  connectionData = [];\n}\n\n// Get scraper results - handle multiple input formats\nconst scraperItems = $input.all();\nlet scraperProfiles = [];\n\nscraperItems.forEach(item => {\n  const j = item.json || {};\n  \n  // Case 1: Webhook input with profiles in 'body' array (or body.body when webhook wraps POST)\n  const bodyArray = Array.isArray(j.body) ? j.body : (j.body && Array.isArray(j.body.body) ? j.body.body : null);\n  if (bodyArray) {\n    bodyArray.forEach(bodyItem => {\n      const profile = bodyItem.json || bodyItem;\n      if (profile.profileUrl || profile.linkedinProfileUrl) {\n        scraperProfiles.push(profile);\n      }\n    });\n  }\n  // Case 2: Direct profile with profileUrl/linkedinProfileUrl\n  else if (j.profileUrl || j.linkedinProfileUrl) {\n    scraperProfiles.push(j);\n  }\n  // Case 3: Phantombuster output with embedded profile array in 'output' field\n  else if (Array.isArray(j.output)) {\n    scraperProfiles.push(...j.output.filter(p => p.profileUrl || p.linkedinProfileUrl));\n  }\n  // Case 4: Single profile in 'output' object\n  else if (j.output && (j.output.profileUrl || j.output.linkedinProfileUrl)) {\n    scraperProfiles.push(j.output);\n  }\n});\n\n// Create a map of scraper data by normalized URL\nconst scraperMap = new Map();\nscraperProfiles.forEach(p => {\n  let url = (p.profileUrl || p.linkedinProfileUrl || '').trim().toLowerCase();\n  url = url.replace('https://www.linkedin.com', 'https://linkedin.com').replace(/\\/$/, '');\n  if (url) scraperMap.set(url, p);\n});\n\n// If no connection data from upstream (partial test), use scraper profiles as base\nif (connectionData.length === 0 && scraperProfiles.length > 0) {\n  const enrichedFromScraper = scraperProfiles.map(p => {\n    let url = (p.profileUrl || p.linkedinProfileUrl || '').trim().toLowerCase();\n    url = url.replace('https://www.linkedin.com', 'https://linkedin.com').replace(/\\/$/, '');\n    \n    return {\n      profileUrl: url,\n      linkedinProfileUrl: p.linkedinProfileUrl || p.profileUrl || '',\n      firstName: p.firstName || '',\n      lastName: p.lastName || '',\n      fullName: `${p.firstName || ''} ${p.lastName || ''}`.trim() || 'Unknown',\n      headline: p.linkedinHeadline || p.headline || '',\n      location: p.location || '',\n      email: p.professionalEmail || p.email || p.workEmail || '',\n      companyName: p.companyName || p.linkedinCompanyName || '',\n      companyWebsite: p.companyWebsite || p.linkedinCompanyWebsite || '',\n      companySize: p.linkedinCompanySize || '',\n      companyIndustry: p.companyIndustry || p.linkedinCompanyIndustry || '',\n      hsIndustry: p.hsIndustry || '',\n      companyDescription: p.linkedinCompanyDescription || '',\n      companyLinkedinUrl: p.linkedinCompanyUrl || '',\n      jobTitle: p.linkedinJobTitle || '',\n      jobDateRange: p.linkedinJobDateRange || '',\n      connectionDegree: p.connectionDegree || '',\n      _source: 'scraper_direct'\n    };\n  });\n  \n  return enrichedFromScraper.map(conn => ({ json: conn }));\n}\n\n// Normal flow: merge connection data with scraper data\nconst enrichedConnections = connectionData.map(conn => {\n  let url = (conn.profileUrl || conn.linkedinProfileUrl || conn.profileUrlNormalized || '').trim().toLowerCase();\n  url = url.replace('https://www.linkedin.com', 'https://linkedin.com').replace(/\\/$/, '');\n  \n  const scraperData = scraperMap.get(url) || {};\n  \n  return {\n    ...conn,\n    email: scraperData.professionalEmail || scraperData.email || scraperData.workEmail || '',\n    companyWebsite: scraperData.companyWebsite || scraperData.linkedinCompanyWebsite || '',\n    companySize: scraperData.linkedinCompanySize || scraperData.companySize || '',\n    companyIndustry: scraperData.companyIndustry || scraperData.linkedinCompanyIndustry || conn.industry || '',\n    hsIndustry: conn.hsIndustry || '',\n    companyDescription: scraperData.linkedinCompanyDescription || scraperData.companyDescription || '',\n    companyLinkedinUrl: scraperData.linkedinCompanyUrl || scraperData.companyLinkedinUrl || conn.companyUrl || '',\n    summary: scraperData.summary || '',\n    profileUrl: url\n  };\n});\n\nreturn enrichedConnections.map(conn => ({ json: conn }));"
      },
      "id": "merge-connection-email-data",
      "name": "Merge Connection + Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10800,
        1616
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: \"959265651312489\" }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "6c2cd309-de41-45be-a3ff-932ba468bb55",
      "name": "kyleConnectionExport2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7440,
        1424
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 120
      },
      "id": "81b266a9-5ea3-4a58-a5a5-fa0570d3b750",
      "name": "2minWait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7584,
        1424
      ],
      "webhookId": "6bfd0199-cc43-488f-a1a7-aaddffb3078c"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=' + \"959265651312489\" + '&containerId=' + $('kyleConnectionExport2').item.json.containerId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "657b8495-5e34-47a3-a4ce-625baf9c937e",
      "name": "checkSuccess2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7728,
        1424
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "959265651312489",
        "additionalFields": {}
      },
      "id": "98a1d5d2-14f3-449d-aaa0-7377505c81c6",
      "name": "getRecentConnections2",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        7936,
        1424
      ],
      "credentials": {
        "phantombusterApi": {
          "id": "UYQpQC8SBIqIkifM",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => item?.json?.profileUrl).map(item => ({\n    json: {\n      ...item.json,\n      profileUrlNormalized: String(item.json.profileUrl || '')\n        .replace('https://www.linkedin.com', 'https://linkedin.com')\n        .replace(/\\/$/, '') // remove trailing slash\n    }\n  }));"
      },
      "id": "7d7f3121-ac26-4b05-834d-39daabd537d0",
      "name": "normalizeUrl4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8144,
        1424
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c075e1f-df9b-4cf1-9ca3-ff1f1607197d",
              "leftValue": "={{ $json.kyleSentDate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f5c76dcb-60ef-4fdc-a94e-9d6250f368d7",
              "leftValue": "={{ $json.hubspotSync }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "98fcc4ae-2986-4f20-9167-fa56fdd43491",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        7808,
        1744
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => item?.json?.profileUrl).map(item => ({\n    json: {\n      ...item.json,\n      profileUrlNormalized: String(item.json.profileUrl || '')\n        .trim()\n        .replace('https://www.linkedin.com', 'https://linkedin.com')\n        .replace(/\\/$/, '') // remove trailing slash\n    }\n  }));"
      },
      "id": "75fbea8a-2a76-4b83-8c2e-1708fb249b23",
      "name": "normalizeUrl5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8144,
        1728
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master List",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "profileUrl": "={{ $json.profileUrl }}",
            "hubspotSync": "={{ $json.hubspot.syncDate }}",
            "kyleConnectDate": "={{ $json.hubspot.syncDate }}"
          },
          "matchingColumns": [
            "profileUrl"
          ],
          "schema": [
            {
              "id": "profileUrl",
              "displayName": "profileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "schoolDegree",
              "displayName": "schoolDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl",
              "displayName": "companyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobDateRange",
              "displayName": "jobDateRange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company2",
              "displayName": "company2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl2",
              "displayName": "companyUrl2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyId2",
              "displayName": "companyId2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobTitle2",
              "displayName": "jobTitle2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobDateRange2",
              "displayName": "jobDateRange2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segment",
              "displayName": "segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "added",
              "displayName": "added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kyleSentDate",
              "displayName": "kyleSentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kyleConnectDate",
              "displayName": "kyleConnectDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hudsonSentDate",
              "displayName": "hudsonSentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hudsonConnectDate",
              "displayName": "hudsonConnectDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hubspotSync",
              "displayName": "hubspotSync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hudsonNotes",
              "displayName": "hudsonNotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "inviteResults",
              "displayName": "inviteResults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "connectionDegree",
              "displayName": "connectionDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "previousRole",
              "displayName": "previousRole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8f3e62b1-16c2-4352-a33f-cbbde88aa434",
      "name": "Update HubSpot Status1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        14896,
        2016
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "38e58c85-76e8-4266-bb9b-c8bc5cb358b2",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        11184,
        1504
      ]
    },
    {
      "parameters": {},
      "id": "2d14526e-29cb-433d-b181-c9dd0221f0f0",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        11504,
        1488
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the original prepared data\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\n// Check if company was skipped (no company name provided)\nlet companySkipped = false;\ntry {\n  companySkipped = $('Skip Company').item.json._hs.companySkipped === true;\n} catch (e) {\n  // Skip Company node wasn't executed - company was processed\n  companySkipped = false;\n}\n\nlet companyId = null;\nlet companyCreated = false;\n\nif (companySkipped) {\n  // Company was skipped - keep companyId as null\n  companyId = null;\n  companyCreated = false;\n} else {\n  // Check the search result to determine which path was taken\n  const searchResult = $('Search Company').item.json;\n  const companyExists = searchResult.total > 0;\n\n  if (companyExists) {\n    // Company existed - get ID from search results\n    companyId = searchResult.results[0].id;\n    companyCreated = false;\n  } else {\n    // Company was created - get ID from Create Company response\n    companyId = $('Create Company').item.json.id;\n    companyCreated = true;\n  }\n}\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: companyId,\n      companyCreated: companyCreated,\n      companySkipped: companySkipped\n    }\n  }\n}];"
      },
      "id": "bb16ebe4-b1d1-4d4d-9fde-34b2abfd44eb",
      "name": "Merge Company Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12592,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": " // Check the original search result to determine which path was taken\n  const searchResult = $('Search Contact').item.json;\n  const contactExists = searchResult.total > 0;\n  const companyId = $('Merge Company Results').item.json._hs.companyId\n  const companyCreated = $('Merge Company Results').item.json._hs.companyCreated\n\n  let contactId;\n  let contactCreated;\n\n  if (contactExists) {\n    // Company existed - get ID from search results\n    contactId = searchResult.results[0].id;\n    contactCreated = false;\n  } else {\n    // Company was created - get ID from Create Company response\n    contactId = $('Create Contact').item.json.id;\n    contactCreated = true;\n  }\n\n  // Get the original prepared data\n  const preparedData = $('Prepare HubSpot Data').item.json;\n\n  return [{\n    json: {\n      ...preparedData,\n      _hs: {\n        ...preparedData._hs,\n        contactId: contactId,\n        companyId: companyId,\n        contactCreated: contactCreated,\n        companyCreated: companyCreated\n      }\n    }\n  }];\n"
      },
      "id": "e2401895-b92a-4baa-badc-f04ee792348f",
      "name": "Merge Contact Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13696,
        1616
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*90)+30}}"
      },
      "id": "027a2bd4-8e90-43d9-99c3-7a94d174f03e",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        11744,
        1264
      ],
      "webhookId": "a4843833-8e00-4d9f-8263-f31413f38084"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-company",
              "leftValue": "={{ $json.companyName || $json.company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
      "name": "Has Company?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        11584,
        1616
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-hs-industry",
              "leftValue": "={{ $json.hsIndustry }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-industry-mapping",
      "name": "Needs Industry Mapping?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        11200,
        1616
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-5-20250929"
        },
        "messages": {
          "values": [
            {
              "content": "={{ `Map this LinkedIn industry to the closest HubSpot industry enum. Return ONLY the enum value, nothing else.\n\nLinkedIn Industry: ${$json.companyIndustry || $json._hs.companyIndustry || 'Unknown'}\n\nValid HubSpot enums: ACCOUNTING, AIRLINES_AVIATION, ALTERNATIVE_DISPUTE_RESOLUTION, ALTERNATIVE_MEDICINE, ANIMATION, APPAREL_FASHION, ARCHITECTURE_PLANNING, ARTS_AND_CRAFTS, AUTOMOTIVE, AVIATION_AEROSPACE, BANKING, BIOTECHNOLOGY, BROADCAST_MEDIA, BUILDING_MATERIALS, BUSINESS_SUPPLIES_AND_EQUIPMENT, CAPITAL_MARKETS, CHEMICALS, CIVIC_SOCIAL_ORGANIZATION, CIVIL_ENGINEERING, COMMERCIAL_REAL_ESTATE, COMPUTER_NETWORK_SECURITY, COMPUTER_GAMES, COMPUTER_HARDWARE, COMPUTER_NETWORKING, COMPUTER_SOFTWARE, INTERNET, CONSTRUCTION, CONSUMER_ELECTRONICS, CONSUMER_GOODS, CONSUMER_SERVICES, COSMETICS, DAIRY, DEFENSE_SPACE, DESIGN, EDUCATION_MANAGEMENT, E_LEARNING, ELECTRICAL_ELECTRONIC_MANUFACTURING, ENTERTAINMENT, ENVIRONMENTAL_SERVICES, EVENTS_SERVICES, EXECUTIVE_OFFICE, FACILITIES_SERVICES, FARMING, FINANCIAL_SERVICES, FINE_ART, FISHERY, FOOD_BEVERAGES, FOOD_PRODUCTION, FUND_RAISING, FURNITURE, GAMBLING_CASINOS, GLASS_CERAMICS_CONCRETE, GOVERNMENT_ADMINISTRATION, GOVERNMENT_RELATIONS, GRAPHIC_DESIGN, HEALTH_WELLNESS_AND_FITNESS, HIGHER_EDUCATION, HOSPITAL_HEALTH_CARE, HOSPITALITY, HUMAN_RESOURCES, IMPORT_AND_EXPORT, INDIVIDUAL_FAMILY_SERVICES, INDUSTRIAL_AUTOMATION, INFORMATION_SERVICES, INFORMATION_TECHNOLOGY_AND_SERVICES, INSURANCE, INTERNATIONAL_AFFAIRS, INTERNATIONAL_TRADE_AND_DEVELOPMENT, INVESTMENT_BANKING, INVESTMENT_MANAGEMENT, JUDICIARY, LAW_ENFORCEMENT, LAW_PRACTICE, LEGAL_SERVICES, LEGISLATIVE_OFFICE, LEISURE_TRAVEL_TOURISM, LIBRARIES, LOGISTICS_AND_SUPPLY_CHAIN, LUXURY_GOODS_JEWELRY, MACHINERY, MANAGEMENT_CONSULTING, MARITIME, MARKET_RESEARCH, MARKETING_AND_ADVERTISING, MECHANICAL_OR_INDUSTRIAL_ENGINEERING, MEDIA_PRODUCTION, MEDICAL_DEVICES, MEDICAL_PRACTICE, MENTAL_HEALTH_CARE, MILITARY, MINING_METALS, MOTION_PICTURES_AND_FILM, MUSEUMS_AND_INSTITUTIONS, MUSIC, NANOTECHNOLOGY, NEWSPAPERS, NON_PROFIT_ORGANIZATION_MANAGEMENT, OIL_ENERGY, ONLINE_MEDIA, OUTSOURCING_OFFSHORING, PACKAGE_FREIGHT_DELIVERY, PACKAGING_AND_CONTAINERS, PAPER_FOREST_PRODUCTS, PERFORMING_ARTS, PHARMACEUTICALS, PHILANTHROPY, PHOTOGRAPHY, PLASTICS, POLITICAL_ORGANIZATION, PRIMARY_SECONDARY_EDUCATION, PRINTING, PROFESSIONAL_TRAINING_COACHING, PROGRAM_DEVELOPMENT, PUBLIC_POLICY, PUBLIC_RELATIONS_AND_COMMUNICATIONS, PUBLIC_SAFETY, PUBLISHING, RAILROAD_MANUFACTURE, RANCHING, REAL_ESTATE, RECREATIONAL_FACILITIES_AND_SERVICES, RELIGIOUS_INSTITUTIONS, RENEWABLES_ENVIRONMENT, RESEARCH, RESTAURANTS, RETAIL, SECURITY_AND_INVESTIGATIONS, SEMICONDUCTORS, SHIPBUILDING, SPORTING_GOODS, SPORTS, STAFFING_AND_RECRUITING, SUPERMARKETS, TELECOMMUNICATIONS, TEXTILES, THINK_TANKS, TOBACCO, TRANSLATION_AND_LOCALIZATION, TRANSPORTATION_TRUCKING_RAILROAD, UTILITIES, VENTURE_CAPITAL_PRIVATE_EQUITY, VETERINARY, WAREHOUSING, WHOLESALE, WINE_AND_SPIRITS, WIRELESS, WRITING_AND_EDITING, MOBILE_GAMES\n\nExamples:\n- \"Hospital & Health Care\" -> HOSPITAL_HEALTH_CARE\n- \"Hospitals and Health Care\" -> HOSPITAL_HEALTH_CARE\n- \"Biotechnology Research\" -> BIOTECHNOLOGY\n- \"Aviation & Aerospace\" -> AVIATION_AEROSPACE` }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-map-industry",
      "name": "AI Map Industry",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        11232,
        1952
      ],
      "credentials": {
        "anthropicApi": {
          "id": "B6k4mmzjw7OzEK5c",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Store the AI-mapped industry in the item\nconst item = $('Needs Industry Mapping?').item.json;\nconst aiOutput = $input.first().json;\n\n// The Anthropic node outputs content array directly\nconst aiResponse = (aiOutput.content && aiOutput.content[0] && aiOutput.content[0].text) \n  ? aiOutput.content[0].text.trim() \n  : '';\n\nreturn [{\n  json: {\n    ...item,\n    hsIndustry: aiResponse\n  }\n}];"
      },
      "id": "store-mapped-industry",
      "name": "Store Mapped Industry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11600,
        1952
      ]
    },
    {
      "parameters": {
        "jsCode": "// Skip company processing - set companyId to null\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: null,\n      companyCreated: false,\n      companySkipped: true\n    }\n  }\n}];"
      },
      "id": "d2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
      "name": "Skip Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12080,
        1920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-company-id",
              "leftValue": "={{ $json._hs.companyId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e3c4d5e6-f7a8-4b9c-0d1e-2f3a4b5c6d7e",
      "name": "Has Company ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13824,
        1616
      ]
    },
    {
      "parameters": {
        "url": "https://api.phantombuster.com/api/v2/agents/fetch?id=3627182471241497",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "check-pb-before-launch",
      "name": "Check PB Agent Running?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9616,
        1280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-running",
              "leftValue": "={{ $json.currentRunningContainerId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-pb-already-running",
      "name": "Agent Already Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9792,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Agent is already running - use existing container\nconst agentStatus = $input.first().json;\nreturn [{\n  json: {\n    containerId: agentStatus.currentRunningContainerId,\n    status: 'already_running',\n    message: 'PhantomBuster agent was already running, using existing container'\n  }\n}];"
      },
      "id": "use-existing-pb-container",
      "name": "Use Existing Container",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9552,
        1520
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": "={{ $('Launch Profile Scraper with Email').isExecuted ? 2 : 1}}"
      },
      "id": "merge-pb-launch-result",
      "name": "Merge PB Launch Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        9840,
        1536
      ]
    },
    {
      "parameters": {
        "jsCode": "// Take only the first item to trigger single Clear/Launch\n// All items still go to Append via a separate connection\nconst allItems = $input.all();\nconst urlCount = allItems.length;\n\nreturn [{\n  json: {\n    urlCount: urlCount,\n    message: `Processing ${urlCount} URLs - triggering single launch`\n  }\n}];"
      },
      "id": "take-first-item",
      "name": "Take First Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9088,
        1264
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "wait-for-sheet-ready",
      "name": "Wait for Sheet Ready",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        9440,
        1280
      ]
    }
  ],
  "connections": {
    "Prepare HubSpot Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company": {
      "main": [
        [
          {
            "node": "Company Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Exists?": {
      "main": [
        [
          {
            "node": "Use Existing Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Company": {
      "main": [
        [
          {
            "node": "Store New Company ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Company": {
      "main": [
        [
          {
            "node": "Merge Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store New Company ID": {
      "main": [
        [
          {
            "node": "Merge Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact": {
      "main": [
        [
          {
            "node": "Contact Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?": {
      "main": [
        [
          {
            "node": "Update Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact": {
      "main": [
        [
          {
            "node": "Store Updated Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "main": [
        [
          {
            "node": "Store New Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Updated Contact ID": {
      "main": [
        [
          {
            "node": "Merge Contact Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store New Contact ID": {
      "main": [
        [
          {
            "node": "Merge Contact Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Contact → Company": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Update HubSpot Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 6pm Mon-Sat2": {
      "main": [
        [
          {
            "node": "Get Pending Leads2",
            "type": "main",
            "index": 0
          },
          {
            "node": "randomWait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test Webhook": {
      "main": [
        [
          {
            "node": "Get Pending Leads2",
            "type": "main",
            "index": 0
          },
          {
            "node": "randomWait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Leads2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find New Connections2": {
      "main": [
        [
          {
            "node": "Extract Connected URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Connected URLs": {
      "main": [
        [
          {
            "node": "Take First Item",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append URLs to Scraper Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Scraper Sheet": {
      "main": [
        [
          {
            "node": "Wait for Sheet Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append URLs to Scraper Sheet": {
      "main": [
        [
          {
            "node": "Wait for Sheet Ready",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Launch Profile Scraper with Email": {
      "main": [
        [
          {
            "node": "Merge PB Launch Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait 10 min for Email Scraper": {
      "main": [
        [
          {
            "node": "Check Email Scraper Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Scraper Status": {
      "main": [
        [
          {
            "node": "Email Scraper Running?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Scraper Running?": {
      "main": [
        [
          {
            "node": "Wait 3 More Min Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Email Scraper Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 More Min Email": {
      "main": [
        [
          {
            "node": "Check Email Scraper Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Scraper Output": {
      "main": [
        [
          {
            "node": "Has jsonUrl?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: From Email Scraper": {
      "main": [
        [
          {
            "node": "Get Email Scraper Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Webhook: From Merge": {
      "main": [
        [
          {
            "node": "Merge Connection + Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has jsonUrl?": {
      "main": [
        [
          {
            "node": "Fetch Email Scraper JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Direct Profiles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Direct Profiles?": {
      "main": [
        [
          {
            "node": "Merge Connection + Email Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Email Scraper JSON": {
      "main": [
        [
          {
            "node": "Merge Connection + Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Connection + Email Data": {
      "main": [
        [
          {
            "node": "Prepare HubSpot Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "randomWait2": {
      "main": [
        [
          {
            "node": "kyleConnectionExport2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kyleConnectionExport2": {
      "main": [
        [
          {
            "node": "2minWait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2minWait2": {
      "main": [
        [
          {
            "node": "checkSuccess2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkSuccess2": {
      "main": [
        [
          {
            "node": "getRecentConnections2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRecentConnections2": {
      "main": [
        [
          {
            "node": "normalizeUrl4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizeUrl4": {
      "main": [
        [
          {
            "node": "Find New Connections2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "normalizeUrl5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizeUrl5": {
      "main": [
        [
          {
            "node": "Find New Connections2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Update HubSpot Status1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Company Results": {
      "main": [
        [
          {
            "node": "Search Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contact Results": {
      "main": [
        [
          {
            "node": "Has Company ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Company ID?": {
      "main": [
        [
          {
            "node": "Get Contact Associations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Needs Industry Mapping?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Industry Mapping?": {
      "main": [
        [
          {
            "node": "Has Company?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Map Industry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Map Industry": {
      "main": [
        [
          {
            "node": "Store Mapped Industry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Mapped Industry": {
      "main": [
        [
          {
            "node": "Has Company?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Company?": {
      "main": [
        [
          {
            "node": "Search Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Company": {
      "main": [
        [
          {
            "node": "Merge Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Associations": {
      "main": [
        [
          {
            "node": "Check Association",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Association": {
      "main": [
        [
          {
            "node": "Already Associated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Associated?": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Associate Contact → Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PB Agent Running?": {
      "main": [
        [
          {
            "node": "Agent Already Running?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Already Running?": {
      "main": [
        [
          {
            "node": "Use Existing Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Launch Profile Scraper with Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Container": {
      "main": [
        [
          {
            "node": "Merge PB Launch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge PB Launch Result": {
      "main": [
        [
          {
            "node": "Wait 10 min for Email Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take First Item": {
      "main": [
        [
          {
            "node": "Clear Scraper Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Sheet Ready": {
      "main": [
        [
          {
            "node": "Check PB Agent Running?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "YWP69Qgq0ZlCN7Gj",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily 6pm Mon-Sat2": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e6931070-ceea-42d1-bed2-b098dea50591",
  "activeVersionId": "e6931070-ceea-42d1-bed2-b098dea50591",
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2025-12-24T03:18:02.180Z",
      "createdAt": "2025-12-24T03:18:02.180Z",
      "role": "workflow:owner",
      "workflowId": "a56vnrPo9dsg5mmf",
      "projectId": "O7lTivDfRl72aS23"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-02T20:53:16.000Z",
    "createdAt": "2026-02-02T20:52:58.179Z",
    "versionId": "e6931070-ceea-42d1-bed2-b098dea50591",
    "workflowId": "a56vnrPo9dsg5mmf",
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Prepare data for HubSpot sync - now with real emails from Profile Scraper\nconst inputItems = $input.all();\n\n// Check if we have input data\nif (!inputItems || inputItems.length === 0) {\n  throw new Error('No input data received from previous node');\n}\n\nreturn inputItems.map(item => {\n  // Validate item structure\n  if (!item || !item.json) {\n    throw new Error('Invalid input item structure - missing json property');\n  }\n  \n  const data = item.json;\n  const fullName = data.fullName || '';\n  const firstName = data.firstName || '';\n  const lastName = data.lastName || '';\n  const companyName = data.companyName || data.company || '';\n  \n  // Use real email from Profile Scraper if available, otherwise generate placeholder\n  const realEmail = data.email || '';\n  const placeholderEmail = fullName\n    ? fullName.toLowerCase().replace(/[^a-z0-9]/g, '.').replace(/\\.+/g, '.').replace(/^\\.|\\.$/, '') + '@placeholder.linkedin'\n    : 'unknown@placeholder.linkedin';\n  const finalEmail = realEmail || placeholderEmail;\n  const hasRealEmail = !!realEmail;\n  \n  // Use company website from Profile Scraper if available, otherwise generate pseudo-domain\n  const companyWebsite = data.companyWebsite || '';\n  const domain = companyWebsite\n    ? companyWebsite.replace(/^https?:\\/\\//, '').replace(/^www\\./, '').split('/')[0]\n    : (companyName ? companyName.toLowerCase().replace(/[^a-z0-9]/g, '').substring(0, 30) + '.com' : '');\n\n  return {\n    json: {\n      ...data,\n      _hs: {\n        firstName: firstName,\n        lastName: lastName,\n        email: finalEmail,\n        hasRealEmail: hasRealEmail,\n        placeholderEmail: placeholderEmail,\n        domain: domain,\n        companyWebsite: companyWebsite,\n        companySize: (data.companySize || '').toString().replace(/[^0-9]/g, '') || '',\n        companyIndustry: data.companyIndustry || data.industry || '',\n        companyDescription: data.companyDescription || ''\n      }\n    }\n  };\n});"
        },
        "id": "2769d7b7-41b5-4050-b475-de6bc26ca2b9",
        "name": "Prepare HubSpot Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          10976,
          1616
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'name', operator: 'EQ', value: $json.companyName || $json.company || '' }] }], properties: ['name', 'domain', 'industry'] }) }}",
          "options": {}
        },
        "id": "dc9d60f6-d961-4c98-8998-af2449446379",
        "name": "Search Company",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          11840,
          1600
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "company-exists",
                "leftValue": "={{ $json.total }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "81027544-30ea-4d71-9d8a-dc177ccb4a0c",
        "name": "Company Exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          12000,
          1600
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/companies",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { name: $('Has Company?').item.json.companyName || $('Has Company?').item.json.company || '', domain: $('Has Company?').item.json._hs.domain, linkedin_company_page: $('Has Company?').item.json.companyLinkedinUrl || $('Has Company?').item.json.companyUrl || '', industry: $('Has Company?').item.json.hsIndustry || $('Has Company?').item.json._hs.companyIndustry || '', website: $('Has Company?').item.json._hs.companyWebsite || '', numberofemployees: $('Has Company?').item.json._hs.companySize || '', description: $('Has Company?').item.json._hs.companyDescription || '' } }) }}",
          "options": {}
        },
        "id": "094ba8de-154c-477b-88c5-6edbf168fdae",
        "name": "Create Company",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          12208,
          1776
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Extract company ID from search result (existing company)\nconst searchResult = $('Search Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: searchResult.results[0].id,\n      companyCreated: false\n    }\n  }\n}];"
        },
        "id": "0f9fa33c-e251-48a6-9ef3-f9bccc546982",
        "name": "Use Existing Company",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          12352,
          1584
        ]
      },
      {
        "parameters": {
          "jsCode": "// Extract company ID from create result (new company)\nconst createResult = $('Create Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: createResult.id,\n      companyCreated: true\n    }\n  }\n}];"
        },
        "id": "7d092099-5b71-4dc2-a1c7-baac0c17fc2d",
        "name": "Store New Company ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          12448,
          1776
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'email', operator: 'EQ', value: $json._hs.email }] }], properties: ['firstname', 'lastname', 'email', 'jobtitle'] }) }}",
          "options": {}
        },
        "id": "dfa66675-ba5c-4b59-a19f-17f32358a4e3",
        "name": "Search Contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          12816,
          1616
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "contact-exists",
                "leftValue": "={{ $json.total }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "797550be-4489-4adb-8abd-1eea9daa9cdd",
        "name": "Contact Exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          13040,
          1616
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json.results[0].id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { email: $('Merge Company Results').item.json._hs.hasRealEmail ? $('Merge Company Results').item.json._hs.email : undefined, firstname: $('Merge Company Results').item.json._hs.firstName, lastname: $('Merge Company Results').item.json._hs.lastName, jobtitle: $('Merge Company Results').item.json.jobTitle || '', company: $('Merge Company Results').item.json.companyName || $('Merge Company Results').item.json.company || '', hs_lead_status: 'CONNECTED' } }) }}",
          "options": {}
        },
        "id": "aef86f24-5491-4980-a262-d066421a4919",
        "name": "Update Contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          13264,
          1504
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/contacts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { email: $('Merge Company Results').item.json._hs.hasRealEmail ? $('Merge Company Results').item.json._hs.email : undefined, firstname: $('Merge Company Results').item.json._hs.firstName, lastname: $('Merge Company Results').item.json._hs.lastName, jobtitle: $('Merge Company Results').item.json.jobTitle || '', company: $('Merge Company Results').item.json.companyName || $('Merge Company Results').item.json.company || '', hs_lead_status: 'CONNECTED', city: $('Merge Company Results').item.json.location || '' } }) }}",
          "options": {}
        },
        "id": "c7577a09-93c6-48b4-b9d2-a2022c875a63",
        "name": "Create Contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          13264,
          1728
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get contact ID from update result\nconst updateResult = $('Update Contact').item.json;\nconst mergedData = $('Merge Company Results').item.json;\n\nreturn [{\n  json: {\n    ...mergedData,\n    _hs: {\n      ...mergedData._hs,\n      contactId: updateResult.id,\n      contactCreated: false\n    }\n  }\n}];"
        },
        "id": "885b6a2f-343c-4e49-af82-48d66a7ffdf6",
        "name": "Store Updated Contact ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          13488,
          1504
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get contact ID from create result\nconst createResult = $('Create Contact').item.json;\nconst mergedData = $('Merge Company Results').item.json;\n\nreturn [{\n  json: {\n    ...mergedData,\n    _hs: {\n      ...mergedData._hs,\n      contactId: createResult.id,\n      contactCreated: true\n    }\n  }\n}];"
        },
        "id": "cbcebaf9-0590-4e9f-8444-9cdc566fb797",
        "name": "Store New Contact ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          13488,
          1728
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json._hs.contactId + '/associations/company/' + $json._hs.companyId + '/contact_to_company' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "68465c57-9be7-48c1-89b4-9352ebebe82d",
        "name": "Associate Contact → Company",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          14576,
          1344
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json._hs.contactId + '/associations/company' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "get-contact-associations",
        "name": "Get Contact Associations",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          13952,
          1312
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Check if the contact is already associated with the target company\nconst mergeData = $('Merge Contact Results').item.json;\nconst associations = $input.first().json.results || [];\nconst targetCompanyId = mergeData._hs.companyId;\n\n// Check if target company is in the associations list\nconst alreadyAssociated = associations.some(a => a.toObjectId === targetCompanyId || a.toObjectId === String(targetCompanyId));\n\nreturn [{\n  json: {\n    ...mergeData,\n    _hs: {\n      ...mergeData._hs,\n      alreadyAssociated: alreadyAssociated\n    }\n  }\n}];"
        },
        "id": "check-association-exists",
        "name": "Check Association",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          14112,
          1312
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "already-associated",
                "leftValue": "={{ $json._hs.alreadyAssociated }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "already-associated-check",
        "name": "Already Associated?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          14288,
          1312
        ]
      },
      {
        "parameters": {
          "jsCode": "// Final output formatting\nconst item = $('Merge Contact Results').item.json;\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    profileUrl: item.profileUrl,\n    fullName: item.fullName,\n    company: item.companyName || item.company || '',\n    hubspot: {\n      companyId: item._hs.companyId || null,\n      contactId: item._hs.contactId,\n      companyCreated: item._hs.companyCreated || false,\n      companySkipped: item._hs.companySkipped || false,\n      contactCreated: item._hs.contactCreated,\n      syncDate: today\n    }\n  }\n}];"
        },
        "id": "31732689-9943-4f38-a163-2d69ee25e0d4",
        "name": "Format Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          14736,
          1552
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 18 * * 1-6"
              }
            ]
          }
        },
        "id": "0025d8b5-b20a-4f5a-ae56-8e472007a15b",
        "name": "Daily 6pm Mon-Sat2",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          6752,
          1536
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "connection-sync-test",
          "options": {}
        },
        "id": "manual-test-webhook",
        "name": "Manual Test Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          6752,
          1744
        ],
        "webhookId": "connection-sync-test-webhook"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Master List",
            "mode": "name"
          },
          "options": {}
        },
        "id": "ae0cac37-eb4f-45be-a053-c3543cc8e1aa",
        "name": "Get Pending Leads2",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          7568,
          1744
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combineBySql",
          "query": "SELECT m.*, substr(c.connectionSince, 1, 10) as connectionDate FROM input2 m INNER JOIN input1 c ON m.profileUrlNormalized = c.profileUrlNormalized"
        },
        "id": "1cf8a618-f98e-4e0e-8e27-e5bca8891cde",
        "name": "Find New Connections2",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          8656,
          1648
        ]
      },
      {
        "parameters": {
          "amount": "={{ Math.floor(Math.random()*20)+1 }}"
        },
        "id": "21042b62-19c8-4f7c-83a7-7c17cbc45ffd",
        "name": "randomWait2",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          7296,
          1424
        ],
        "webhookId": "7f6264ba-768e-4271-9384-2ccce1740961"
      },
      {
        "parameters": {
          "jsCode": "// Extract profile URLs from new connections for Profile Scraper with email\nconst inputItems = $input.all();\n\nconst profileUrls = inputItems\n  .map(item => item.json.profileUrl || item.json.linkedinProfileUrl || item.json.profileUrlNormalized || '')\n  .filter(url => url && url.includes('linkedin.com'));\n\n// Return individual items - each will become a row in Google Sheets\n// Phantombuster expects one URL per row in the linkedInProfileUrl column\nreturn profileUrls.map(url => ({\n  json: {\n    linkedInProfileUrl: url\n  }\n}));"
        },
        "id": "extract-connected-urls",
        "name": "Extract Connected URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8976,
          1632
        ]
      },
      {
        "parameters": {
          "operation": "clear",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "Sheet1"
          },
          "clear": "allSheetContent"
        },
        "id": "clear-scraper-sheet",
        "name": "Clear Scraper Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          9264,
          1264
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "Sheet1"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "linkedInProfileUrl": "={{ $json.linkedInProfileUrl }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "linkedInProfileUrl",
                "displayName": "linkedInProfileUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ]
          },
          "options": {}
        },
        "id": "append-urls-to-scraper-sheet",
        "name": "Append URLs to Scraper Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          9168,
          1632
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.phantombuster.com/api/v2/agents/launch",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  id: '3627182471241497',\n  manualLaunch: true,\n  bonusArgument: {\n    spreadsheetUrl: 'https://docs.google.com/spreadsheets/d/1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo/edit?gid=0#gid=0',\n    columnName: 'linkedInProfileUrl',\n    numberOfProfilesToScrape: $('Extract Connected URLs').all().length,\n    emailChooser: 'phantombuster',\n    emailDiscovery: true,\n    enrichWithCompanyData: true\n  }\n}) }}",
          "options": {
            "timeout": 120000
          }
        },
        "id": "launch-connection-scraper",
        "name": "Launch Profile Scraper with Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          9552,
          1712
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "KWeabljbYSzoLpjI",
            "name": "Phantom Header Auth"
          }
        },
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "amount": 10,
          "unit": "minutes"
        },
        "id": "wait-for-connection-scraper",
        "name": "Wait 10 min for Email Scraper",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          10032,
          1536
        ],
        "webhookId": "connection-scraper-wait"
      },
      {
        "parameters": {
          "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=3627182471241497&containerId=' + $('Merge PB Launch Result').item.json.containerId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 30000
          }
        },
        "id": "check-connection-scraper-status",
        "name": "Check Email Scraper Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          10016,
          1328
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "KWeabljbYSzoLpjI",
            "name": "Phantom Header Auth"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "email-scraper-running",
                "leftValue": "={{ $json.status }}",
                "rightValue": "running",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "email-scraper-running",
        "name": "Email Scraper Running?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          10288,
          1328
        ]
      },
      {
        "parameters": {
          "amount": 3,
          "unit": "minutes"
        },
        "id": "wait-more-email-scraper",
        "name": "Wait 3 More Min Email",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          10576,
          1312
        ],
        "webhookId": "email-scraper-retry-wait"
      },
      {
        "parameters": {
          "operation": "getOutput",
          "agentId": "3627182471241497",
          "additionalFields": {}
        },
        "id": "get-email-scraper-output",
        "name": "Get Email Scraper Output",
        "type": "n8n-nodes-base.phantombuster",
        "typeVersion": 1,
        "position": [
          10240,
          1616
        ],
        "credentials": {
          "phantombusterApi": {
            "id": "UYQpQC8SBIqIkifM",
            "name": "Phantombuster account"
          }
        }
      },
      {
        "parameters": {},
        "id": "test-from-email-scraper",
        "name": "Test: From Email Scraper",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          10048,
          1824
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-jsonurl-exists",
                "leftValue": "={{ $json.jsonUrl }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-has-jsonurl",
        "name": "Has jsonUrl?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          10384,
          1616
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "test-from-merge",
          "options": {}
        },
        "id": "test-webhook-merge",
        "name": "Test Webhook: From Merge",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          10640,
          2016
        ],
        "webhookId": "test-from-merge"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "check-no-error",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-no-scraper-error",
        "name": "Has Direct Profiles?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          10528,
          1824
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.jsonUrl || '' }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 60000
          }
        },
        "id": "fetch-email-scraper-json",
        "name": "Fetch Email Scraper JSON",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          10560,
          1600
        ]
      },
      {
        "parameters": {
          "jsCode": "// Merge connection data with Profile Scraper results (including email)\n// Handles: 1) profiles from HTTP fetch, 2) direct Phantombuster output, 3) webhook test input\n// Also handles partial testing where upstream nodes may not have run\n\n// Get original connection data from Find New Connections2 node (upstream merge)\nlet connectionData = [];\ntry {\n  connectionData = $('Find New Connections2').all().map(item => item.json);\n} catch (e) {\n  // Node not executed (partial test run) - connectionData stays empty\n  connectionData = [];\n}\n\n// Get scraper results - handle multiple input formats\nconst scraperItems = $input.all();\nlet scraperProfiles = [];\n\nscraperItems.forEach(item => {\n  const j = item.json || {};\n  \n  // Case 1: Webhook input with profiles in 'body' array (or body.body when webhook wraps POST)\n  const bodyArray = Array.isArray(j.body) ? j.body : (j.body && Array.isArray(j.body.body) ? j.body.body : null);\n  if (bodyArray) {\n    bodyArray.forEach(bodyItem => {\n      const profile = bodyItem.json || bodyItem;\n      if (profile.profileUrl || profile.linkedinProfileUrl) {\n        scraperProfiles.push(profile);\n      }\n    });\n  }\n  // Case 2: Direct profile with profileUrl/linkedinProfileUrl\n  else if (j.profileUrl || j.linkedinProfileUrl) {\n    scraperProfiles.push(j);\n  }\n  // Case 3: Phantombuster output with embedded profile array in 'output' field\n  else if (Array.isArray(j.output)) {\n    scraperProfiles.push(...j.output.filter(p => p.profileUrl || p.linkedinProfileUrl));\n  }\n  // Case 4: Single profile in 'output' object\n  else if (j.output && (j.output.profileUrl || j.output.linkedinProfileUrl)) {\n    scraperProfiles.push(j.output);\n  }\n});\n\n// Create a map of scraper data by normalized URL\nconst scraperMap = new Map();\nscraperProfiles.forEach(p => {\n  let url = (p.profileUrl || p.linkedinProfileUrl || '').trim().toLowerCase();\n  url = url.replace('https://www.linkedin.com', 'https://linkedin.com').replace(/\\/$/, '');\n  if (url) scraperMap.set(url, p);\n});\n\n// If no connection data from upstream (partial test), use scraper profiles as base\nif (connectionData.length === 0 && scraperProfiles.length > 0) {\n  const enrichedFromScraper = scraperProfiles.map(p => {\n    let url = (p.profileUrl || p.linkedinProfileUrl || '').trim().toLowerCase();\n    url = url.replace('https://www.linkedin.com', 'https://linkedin.com').replace(/\\/$/, '');\n    \n    return {\n      profileUrl: url,\n      linkedinProfileUrl: p.linkedinProfileUrl || p.profileUrl || '',\n      firstName: p.firstName || '',\n      lastName: p.lastName || '',\n      fullName: `${p.firstName || ''} ${p.lastName || ''}`.trim() || 'Unknown',\n      headline: p.linkedinHeadline || p.headline || '',\n      location: p.location || '',\n      email: p.professionalEmail || p.email || p.workEmail || '',\n      companyName: p.companyName || p.linkedinCompanyName || '',\n      companyWebsite: p.companyWebsite || p.linkedinCompanyWebsite || '',\n      companySize: p.linkedinCompanySize || '',\n      companyIndustry: p.companyIndustry || p.linkedinCompanyIndustry || '',\n      hsIndustry: p.hsIndustry || '',\n      companyDescription: p.linkedinCompanyDescription || '',\n      companyLinkedinUrl: p.linkedinCompanyUrl || '',\n      jobTitle: p.linkedinJobTitle || '',\n      jobDateRange: p.linkedinJobDateRange || '',\n      connectionDegree: p.connectionDegree || '',\n      _source: 'scraper_direct'\n    };\n  });\n  \n  return enrichedFromScraper.map(conn => ({ json: conn }));\n}\n\n// Normal flow: merge connection data with scraper data\nconst enrichedConnections = connectionData.map(conn => {\n  let url = (conn.profileUrl || conn.linkedinProfileUrl || conn.profileUrlNormalized || '').trim().toLowerCase();\n  url = url.replace('https://www.linkedin.com', 'https://linkedin.com').replace(/\\/$/, '');\n  \n  const scraperData = scraperMap.get(url) || {};\n  \n  return {\n    ...conn,\n    email: scraperData.professionalEmail || scraperData.email || scraperData.workEmail || '',\n    companyWebsite: scraperData.companyWebsite || scraperData.linkedinCompanyWebsite || '',\n    companySize: scraperData.linkedinCompanySize || scraperData.companySize || '',\n    companyIndustry: scraperData.companyIndustry || scraperData.linkedinCompanyIndustry || conn.industry || '',\n    hsIndustry: conn.hsIndustry || '',\n    companyDescription: scraperData.linkedinCompanyDescription || scraperData.companyDescription || '',\n    companyLinkedinUrl: scraperData.linkedinCompanyUrl || scraperData.companyLinkedinUrl || conn.companyUrl || '',\n    summary: scraperData.summary || '',\n    profileUrl: url\n  };\n});\n\nreturn enrichedConnections.map(conn => ({ json: conn }));"
        },
        "id": "merge-connection-email-data",
        "name": "Merge Connection + Email Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          10800,
          1616
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.phantombuster.com/api/v2/agents/launch",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ id: \"959265651312489\" }) }}",
          "options": {
            "timeout": 300000
          }
        },
        "id": "6c2cd309-de41-45be-a3ff-932ba468bb55",
        "name": "kyleConnectionExport2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          7440,
          1424
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "KWeabljbYSzoLpjI",
            "name": "Phantom Header Auth"
          }
        }
      },
      {
        "parameters": {
          "amount": 120
        },
        "id": "81b266a9-5ea3-4a58-a5a5-fa0570d3b750",
        "name": "2minWait2",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          7584,
          1424
        ],
        "webhookId": "6bfd0199-cc43-488f-a1a7-aaddffb3078c"
      },
      {
        "parameters": {
          "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=' + \"959265651312489\" + '&containerId=' + $('kyleConnectionExport2').item.json.containerId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "657b8495-5e34-47a3-a4ce-625baf9c937e",
        "name": "checkSuccess2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          7728,
          1424
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "KWeabljbYSzoLpjI",
            "name": "Phantom Header Auth"
          }
        }
      },
      {
        "parameters": {
          "operation": "getOutput",
          "agentId": "959265651312489",
          "additionalFields": {}
        },
        "id": "98a1d5d2-14f3-449d-aaa0-7377505c81c6",
        "name": "getRecentConnections2",
        "type": "n8n-nodes-base.phantombuster",
        "typeVersion": 1,
        "position": [
          7936,
          1424
        ],
        "credentials": {
          "phantombusterApi": {
            "id": "UYQpQC8SBIqIkifM",
            "name": "Phantombuster account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return $input.all().filter(item => item?.json?.profileUrl).map(item => ({\n    json: {\n      ...item.json,\n      profileUrlNormalized: String(item.json.profileUrl || '')\n        .replace('https://www.linkedin.com', 'https://linkedin.com')\n        .replace(/\\/$/, '') // remove trailing slash\n    }\n  }));"
        },
        "id": "7d7f3121-ac26-4b05-834d-39daabd537d0",
        "name": "normalizeUrl4",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8144,
          1424
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "0c075e1f-df9b-4cf1-9ca3-ff1f1607197d",
                "leftValue": "={{ $json.kyleSentDate }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "f5c76dcb-60ef-4fdc-a94e-9d6250f368d7",
                "leftValue": "={{ $json.hubspotSync }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "98fcc4ae-2986-4f20-9167-fa56fdd43491",
        "name": "Filter2",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          7808,
          1744
        ]
      },
      {
        "parameters": {
          "jsCode": "return $input.all().filter(item => item?.json?.profileUrl).map(item => ({\n    json: {\n      ...item.json,\n      profileUrlNormalized: String(item.json.profileUrl || '')\n        .trim()\n        .replace('https://www.linkedin.com', 'https://linkedin.com')\n        .replace(/\\/$/, '') // remove trailing slash\n    }\n  }));"
        },
        "id": "75fbea8a-2a76-4b83-8c2e-1708fb249b23",
        "name": "normalizeUrl5",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8144,
          1728
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Master List",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "profileUrl": "={{ $json.profileUrl }}",
              "hubspotSync": "={{ $json.hubspot.syncDate }}",
              "kyleConnectDate": "={{ $json.hubspot.syncDate }}"
            },
            "matchingColumns": [
              "profileUrl"
            ],
            "schema": [
              {
                "id": "profileUrl",
                "displayName": "profileUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "fullName",
                "displayName": "fullName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "firstName",
                "displayName": "firstName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "lastName",
                "displayName": "lastName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "school",
                "displayName": "school",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "schoolDegree",
                "displayName": "schoolDegree",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "company",
                "displayName": "company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyUrl",
                "displayName": "companyUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyId",
                "displayName": "companyId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobTitle",
                "displayName": "jobTitle",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobDateRange",
                "displayName": "jobDateRange",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "industry",
                "displayName": "industry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "headline",
                "displayName": "headline",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "location",
                "displayName": "location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "company2",
                "displayName": "company2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyUrl2",
                "displayName": "companyUrl2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyId2",
                "displayName": "companyId2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobTitle2",
                "displayName": "jobTitle2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobDateRange2",
                "displayName": "jobDateRange2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "score",
                "displayName": "score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "segment",
                "displayName": "segment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "reason",
                "displayName": "reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "added",
                "displayName": "added",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "kyleSentDate",
                "displayName": "kyleSentDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "kyleConnectDate",
                "displayName": "kyleConnectDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hudsonSentDate",
                "displayName": "hudsonSentDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hudsonConnectDate",
                "displayName": "hudsonConnectDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hubspotSync",
                "displayName": "hubspotSync",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "hudsonNotes",
                "displayName": "hudsonNotes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "inviteResults",
                "displayName": "inviteResults",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "connectionDegree",
                "displayName": "connectionDegree",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "previousRole",
                "displayName": "previousRole",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "8f3e62b1-16c2-4352-a33f-cbbde88aa434",
        "name": "Update HubSpot Status1",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          14896,
          2016
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "38e58c85-76e8-4266-bb9b-c8bc5cb358b2",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          11184,
          1504
        ]
      },
      {
        "parameters": {},
        "id": "2d14526e-29cb-433d-b181-c9dd0221f0f0",
        "name": "Replace Me",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          11504,
          1488
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get the original prepared data\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\n// Check if company was skipped (no company name provided)\nlet companySkipped = false;\ntry {\n  companySkipped = $('Skip Company').item.json._hs.companySkipped === true;\n} catch (e) {\n  // Skip Company node wasn't executed - company was processed\n  companySkipped = false;\n}\n\nlet companyId = null;\nlet companyCreated = false;\n\nif (companySkipped) {\n  // Company was skipped - keep companyId as null\n  companyId = null;\n  companyCreated = false;\n} else {\n  // Check the search result to determine which path was taken\n  const searchResult = $('Search Company').item.json;\n  const companyExists = searchResult.total > 0;\n\n  if (companyExists) {\n    // Company existed - get ID from search results\n    companyId = searchResult.results[0].id;\n    companyCreated = false;\n  } else {\n    // Company was created - get ID from Create Company response\n    companyId = $('Create Company').item.json.id;\n    companyCreated = true;\n  }\n}\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: companyId,\n      companyCreated: companyCreated,\n      companySkipped: companySkipped\n    }\n  }\n}];"
        },
        "id": "bb16ebe4-b1d1-4d4d-9fde-34b2abfd44eb",
        "name": "Merge Company Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          12592,
          1616
        ]
      },
      {
        "parameters": {
          "jsCode": " // Check the original search result to determine which path was taken\n  const searchResult = $('Search Contact').item.json;\n  const contactExists = searchResult.total > 0;\n  const companyId = $('Merge Company Results').item.json._hs.companyId\n  const companyCreated = $('Merge Company Results').item.json._hs.companyCreated\n\n  let contactId;\n  let contactCreated;\n\n  if (contactExists) {\n    // Company existed - get ID from search results\n    contactId = searchResult.results[0].id;\n    contactCreated = false;\n  } else {\n    // Company was created - get ID from Create Company response\n    contactId = $('Create Contact').item.json.id;\n    contactCreated = true;\n  }\n\n  // Get the original prepared data\n  const preparedData = $('Prepare HubSpot Data').item.json;\n\n  return [{\n    json: {\n      ...preparedData,\n      _hs: {\n        ...preparedData._hs,\n        contactId: contactId,\n        companyId: companyId,\n        contactCreated: contactCreated,\n        companyCreated: companyCreated\n      }\n    }\n  }];\n"
        },
        "id": "e2401895-b92a-4baa-badc-f04ee792348f",
        "name": "Merge Contact Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          13696,
          1616
        ]
      },
      {
        "parameters": {
          "amount": "={{ Math.floor(Math.random()*90)+30}}"
        },
        "id": "027a2bd4-8e90-43d9-99c3-7a94d174f03e",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          11744,
          1264
        ],
        "webhookId": "a4843833-8e00-4d9f-8263-f31413f38084"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "has-company",
                "leftValue": "={{ $json.companyName || $json.company }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
        "name": "Has Company?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          11584,
          1616
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "has-hs-industry",
                "leftValue": "={{ $json.hsIndustry }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "needs-industry-mapping",
        "name": "Needs Industry Mapping?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          11200,
          1616
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "id",
            "value": "claude-sonnet-4-5-20250929"
          },
          "messages": {
            "values": [
              {
                "content": "={{ `Map this LinkedIn industry to the closest HubSpot industry enum. Return ONLY the enum value, nothing else.\n\nLinkedIn Industry: ${$json.companyIndustry || $json._hs.companyIndustry || 'Unknown'}\n\nValid HubSpot enums: ACCOUNTING, AIRLINES_AVIATION, ALTERNATIVE_DISPUTE_RESOLUTION, ALTERNATIVE_MEDICINE, ANIMATION, APPAREL_FASHION, ARCHITECTURE_PLANNING, ARTS_AND_CRAFTS, AUTOMOTIVE, AVIATION_AEROSPACE, BANKING, BIOTECHNOLOGY, BROADCAST_MEDIA, BUILDING_MATERIALS, BUSINESS_SUPPLIES_AND_EQUIPMENT, CAPITAL_MARKETS, CHEMICALS, CIVIC_SOCIAL_ORGANIZATION, CIVIL_ENGINEERING, COMMERCIAL_REAL_ESTATE, COMPUTER_NETWORK_SECURITY, COMPUTER_GAMES, COMPUTER_HARDWARE, COMPUTER_NETWORKING, COMPUTER_SOFTWARE, INTERNET, CONSTRUCTION, CONSUMER_ELECTRONICS, CONSUMER_GOODS, CONSUMER_SERVICES, COSMETICS, DAIRY, DEFENSE_SPACE, DESIGN, EDUCATION_MANAGEMENT, E_LEARNING, ELECTRICAL_ELECTRONIC_MANUFACTURING, ENTERTAINMENT, ENVIRONMENTAL_SERVICES, EVENTS_SERVICES, EXECUTIVE_OFFICE, FACILITIES_SERVICES, FARMING, FINANCIAL_SERVICES, FINE_ART, FISHERY, FOOD_BEVERAGES, FOOD_PRODUCTION, FUND_RAISING, FURNITURE, GAMBLING_CASINOS, GLASS_CERAMICS_CONCRETE, GOVERNMENT_ADMINISTRATION, GOVERNMENT_RELATIONS, GRAPHIC_DESIGN, HEALTH_WELLNESS_AND_FITNESS, HIGHER_EDUCATION, HOSPITAL_HEALTH_CARE, HOSPITALITY, HUMAN_RESOURCES, IMPORT_AND_EXPORT, INDIVIDUAL_FAMILY_SERVICES, INDUSTRIAL_AUTOMATION, INFORMATION_SERVICES, INFORMATION_TECHNOLOGY_AND_SERVICES, INSURANCE, INTERNATIONAL_AFFAIRS, INTERNATIONAL_TRADE_AND_DEVELOPMENT, INVESTMENT_BANKING, INVESTMENT_MANAGEMENT, JUDICIARY, LAW_ENFORCEMENT, LAW_PRACTICE, LEGAL_SERVICES, LEGISLATIVE_OFFICE, LEISURE_TRAVEL_TOURISM, LIBRARIES, LOGISTICS_AND_SUPPLY_CHAIN, LUXURY_GOODS_JEWELRY, MACHINERY, MANAGEMENT_CONSULTING, MARITIME, MARKET_RESEARCH, MARKETING_AND_ADVERTISING, MECHANICAL_OR_INDUSTRIAL_ENGINEERING, MEDIA_PRODUCTION, MEDICAL_DEVICES, MEDICAL_PRACTICE, MENTAL_HEALTH_CARE, MILITARY, MINING_METALS, MOTION_PICTURES_AND_FILM, MUSEUMS_AND_INSTITUTIONS, MUSIC, NANOTECHNOLOGY, NEWSPAPERS, NON_PROFIT_ORGANIZATION_MANAGEMENT, OIL_ENERGY, ONLINE_MEDIA, OUTSOURCING_OFFSHORING, PACKAGE_FREIGHT_DELIVERY, PACKAGING_AND_CONTAINERS, PAPER_FOREST_PRODUCTS, PERFORMING_ARTS, PHARMACEUTICALS, PHILANTHROPY, PHOTOGRAPHY, PLASTICS, POLITICAL_ORGANIZATION, PRIMARY_SECONDARY_EDUCATION, PRINTING, PROFESSIONAL_TRAINING_COACHING, PROGRAM_DEVELOPMENT, PUBLIC_POLICY, PUBLIC_RELATIONS_AND_COMMUNICATIONS, PUBLIC_SAFETY, PUBLISHING, RAILROAD_MANUFACTURE, RANCHING, REAL_ESTATE, RECREATIONAL_FACILITIES_AND_SERVICES, RELIGIOUS_INSTITUTIONS, RENEWABLES_ENVIRONMENT, RESEARCH, RESTAURANTS, RETAIL, SECURITY_AND_INVESTIGATIONS, SEMICONDUCTORS, SHIPBUILDING, SPORTING_GOODS, SPORTS, STAFFING_AND_RECRUITING, SUPERMARKETS, TELECOMMUNICATIONS, TEXTILES, THINK_TANKS, TOBACCO, TRANSLATION_AND_LOCALIZATION, TRANSPORTATION_TRUCKING_RAILROAD, UTILITIES, VENTURE_CAPITAL_PRIVATE_EQUITY, VETERINARY, WAREHOUSING, WHOLESALE, WINE_AND_SPIRITS, WIRELESS, WRITING_AND_EDITING, MOBILE_GAMES\n\nExamples:\n- \"Hospital & Health Care\" -> HOSPITAL_HEALTH_CARE\n- \"Hospitals and Health Care\" -> HOSPITAL_HEALTH_CARE\n- \"Biotechnology Research\" -> BIOTECHNOLOGY\n- \"Aviation & Aerospace\" -> AVIATION_AEROSPACE` }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ai-map-industry",
        "name": "AI Map Industry",
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          11232,
          1952
        ],
        "credentials": {
          "anthropicApi": {
            "id": "B6k4mmzjw7OzEK5c",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Store the AI-mapped industry in the item\nconst item = $('Needs Industry Mapping?').item.json;\nconst aiOutput = $input.first().json;\n\n// The Anthropic node outputs content array directly\nconst aiResponse = (aiOutput.content && aiOutput.content[0] && aiOutput.content[0].text) \n  ? aiOutput.content[0].text.trim() \n  : '';\n\nreturn [{\n  json: {\n    ...item,\n    hsIndustry: aiResponse\n  }\n}];"
        },
        "id": "store-mapped-industry",
        "name": "Store Mapped Industry",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          11600,
          1952
        ]
      },
      {
        "parameters": {
          "jsCode": "// Skip company processing - set companyId to null\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: null,\n      companyCreated: false,\n      companySkipped: true\n    }\n  }\n}];"
        },
        "id": "d2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
        "name": "Skip Company",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          12080,
          1920
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "has-company-id",
                "leftValue": "={{ $json._hs.companyId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "e3c4d5e6-f7a8-4b9c-0d1e-2f3a4b5c6d7e",
        "name": "Has Company ID?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          13824,
          1616
        ]
      },
      {
        "parameters": {
          "url": "https://api.phantombuster.com/api/v2/agents/fetch?id=3627182471241497",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 30000
          }
        },
        "id": "check-pb-before-launch",
        "name": "Check PB Agent Running?",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          9616,
          1280
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "KWeabljbYSzoLpjI",
            "name": "Phantom Header Auth"
          }
        },
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "is-running",
                "leftValue": "={{ $json.currentRunningContainerId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-pb-already-running",
        "name": "Agent Already Running?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          9792,
          1280
        ]
      },
      {
        "parameters": {
          "jsCode": "// Agent is already running - use existing container\nconst agentStatus = $input.first().json;\nreturn [{\n  json: {\n    containerId: agentStatus.currentRunningContainerId,\n    status: 'already_running',\n    message: 'PhantomBuster agent was already running, using existing container'\n  }\n}];"
        },
        "id": "use-existing-pb-container",
        "name": "Use Existing Container",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          9552,
          1520
        ]
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": "={{ $('Launch Profile Scraper with Email').isExecuted ? 2 : 1}}"
        },
        "id": "merge-pb-launch-result",
        "name": "Merge PB Launch Result",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          9840,
          1536
        ]
      },
      {
        "parameters": {
          "jsCode": "// Take only the first item to trigger single Clear/Launch\n// All items still go to Append via a separate connection\nconst allItems = $input.all();\nconst urlCount = allItems.length;\n\nreturn [{\n  json: {\n    urlCount: urlCount,\n    message: `Processing ${urlCount} URLs - triggering single launch`\n  }\n}];"
        },
        "id": "take-first-item",
        "name": "Take First Item",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          9088,
          1264
        ]
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "id": "wait-for-sheet-ready",
        "name": "Wait for Sheet Ready",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          9440,
          1280
        ]
      }
    ],
    "connections": {
      "Prepare HubSpot Data": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Company": {
        "main": [
          [
            {
              "node": "Company Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Company Exists?": {
        "main": [
          [
            {
              "node": "Use Existing Company",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Company": {
        "main": [
          [
            {
              "node": "Store New Company ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Existing Company": {
        "main": [
          [
            {
              "node": "Merge Company Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store New Company ID": {
        "main": [
          [
            {
              "node": "Merge Company Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Contact": {
        "main": [
          [
            {
              "node": "Contact Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contact Exists?": {
        "main": [
          [
            {
              "node": "Update Contact",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Contact": {
        "main": [
          [
            {
              "node": "Store Updated Contact ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Contact": {
        "main": [
          [
            {
              "node": "Store New Contact ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Updated Contact ID": {
        "main": [
          [
            {
              "node": "Merge Contact Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store New Contact ID": {
        "main": [
          [
            {
              "node": "Merge Contact Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Associate Contact → Company": {
        "main": [
          [
            {
              "node": "Format Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Output": {
        "main": [
          [
            {
              "node": "Update HubSpot Status1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Daily 6pm Mon-Sat2": {
        "main": [
          [
            {
              "node": "Get Pending Leads2",
              "type": "main",
              "index": 0
            },
            {
              "node": "randomWait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Test Webhook": {
        "main": [
          [
            {
              "node": "Get Pending Leads2",
              "type": "main",
              "index": 0
            },
            {
              "node": "randomWait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Pending Leads2": {
        "main": [
          [
            {
              "node": "Filter2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find New Connections2": {
        "main": [
          [
            {
              "node": "Extract Connected URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Connected URLs": {
        "main": [
          [
            {
              "node": "Take First Item",
              "type": "main",
              "index": 0
            },
            {
              "node": "Append URLs to Scraper Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clear Scraper Sheet": {
        "main": [
          [
            {
              "node": "Wait for Sheet Ready",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append URLs to Scraper Sheet": {
        "main": [
          [
            {
              "node": "Wait for Sheet Ready",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Launch Profile Scraper with Email": {
        "main": [
          [
            {
              "node": "Merge PB Launch Result",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Wait 10 min for Email Scraper": {
        "main": [
          [
            {
              "node": "Check Email Scraper Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Email Scraper Status": {
        "main": [
          [
            {
              "node": "Email Scraper Running?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email Scraper Running?": {
        "main": [
          [
            {
              "node": "Wait 3 More Min Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Email Scraper Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 3 More Min Email": {
        "main": [
          [
            {
              "node": "Check Email Scraper Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Email Scraper Output": {
        "main": [
          [
            {
              "node": "Has jsonUrl?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Test: From Email Scraper": {
        "main": [
          [
            {
              "node": "Get Email Scraper Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Test Webhook: From Merge": {
        "main": [
          [
            {
              "node": "Merge Connection + Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has jsonUrl?": {
        "main": [
          [
            {
              "node": "Fetch Email Scraper JSON",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Has Direct Profiles?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Direct Profiles?": {
        "main": [
          [
            {
              "node": "Merge Connection + Email Data",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Fetch Email Scraper JSON": {
        "main": [
          [
            {
              "node": "Merge Connection + Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Connection + Email Data": {
        "main": [
          [
            {
              "node": "Prepare HubSpot Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "randomWait2": {
        "main": [
          [
            {
              "node": "kyleConnectionExport2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "kyleConnectionExport2": {
        "main": [
          [
            {
              "node": "2minWait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "2minWait2": {
        "main": [
          [
            {
              "node": "checkSuccess2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "checkSuccess2": {
        "main": [
          [
            {
              "node": "getRecentConnections2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "getRecentConnections2": {
        "main": [
          [
            {
              "node": "normalizeUrl4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "normalizeUrl4": {
        "main": [
          [
            {
              "node": "Find New Connections2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter2": {
        "main": [
          [
            {
              "node": "normalizeUrl5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "normalizeUrl5": {
        "main": [
          [
            {
              "node": "Find New Connections2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Replace Me",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replace Me": {
        "main": [
          []
        ]
      },
      "Update HubSpot Status1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Company Results": {
        "main": [
          [
            {
              "node": "Search Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Contact Results": {
        "main": [
          [
            {
              "node": "Has Company ID?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Company ID?": {
        "main": [
          [
            {
              "node": "Get Contact Associations",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Needs Industry Mapping?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Needs Industry Mapping?": {
        "main": [
          [
            {
              "node": "Has Company?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Map Industry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Map Industry": {
        "main": [
          [
            {
              "node": "Store Mapped Industry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Mapped Industry": {
        "main": [
          [
            {
              "node": "Has Company?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Company?": {
        "main": [
          [
            {
              "node": "Search Company",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Skip Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skip Company": {
        "main": [
          [
            {
              "node": "Merge Company Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Contact Associations": {
        "main": [
          [
            {
              "node": "Check Association",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Association": {
        "main": [
          [
            {
              "node": "Already Associated?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Already Associated?": {
        "main": [
          [
            {
              "node": "Format Output",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Associate Contact → Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check PB Agent Running?": {
        "main": [
          [
            {
              "node": "Agent Already Running?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agent Already Running?": {
        "main": [
          [
            {
              "node": "Use Existing Container",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Launch Profile Scraper with Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Existing Container": {
        "main": [
          [
            {
              "node": "Merge PB Launch Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge PB Launch Result": {
        "main": [
          [
            {
              "node": "Wait 10 min for Email Scraper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Take First Item": {
        "main": [
          [
            {
              "node": "Clear Scraper Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Sheet Ready": {
        "main": [
          [
            {
              "node": "Check PB Agent Running?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hudson Lorfing",
    "name": "Version e6931070",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2025-12-17T14:25:00.955Z",
      "createdAt": "2025-12-17T14:25:00.955Z",
      "id": "ST1cKCxkQ4kcD3uk",
      "name": "linkedin"
    }
  ],
  "_folderPath": "linkedin",
  "_fileName": "3.-connection-sync-→-hubspot.json"
}