workflows/linkedin-gen/workflow-3 Connection Sync → HubSpot.json
{
  "name": "3. Connection Sync → HubSpot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 1-6"
            }
          ]
        }
      },
      "id": "6b0a121c-e8f4-40a9-b537-ae7bc6819628",
      "name": "Daily 6pm Mon-Sat",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master List",
          "mode": "name"
        },
        "options": {}
      },
      "id": "f970bd76-96ed-409f-8643-79c4e1892944",
      "name": "Get Pending Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [608, 208],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT m.*, substr(c.connectionSince, 1, 10) as connectionDate FROM input2 m INNER JOIN input1 c ON m.profileUrlNormalized = c.profileUrlNormalized"
      },
      "id": "2cc838ad-45ca-4b46-97e9-1af22643c664",
      "name": "Find New Connections",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1696, 112]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random()*20)+1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [336, -112],
      "id": "7e2a499e-aeaf-4813-af9c-4b49282310df",
      "name": "randomWait",
      "webhookId": "7f6264ba-768e-4271-9384-2ccce1740961"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: \"959265651312489\" }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "35ab3684-c7b2-4a96-ad39-5d7d46c94a9f",
      "name": "kyleConnectionExport",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, -112],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 120
      },
      "id": "38636a41-9f24-4b71-b9f1-a071b7d15111",
      "name": "2minWait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [624, -112],
      "webhookId": "6bfd0199-cc43-488f-a1a7-aaddffb3078c"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=' + \"959265651312489\" + '&containerId=' + $('kyleConnectionExport').item.json.containerId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fcacde21-e9d0-4beb-8c93-79288dd05308",
      "name": "checkSuccess",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [768, -112],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "959265651312489",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [928, -112],
      "id": "1fc1d024-0b5f-4b6e-8e12-a727e65d8b4c",
      "name": "getRecentConnections",
      "credentials": {
        "phantombusterApi": {
          "id": "UYQpQC8SBIqIkifM",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n    json: {\n      ...item.json,\n      profileUrlNormalized: item.json.profileUrl\n        .replace('https://www.linkedin.com', 'https://linkedin.com')\n        .replace(/\\/$/, '') // remove trailing slash\n    }\n  }));"
      },
      "id": "67c74bca-90e0-402c-a716-ab73d67522c7",
      "name": "normalizeUrl",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1184, -112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c075e1f-df9b-4cf1-9ca3-ff1f1607197d",
              "leftValue": "={{ $json.kyleSentDate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "65685d9f-40dd-4ca3-9461-4b1e7bdc86ac",
              "leftValue": "={{ $json.kyleConnectDate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [848, 208],
      "id": "28ea395f-0dc9-491b-8a90-58c36b848e65",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n    json: {\n      ...item.json,\n      profileUrlNormalized: item.json.profileUrl\n        .trim()\n        .replace('https://www.linkedin.com', 'https://linkedin.com')\n        .replace(/\\/$/, '') // remove trailing slash\n    }\n  }));"
      },
      "id": "e799030c-911a-4197-8f8d-f323838b2693",
      "name": "normalizeUrl1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1184, 192]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master List",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "profileUrl": "={{ $json.profileUrl }}",
            "kyleConnectDate": "={{ $json.connectionDate }}"
          },
          "matchingColumns": ["profileUrl"]
        },
        "options": {}
      },
      "id": "98eecc83-a6e6-43af-a116-4b7001f026e9",
      "name": "updateConnectionDate",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1920, 112],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for HubSpot sync\nreturn $input.all().map(item => {\n  const data = item.json;\n  const fullName = data.fullName || '';\n  const nameParts = fullName.split(' ');\n  const companyName = data.company || '';\n  \n  // Generate placeholder email\n  const placeholderEmail = fullName\n    ? fullName.toLowerCase().replace(/[^a-z0-9]/g, '.').replace(/\\.+/g, '.').replace(/^\\.|\\.$/, '') + '@placeholder.linkedin'\n    : 'unknown@placeholder.linkedin';\n  \n  // Generate pseudo-domain\n  const domain = companyName\n    ? companyName.toLowerCase().replace(/[^a-z0-9]/g, '').substring(0, 30) + '.com'\n    : '';\n\n  return {\n    json: {\n      ...data,\n      _hs: {\n        firstName: nameParts[0] || '',\n        lastName: nameParts.slice(1).join(' ') || '',\n        placeholderEmail: placeholderEmail,\n        domain: domain\n      }\n    }\n  };\n});"
      },
      "id": "prepare-hubspot-data",
      "name": "Prepare HubSpot Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2144, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'name', operator: 'EQ', value: $json.company || '' }] }], properties: ['name', 'domain', 'industry'] }) }}",
        "options": {}
      },
      "id": "search-company",
      "name": "Search Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2368, 112],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "company-exists",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "company-exists-check",
      "name": "Company Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2592, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { name: $('Prepare HubSpot Data').item.json.company || '', domain: $('Prepare HubSpot Data').item.json._hs.domain, industry: $('Prepare HubSpot Data').item.json.industry || '' } }) }}",
        "options": {}
      },
      "id": "create-company",
      "name": "Create Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2816, 224],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract company ID from search result (existing company)\nconst searchResult = $('Search Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: searchResult.results[0].id,\n      companyCreated: false\n    }\n  }\n}];"
      },
      "id": "use-existing-company",
      "name": "Use Existing Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2816, 0]
    },
    {
      "parameters": {
        "jsCode": "// Extract company ID from create result (new company)\nconst createResult = $('Create Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\n\nreturn [{\n  json: {\n    ...preparedData,\n    _hs: {\n      ...preparedData._hs,\n      companyId: createResult.id,\n      companyCreated: true\n    }\n  }\n}];"
      },
      "id": "store-new-company-id",
      "name": "Store New Company ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3040, 224]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-company-results",
      "name": "Merge Company Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3264, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'email', operator: 'EQ', value: $json._hs.placeholderEmail }] }], properties: ['firstname', 'lastname', 'email', 'jobtitle'] }) }}",
        "options": {}
      },
      "id": "search-contact",
      "name": "Search Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3488, 112],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "contact-exists",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "contact-exists-check",
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3712, 112]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json.results[0].id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { firstname: $('Merge Company Results').item.json._hs.firstName, lastname: $('Merge Company Results').item.json._hs.lastName, jobtitle: $('Merge Company Results').item.json.jobTitle || '', company: $('Merge Company Results').item.json.company || '', hs_lead_status: 'CONNECTED' } }) }}",
        "options": {}
      },
      "id": "update-contact",
      "name": "Update Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3936, 0],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { email: $('Merge Company Results').item.json._hs.placeholderEmail, firstname: $('Merge Company Results').item.json._hs.firstName, lastname: $('Merge Company Results').item.json._hs.lastName, jobtitle: $('Merge Company Results').item.json.jobTitle || '', company: $('Merge Company Results').item.json.company || '', hs_lead_status: 'CONNECTED', city: $('Merge Company Results').item.json.location || '' } }) }}",
        "options": {}
      },
      "id": "create-contact",
      "name": "Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3936, 224],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get contact ID from update result\nconst updateResult = $('Update Contact').item.json;\nconst mergedData = $('Merge Company Results').item.json;\n\nreturn [{\n  json: {\n    ...mergedData,\n    _hs: {\n      ...mergedData._hs,\n      contactId: updateResult.id,\n      contactCreated: false\n    }\n  }\n}];"
      },
      "id": "store-updated-contact-id",
      "name": "Store Updated Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4160, 0]
    },
    {
      "parameters": {
        "jsCode": "// Get contact ID from create result\nconst createResult = $('Create Contact').item.json;\nconst mergedData = $('Merge Company Results').item.json;\n\nreturn [{\n  json: {\n    ...mergedData,\n    _hs: {\n      ...mergedData._hs,\n      contactId: createResult.id,\n      contactCreated: true\n    }\n  }\n}];"
      },
      "id": "store-new-contact-id",
      "name": "Store New Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4160, 224]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "merge-contact-results",
      "name": "Merge Contact Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [4384, 112]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json._hs.contactId + '/associations/company/' + $json._hs.companyId + '/contact_to_company' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "associate-contact-company",
      "name": "Associate Contact → Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4608, 112],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final output formatting\nconst item = $('Merge Contact Results').item.json;\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    profileUrl: item.profileUrl,\n    fullName: item.fullName,\n    company: item.company,\n    hubspot: {\n      companyId: item._hs.companyId,\n      contactId: item._hs.contactId,\n      companyCreated: item._hs.companyCreated,\n      contactCreated: item._hs.contactCreated,\n      syncDate: today\n    }\n  }\n}];"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4832, 112]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master List",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "profileUrl": "={{ $json.profileUrl }}",
            "hubspotSync": "={{ $json.hubspot.syncDate }}",
            "hubspotContactId": "={{ $json.hubspot.contactId }}",
            "hubspotCompanyId": "={{ $json.hubspot.companyId }}"
          },
          "matchingColumns": ["profileUrl"]
        },
        "options": {}
      },
      "id": "update-hubspot-status",
      "name": "Update HubSpot Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [5056, 112],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 6pm Mon-Sat": {
      "main": [
        [
          {
            "node": "Get Pending Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "randomWait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Leads": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find New Connections": {
      "main": [
        [
          {
            "node": "updateConnectionDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "randomWait": {
      "main": [
        [
          {
            "node": "kyleConnectionExport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kyleConnectionExport": {
      "main": [
        [
          {
            "node": "2minWait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2minWait": {
      "main": [
        [
          {
            "node": "checkSuccess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkSuccess": {
      "main": [
        [
          {
            "node": "getRecentConnections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRecentConnections": {
      "main": [
        [
          {
            "node": "normalizeUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizeUrl": {
      "main": [
        [
          {
            "node": "Find New Connections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "normalizeUrl1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizeUrl1": {
      "main": [
        [
          {
            "node": "Find New Connections",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "updateConnectionDate": {
      "main": [
        [
          {
            "node": "Prepare HubSpot Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HubSpot Data": {
      "main": [
        [
          {
            "node": "Search Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company": {
      "main": [
        [
          {
            "node": "Company Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Exists?": {
      "main": [
        [
          {
            "node": "Use Existing Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Company": {
      "main": [
        [
          {
            "node": "Store New Company ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Company": {
      "main": [
        [
          {
            "node": "Merge Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store New Company ID": {
      "main": [
        [
          {
            "node": "Merge Company Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Company Results": {
      "main": [
        [
          {
            "node": "Search Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact": {
      "main": [
        [
          {
            "node": "Contact Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?": {
      "main": [
        [
          {
            "node": "Update Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact": {
      "main": [
        [
          {
            "node": "Store Updated Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "main": [
        [
          {
            "node": "Store New Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Updated Contact ID": {
      "main": [
        [
          {
            "node": "Merge Contact Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store New Contact ID": {
      "main": [
        [
          {
            "node": "Merge Contact Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Contact Results": {
      "main": [
        [
          {
            "node": "Associate Contact → Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Contact → Company": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Update HubSpot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "047bd8f3-f026-4422-9bb4-580f578e11a7",
  "meta": {
    "instanceId": "3ce16fc100291804826030d46a0f780f5d6613342b8afd8bb5c84603e7c0436d"
  },
  "id": "a56vnrPo9dsg5mmf",
  "tags": [
    {
      "updatedAt": "2025-12-17T14:25:00.955Z",
      "createdAt": "2025-12-17T14:25:00.955Z",
      "id": "ST1cKCxkQ4kcD3uk",
      "name": "linkedin"
    },
    {
      "updatedAt": "2025-12-18T16:55:26.784Z",
      "createdAt": "2025-12-18T16:55:26.784Z",
      "id": "UAis8MycDFReZ04T",
      "name": "hubspot"
    },
    {
      "updatedAt": "2025-12-19T16:27:39.190Z",
      "createdAt": "2025-12-19T16:27:39.190Z",
      "id": "cVxAdD8K3PHWNwMd",
      "name": "connections"
    }
  ]
}
