workflows/4.-lead-pipeline-monitor-(test).json
{
  "updatedAt": "2026-02-06T23:49:48.214Z",
  "createdAt": "2026-02-04T18:10:36.156Z",
  "id": "atJokUdeDsap4lJO",
  "name": "4. Lead Pipeline Monitor (TEST)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-kyle-6am",
      "name": "Schedule Kyle",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1120,
        928
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-hudson-6am",
      "name": "Schedule Hudson",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1120,
        1120
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Dashboard"
        },
        "options": {}
      },
      "id": "read-dashboard",
      "name": "Read Dashboard Metrics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1904,
        1024
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract Dashboard metrics\nconst data = $input.first().json;\n\nconst kylePreProcessed = parseInt(data['kylePreProcessed'] || 0);\nconst kyleTargets = parseInt(data['kyleTargets'] || 0);\nconst hudsonPreProcessed = parseInt(data['hudsonPreProcessed'] || 0);\nconst hudsonTargets = parseInt(data['hudsonTargets'] || 0);\n\n// In Parse Dashboard Metrics - add logic to determine who to scrape and process for\nconst needLeadsKyle = kylePreProcessed < 1000;\nconst needLeadsHudson = hudsonPreProcessed < 1000;\nconst needTargetsKyle = kyleTargets < 240;\nconst needTargetsHudson = hudsonTargets <240;\n\nconst profile = $('Take one profile').first().json.profile;\n\nlet needScrape = false;\nlet needTargets = false;\n\nif (profile == 'kyle') {\n  needScrape = needLeadsKyle,\n  needTargets = needTargetsKyle\n} else if (profile == 'hudson') {\n  needScrape = needLeadsHudson,\n  needTargets = needTargetsHudson\n}\n\nreturn [{\n  json: {\n    profile,\n    needScrape,\n    needTargets\n  }\n}];"
      },
      "id": "parse-metrics",
      "name": "Parse Dashboard Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        1024
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "People to crawl"
        },
        "options": {}
      },
      "id": "read-people-to-crawl",
      "name": "Read People to Crawl",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2752,
        1008
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Analyze People to Crawl data\nconst allRows = $input.all();\n\n// 1. Determine Profile Prefix FIRST\n// We need this to know which column to check (k_salesNavLink vs h_salesNavLink)\nlet profile = 'kyle'; // Default\ntry {\n  profile = $('Take one profile').first().json.profile;\n} catch(e) {\n  // Error handling if previous node is empty during testing\n}\n\nlet profile_prefix = 'k_';\nif (profile !== 'kyle') {\n  profile_prefix = 'h_';\n}\n\n// Define the dynamic keys based on the profile\nconst linkKey = profile_prefix + 'salesNavLink';\nconst dateKey = profile_prefix + 'lastCrawlDate';\nconst nameKey = profile_prefix + 'name';\n\nconst uncrawled = [];\nconst crawled = [];\nlet totalValidLinks = 0;\n\n// 2. Iterate and Filter simultaneously\nallRows.forEach((item, index) => {\n  // Handle n8n data structure (checks if data is in item.json or just item)\n  const data = item.json || item;\n\n  // Get the link specifically for the active profile\n  const searchLink = data[linkKey];\n\n  // Only process if the link exists and is not empty\n  if (searchLink && typeof searchLink === 'string' && searchLink.trim().length > 0) {\n    \n    totalValidLinks++;\n    const lastCrawl = data[dateKey] || '';\n    const name = data[nameKey] || '';\n    const rowNumber = data.row_number || index + 2;\n    \n    const rowData = {\n      rowNumber,\n      name,\n      searchLink: searchLink.trim(),\n      lastCrawlDate: lastCrawl ? lastCrawl.trim() : null\n    };\n    \n    if (!lastCrawl || lastCrawl.trim() === '') {\n      uncrawled.push(rowData);\n    } else {\n      crawled.push(rowData);\n    }\n  }\n});\n\n// 3. Sort crawled by date (oldest first) for fallback\ncrawled.sort((a, b) => {\n  const dateA = new Date(a.lastCrawlDate || '2099-12-31');\n  const dateB = new Date(b.lastCrawlDate || '2099-12-31');\n  return dateA - dateB;\n});\n\nconst uncrawledCount = uncrawled.length;\nlet selectedURL = null;\nlet selectedRow = null;\nlet alertLevel = 'none'; // none, warning, critical, fallback\n\nif (uncrawledCount > 2) {\n  // Normal operation - use first uncrawled\n  selectedURL = uncrawled[0].searchLink;\n  selectedRow = uncrawled[0].rowNumber;\n  alertLevel = 'none';\n} else if (uncrawledCount > 0) {\n  // 1-2 URLs left - warning\n  selectedURL = uncrawled[0].searchLink;\n  selectedRow = uncrawled[0].rowNumber;\n  alertLevel = 'warning';\n} else if (crawled.length > 0) {\n  // No uncrawled - fallback to oldest crawled\n  selectedURL = crawled[0].searchLink;\n  selectedRow = crawled[0].rowNumber;\n  alertLevel = 'fallback';\n} else {\n  // No URLs at all\n  alertLevel = 'critical';\n}\n\nreturn [{\n  json: {\n    uncrawledCount,\n    crawledCount: crawled.length,\n    totalURLs: totalValidLinks,\n    selectedURL,\n    selectedRow,\n    alertLevel,\n    selectedName: selectedURL ? (uncrawledCount > 0 ? uncrawled[0].name : crawled[0]?.name) : null,\n    oldestCrawledDate: crawled[0]?.lastCrawlDate || null,\n    currentProfile: profile // Added for debugging\n  }\n}];"
      },
      "id": "analyze-urls",
      "name": "Analyze URLs & Select Next",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        1008
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ $json.uncrawledCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-url",
      "name": "Has URL to Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3136,
        1008
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  id: $('Take one profile').first().json.exportPhantom || '4606663815675720',\n  manualLaunch: true,\n  bonusArgument: {\n    salesNavigatorSearchUrl: $json.selectedURL,\n    numberOfResultsPerSearch: 2500,\n    removeDuplicateProfiles: true\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "launch-phantom",
      "name": "Launch Search Export Phantom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3456,
        976
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=' + ($('Take one profile').first().json.exportPhantom || '4606663815675720') + '&containerId=' + $('Launch Search Export Phantom').item.json.containerId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-phantom-status",
      "name": "Check Phantom Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        864
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "phantom-still-running",
              "leftValue": "={{ $json.status }}",
              "rightValue": "running",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-phantom-running",
      "name": "Phantom Still Running?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4016,
        864
      ]
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "wait-more-for-phantom",
      "name": "Wait 5 More Min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4640,
        848
      ],
      "webhookId": "phantom-retry-wait"
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "={{ $('Take one profile').first().json.exportPhantom || '4606663815675720' }}",
        "additionalFields": {}
      },
      "id": "get-phantom-output",
      "name": "Get Phantom Output",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        4176,
        1088
      ],
      "credentials": {
        "phantombusterApi": {
          "id": "UYQpQC8SBIqIkifM",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.jsonUrl }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "fetch-phantom-json",
      "name": "Fetch Phantom JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4928,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse PhantomBuster JSON fetched from S3 URL\n// n8n HTTP Request auto-splits JSON arrays into multiple items\n// Use $input.all() to collect ALL profile items\nconst allItems = $input.all();\n\n// Debug: Check what we received\nconst debugInfo = {\n  itemCount: allItems.length,\n  firstItemKeys: allItems.length > 0 ? Object.keys(allItems[0].json || {}) : [],\n  hasLinkedinUrl: allItems.length > 0 ? !!(allItems[0].json?.linkedinProfileUrl || allItems[0].json?.profileUrl) : false\n};\n\n// Get selectedName from Analyze URLs & Select Next node\nlet selectedRow, selectedURL, selectedName;\ntry {\n  const analyzeData = $('Analyze URLs & Select Next').first().json;\n  selectedRow = analyzeData.selectedRow;\n  selectedURL = analyzeData.selectedURL;\n  selectedName = analyzeData.selectedName;\n} catch (e) {\n  // Manual trigger - these won't be available\n  selectedRow = null;\n  selectedURL = null;\n  selectedName = null;\n}\n\nlet profileName;\ntry { profileName = $('Take one profile').first().json.profile; } catch (e) { profileName = null; }\n\n// Each item is already a profile - filter and normalize\nconst profiles = allItems\n  .filter(item => {\n    const j = item.json || {};\n    return j.linkedinProfileUrl || j.profileUrl;\n  })\n  .map(item => {\n    const p = item.json;\n    // Normalize URL - remove www and trailing slash for consistency\n    let url = (p.linkedinProfileUrl || p.profileUrl || '').trim().toLowerCase();\n    url = url.replace('https://www.linkedin.com', 'https://linkedin.com').replace(/\\/$/, '');\n    \n    // Return ALL fields from PhantomBuster, plus normalized profileUrl\n    return {\n      ...p,\n      profileUrl: url\n    };\n  });\n\nreturn [{\n  json: {\n    profiles,\n    profileCount: profiles.length,\n    selectedRow,\n    selectedURL,\n    selectedName,\n    phantomStatus: 'finished',\n    profile: profileName,\n    _debug: debugInfo\n  }\n}];"
      },
      "id": "parse-phantom-output",
      "name": "Parse Phantom Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5168,
        1056
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Master List"
        },
        "options": {}
      },
      "id": "read-master-list",
      "name": "Read Master List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5344,
        848
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Tag each row with source sheet for downstream dedupe and update\nconst items = $input.all();\nreturn items.map(item => ({ json: { ...item.json, _sheet: 'Master List' } }));"
      },
      "id": "tag-master-list",
      "name": "Tag Master List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5536,
        848
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "New Leads"
        },
        "options": {}
      },
      "id": "read-new-leads",
      "name": "Read New Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5376,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Tag each row with source sheet for downstream dedupe and update\nconst items = $input.all();\nreturn items.map(item => ({ json: { ...item.json, _sheet: 'New Leads' } }));"
      },
      "id": "tag-new-leads",
      "name": "Tag New Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Profile-aware dedupe: compare phantom results against Master List + New Leads using connectionFrom\nconst phantomData = $('Parse Phantom Output').first().json;\nconst mergedItems = $input.all();\nlet currentProfile = 'kyle';\ntry { currentProfile = (($('Take one profile').first().json.profile) || 'kyle').toString().toLowerCase().trim(); } catch (e) {}\n\nfunction normalizeUrl(url) {\n  if (!url) return '';\n  return String(url).trim().toLowerCase()\n    .replace('https://www.linkedin.com', 'https://linkedin.com')\n    .replace(/\\/$/, '');\n}\n\nconst urlToRows = new Map();\nmergedItems.forEach(item => {\n  const url = normalizeUrl(item.json.defaultProfileUrl || item.json.profileUrl || item.json.linkedInProfileUrl);\n  if (!url) return;\n  const connectionFrom = (item.json.connectionFrom != null && item.json.connectionFrom !== '') ? String(item.json.connectionFrom).trim().toLowerCase() : '';\n  const _sheet = item.json._sheet || 'New Leads';\n  const list = urlToRows.get(url) || [];\n  list.push({ connectionFrom, _sheet });\n  urlToRows.set(url, list);\n});\n\nconst uniqueProfiles = [];\nconst profilesToUpdate = [];\nfor (const profile of phantomData.profiles || []) {\n  const url = normalizeUrl(profile.defaultProfileUrl || profile.profileUrl || profile.linkedInProfileUrl);\n  if (!url) continue;\n  const rows = urlToRows.get(url);\n  if (!rows || rows.length === 0) {\n    uniqueProfiles.push(profile);\n    continue;\n  }\n  for (const row of rows) {\n    const cf = row.connectionFrom;\n    if (cf === currentProfile || cf === 'both') continue;\n    profilesToUpdate.push({ defaultProfileUrl: profile.defaultProfileUrl, _sheet: row._sheet });\n  }\n}\n\nreturn [{\n  json: {\n    uniqueProfiles,\n    profilesToUpdate,\n    uniqueCount: uniqueProfiles.length,\n    totalScraped: phantomData.profileCount || 0,\n    duplicatesRemoved: (phantomData.profileCount || 0) - uniqueProfiles.length,\n    selectedRow: phantomData.selectedRow,\n    selectedURL: phantomData.selectedURL,\n    selectedName: phantomData.selectedName,\n    profile: currentProfile,\n    currentProfile\n  }\n}];"
      },
      "id": "dedupe-profiles",
      "name": "Dedupe Against Master + New Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6016,
        976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-unique",
              "leftValue": "={{ $json.uniqueCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-unique-count",
      "name": "Has Unique Profiles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6288,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert unique profiles to array of items for Google Sheets append\n// Consolidated columns for Sales Navigator Search Export\nconst data = $input.first().json;\nconst profiles = data.uniqueProfiles;\nlet profileName = '';\ntry { profileName = $('Parse Phantom Output').first().json.profile || ''; } catch (e) {}\n\nreturn profiles.map(p => ({\n  json: {\n    connectionFrom: (data.currentProfile || profileName || '').toString().trim().toLowerCase(),\n    profileUrl: p.profileUrl || p.linkedInProfileUrl || '',\n    linkedInProfileUrl: p.linkedInProfileUrl || '',\n    fullName: p.fullName || p.name || '',\n    firstName: p.firstName || '',\n    lastName: p.lastName || '',\n    title: p.title || p.headline || p.jobTitle || '',\n    titleDescription: p.titleDescription || '',\n    summary: p.summary || '',\n    location: p.location || '',\n    companyName: p.companyName || p.company || '',\n    companyUrl: p.companyUrl || '',\n    companyId: p.companyId || '',\n    regularCompanyUrl: p.regularCompanyUrl || '',\n    companyLocation: p.companyLocation || '',\n    industry: p.industry || '',\n    durationInRole: p.durationInRole || p.jobDateRange || '',\n    durationInCompany: p.durationInCompany || '',\n    pastExperienceCompanyName: p.pastExperienceCompanyName || p.company2 || '',\n    pastExperienceCompanyUrl: p.pastExperienceCompanyUrl || p.companyUrl2 || '',\n    pastExperienceCompanyTitle: p.pastExperienceCompanyTitle || p.jobTitle2 || '',\n    pastExperienceDate: p.pastExperienceDate || p.jobDateRange2 || '',\n    pastExperienceDuration: p.pastExperienceDuration || '',\n    connectionDegree: p.connectionDegree || '',\n    sharedConnectionsCount: p.sharedConnectionsCount || '',\n    profileImageUrl: p.profileImageUrl || '',\n    vmid: p.vmid || '',\n    isPremium: p.isPremium || false,\n    isOpenLink: p.isOpenLink || false,\n    defaultProfileUrl: p.defaultProfileUrl || '',\n    timestamp: p.timestamp || new Date().toISOString(),\n    query: p.query || '',\n    searchAccountProfileId: p.searchAccountProfileId || ''\n  }\n}));"
      },
      "id": "prepare-for-append",
      "name": "Prepare for Append",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6576,
        656
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "New Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "profileUrl",
              "displayName": "profileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profileImageUrl",
              "displayName": "profileImageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "connectionDegree",
              "displayName": "connectionDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vmid",
              "displayName": "vmid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl",
              "displayName": "companyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl2",
              "displayName": "companyUrl2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "searchAccountProfileId",
              "displayName": "searchAccountProfileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedInProfileUrl",
              "displayName": "linkedInProfileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titleDescription",
              "displayName": "titleDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "regularCompanyUrl",
              "displayName": "regularCompanyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyLocation",
              "displayName": "companyLocation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "durationInRole",
              "displayName": "durationInRole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "durationInCompany",
              "displayName": "durationInCompany",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pastExperienceCompanyName",
              "displayName": "pastExperienceCompanyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pastExperienceCompanyUrl",
              "displayName": "pastExperienceCompanyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pastExperienceCompanyTitle",
              "displayName": "pastExperienceCompanyTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pastExperienceDate",
              "displayName": "pastExperienceDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pastExperienceDuration",
              "displayName": "pastExperienceDuration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sharedConnectionsCount",
              "displayName": "sharedConnectionsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isPremium",
              "displayName": "isPremium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isOpenLink",
              "displayName": "isOpenLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "defaultProfileUrl",
              "displayName": "defaultProfileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "connectionFrom",
              "displayName": "connectionFrom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profile",
              "displayName": "profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-to-new-leads",
      "name": "Append to New Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6768,
        656
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-to-update",
              "leftValue": "={{ $json.profilesToUpdate.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-profiles-to-update",
      "name": "Has profiles to update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6320,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// Output one item per row to update (defaultProfileUrl + _sheet) for Google Sheets update\nconst data = $input.first().json;\nconst list = data.profilesToUpdate || [];\nif (list.length === 0) return [{ json: { _noop: true } }];\nreturn list.map(row => ({ json: { defaultProfileUrl: row.defaultProfileUrl, _sheet: row._sheet } }));"
      },
      "id": "prepare-connectionfrom-updates",
      "name": "Prepare connectionFrom updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6576,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "// No-op so Path A always sends one item to convergence\nreturn [{ json: {} }];"
      },
      "id": "no-op-path-a",
      "name": "No Op Path A",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6640,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "// No-op so Path B always sends one item to convergence\nreturn [{ json: {} }];"
      },
      "id": "no-op-path-b",
      "name": "No Op Path B",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6560,
        1296
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through one item from Path A (Append or No Op)\nconst items = $input.all();\nreturn items.length ? items : [{ json: {} }];"
      },
      "id": "path-a-done",
      "name": "Path A done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7008,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through one item from Path B (Update or No Op)\nconst items = $input.all();\nreturn items.length ? items : [{ json: {} }];"
      },
      "id": "path-b-done",
      "name": "Path B done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7136,
        1136
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "wait-for-both-paths",
      "name": "Wait for both paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7328,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare row data for updating Last Crawl Date using Name as match field\n// Get selectedName from multiple sources - try each in order\nlet searchUrl = '';\n\n// Try getting from Parse Phantom Output first\ntry {\n  searchUrl = $('Has URL to Process?').first().json.selectedURL || '';\n} catch (e) {}\n\n// Only return data if we have a valid name to match on\nif (!searchUrl) {\n  return [{ json: { _skip: true, reason: 'No selectedName available - skipping crawl date update' } }];\n}\n\n// Create date in M/D/YYYY format (e.g. 1/28/2026)\nconst date = new Date();\nconst formattedDate = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();\n\nreturn [{\n  json: {\n    'searchUrl': searchUrl,\n    'lastCrawlDate': formattedDate\n  }\n}];"
      },
      "id": "prepare-crawl-update",
      "name": "Prepare Crawl Date Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7520,
        1008
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Dashboard"
        },
        "options": {}
      },
      "id": "recheck-dashboard",
      "name": "Re-check Dashboard B5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8112,
        880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract Dashboard metrics\nconst data = $input.first().json;\n\nconst kylePreProcessed = parseInt(data['kylePreProcessed'] || 0);\nconst kyleTargets = parseInt(data['kyleTargets'] || 0);\nconst hudsonPreProcessed = parseInt(data['hudsonPreProcessed'] || 0);\nconst hudsonTargets = parseInt(data['hudsonTargets'] || 0);\n\n// In Parse Dashboard Metrics - add logic to determine who to scrape and process for\nconst needLeadsKyle = kylePreProcessed < 1000;\nconst needLeadsHudson = hudsonPreProcessed < 1000;\nconst needTargetsKyle = kyleTargets < 240;\nconst needTargetsHudson = hudsonTargets <240;\n\nconst profile = $('Take one profile').first().json.profile;\n\nlet needScrape = false;\nlet needTargets = false;\n\nif (profile == 'kyle') {\n  needScrape = needLeadsKyle,\n  needTargets = needTargetsKyle\n} else if (profile == 'hudson') {\n  needScrape = needLeadsHudson,\n  needTargets = needTargetsHudson\n}\n\nreturn [{\n  json: {\n    profile,\n    needScrape,\n    needTargets\n  }\n}];"
      },
      "id": "check-still-needed",
      "name": "Still Need More?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8320,
        880
      ]
    },
    {
      "parameters": {},
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        8736,
        1200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pipeline-monitor",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Manual Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1104,
        1344
      ],
      "webhookId": "pipeline-monitor-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pipeline-monitor-crawl",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-crawl-trigger",
      "name": "Crawl for profile webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1104,
        1248
      ],
      "webhookId": "pipeline-monitor-crawl-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Called by workflow 1 with body { profile: 'kyle' | 'hudson' }\nconst data = $input.first().json;\nconst profile = (data.body && data.body.profile) || data.profile || 'kyle';\nconst profileIndex = (String(profile).toLowerCase() === 'hudson') ? 1 : 0;\nreturn [{ json: { profileIndex } }];"
      },
      "id": "set-profile-from-webhook",
      "name": "Set profile from webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1248
      ]
    },
    {
      "parameters": {
        "jsCode": "// This run is for Kyle (profileIndex 0)\nreturn [{ json: { profileIndex: 0 } }];"
      },
      "id": "set-profile-kyle-pipeline",
      "name": "Set profile Kyle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "// This run is for Hudson (profileIndex 1)\nreturn [{ json: { profileIndex: 1 } }];"
      },
      "id": "set-profile-hudson-pipeline",
      "name": "Set profile Hudson",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Manual/webhook run: round-robin by day (0 = Kyle, 1 = Hudson)\n// return [{ json: { profileIndex: new Date().getDate() % 2 } }];\nreturn [{ json: { profileIndex: 0 } }];"
      },
      "id": "set-profile-for-manual-pipeline",
      "name": "Set profile for manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1312
      ]
    },
    {
      "parameters": {
        "url": "https://api.doppler.com/v3/configs/config/secrets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "project",
              "value": "developers"
            },
            {
              "name": "config",
              "value": "hudson"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-doppler-cookies-pipeline",
      "name": "Fetch Doppler cookies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        576
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dz2vX61Mpayywfq1",
          "name": "Doppler API"
        }
      },
      "notes": "Pulls secrets from Doppler. Header Auth credential 'Doppler API' with Authorization: Bearer <service_token>."
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "merge-profile-doppler-pipeline",
      "name": "Profile + Doppler",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1888,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Doppler API response (from Profile + Doppler merge) and build two profile items (kyle, hudson) with sessionCookie, userAgent, and profile-specific Search Export phantom ID.\nconst item = $input.first();\nconst secrets = item.json.secrets || {};\nlet profileIndex = item.json.profileIndex;\nif (profileIndex === undefined || profileIndex === null) {\n  try {\n    const crawlData = $('Set profile from webhook').first();\n    profileIndex = crawlData.json.profileIndex;\n  } catch (e) {}\n  if (profileIndex === undefined || profileIndex === null) {\n    try {\n      if ($('Set profile Kyle').isExecuted) profileIndex = 0;\n      else if ($('Set profile Hudson').isExecuted) profileIndex = 1;\n      else profileIndex = new Date().getDate() % 2;\n    } catch (e) { profileIndex = new Date().getDate() % 2; }\n  }\n}\nconst kyleCookie = (secrets.LINKEDIN_KYLE_SESSION_COOKIE);\nconst hudsonCookie = (secrets.LINKEDIN_HUDSON_SESSION_COOKIE);\nconst userAgents = {\n  kyle: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36',\n  hudson: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36'\n};\nconst exportPhantomIds = { kyle: '4606663815675720', hudson: '2368687890019633' };\nreturn [\n  { json: { profile: 'kyle', profileIndex: 0, sessionCookie: kyleCookie, userAgent: userAgents.kyle, exportPhantom: exportPhantomIds.kyle } },\n  { json: { profile: 'hudson', profileIndex: 1, sessionCookie: hudsonCookie, userAgent: userAgents.hudson, exportPhantom: exportPhantomIds.hudson } }\n];"
      },
      "id": "build-profile-items-pipeline",
      "name": "Build profile items with cookies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Select one profile by profileIndex (0 = Kyle, 1 = Hudson). Default: round-robin by day.\nconst items = $input.all();\nif (!items.length) return [];\n\nlet requested;\ntry {\n  // Crawl webhook (workflow 1 calls with profile)\n  try {\n    const crawlData = $('Set profile from webhook').first();\n    requested = crawlData.json.profileIndex;\n  } catch (e) {}\n  \n  if (requested === undefined) {\n    let kyleExecuted = false;\n    let hudsonExecuted = false;\n    let manualExecuted = false;\n    \n    try {\n      $('Set profile Kyle').first();\n      kyleExecuted = true;\n    } catch (e) {}\n    \n    try {\n      $('Set profile Hudson').first();\n      hudsonExecuted = true;\n    } catch (e) {}\n    \n    try {\n      const manualData = $('Manual Trigger Webhook').first();\n      manualExecuted = true;\n      requested = manualData.json.profileIndex;\n    } catch (e) {}\n    \n    if (kyleExecuted && !manualExecuted) {\n      requested = 0;\n    } else if (hudsonExecuted && !manualExecuted) {\n      requested = 1;\n    } else if (requested === undefined) {\n      requested = new Date().getDate() % 2;\n    }\n  }\n} catch (e) {\n  requested = new Date().getDate() % 2;\n}\n\nreturn [items[requested]];"
      },
      "id": "take-one-profile-pipeline",
      "name": "Take one profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        800
      ],
      "notes": "PhantomBuster must receive a single item; otherwise the launch node runs N times."
    },
    {
      "parameters": {},
      "id": "baa72fbb-d099-4029-ba26-7b3608559d78",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1104,
        1552
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "wait-for-phantom",
      "name": "Wait 10 min for Phantom",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3616,
        864
      ],
      "webhookId": "phantom-wait"
    },
    {
      "parameters": {},
      "id": "06d13644-87b1-414b-8789-6010081f7c6b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5792,
        976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92742f24-c332-4387-b639-e32ad9f6af5e",
              "leftValue": "={{ $json.jsonUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4384,
        1088
      ],
      "id": "f6e12ad5-7413-455a-8909-4772c5d58d6e",
      "name": "If URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "622fe891-95c2-47a2-9622-6cd60be41792",
              "leftValue": "=  {{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4592,
        1184
      ],
      "id": "7915f4cb-2038-451a-a88e-9ed8709dfc28",
      "name": "If no error"
    },
    {
      "parameters": {
        "jsCode": "// Check if error message indicates invalid cookie/session (for Slack alert)\nconst item = $input.first().json;\nconst err = (item.error || item.message || '').toString();\nconst cookiePatterns = [/invalid.*cookie/i, /cookie.*invalid/i, /session.*expired/i, /disconnected.*linkedin/i, /no valid credentials/i, /invalid credentials/i];\nconst isCookieError = cookiePatterns.some(p => p.test(err));\nreturn [{ json: { ...item, isCookieError, errorMessage: err.substring(0, 500) } }];"
      },
      "id": "parse-error-for-cookie",
      "name": "Parse error for cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        1296
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cookie-err",
              "leftValue": "={{ $json.isCookieError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cookie-error-if-pipeline",
      "name": "Cookie error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4864,
        1296
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0AE1D1K4AF"
        },
        "text": "={{ '🍪 *LinkedIn Cookie/Session Error - Update in Doppler*\\n\\n*Workflow:* Lead Pipeline Monitor\\n*Profile:* ' + ($('Take one profile').first().json.profile || 'unknown') + '\\n*Error:* ' + ($json.errorMessage || '').substring(0, 300) + '\\n\\n⚠️ Update in Doppler: LINKEDIN_KYLE_SESSION_COOKIE or LINKEDIN_HUDSON_SESSION_COOKIE.' }}",
        "otherOptions": {}
      },
      "id": "slack-cookie-alert-pipeline",
      "name": "Slack: Cookie Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        5088,
        1200
      ],
      "webhookId": "863c98f0-2ec9-43b1-a6af-7fcd5ac443c7",
      "credentials": {
        "slackApi": {
          "id": "wkLpZSqhXl2iesnC",
          "name": "Chrt Slack App"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-d5",
              "leftValue": "={{ $json.needTargets }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ea78318e-8019-4a34-a0b9-8844f080dc65",
      "name": "Need More Targets?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8528,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-d5",
              "leftValue": "={{ $json.needScrape }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-potential-connections",
      "name": "Need more leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2512,
        1136
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8976,
        800
      ],
      "id": "14815b98-b14f-4905-902b-e777223657f0",
      "name": "Wait",
      "webhookId": "8a5e43a0-c508-41c0-8095-ea3764c77bcc"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "People to crawl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "k_salesNavLink": "={{ $json.searchUrl }}",
            "k_lastCrawlDate": "={{ $json.lastCrawlDate }}"
          },
          "matchingColumns": [
            "k_salesNavLink"
          ],
          "schema": [
            {
              "id": "k_profileReason",
              "displayName": "k_profileReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_name",
              "displayName": "k_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_linkedInUrl",
              "displayName": "k_linkedInUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_salesNavLink",
              "displayName": "k_salesNavLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_lastCrawlDate",
              "displayName": "k_lastCrawlDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_connections",
              "displayName": "k_connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_profileReason",
              "displayName": "h_profileReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_name",
              "displayName": "h_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_linkedInUrl",
              "displayName": "h_linkedInUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_salesNavLink",
              "displayName": "h_salesNavLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_lastCrawlDate",
              "displayName": "h_lastCrawlDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_connections",
              "displayName": "h_connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industryName",
              "displayName": "industryName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industryId",
              "displayName": "industryId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industryUrl",
              "displayName": "industryUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "searchGroup",
              "displayName": "searchGroup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullUrlGroup1",
              "displayName": "fullUrlGroup1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullUrlGroup2",
              "displayName": "fullUrlGroup2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullUrlGroup3",
              "displayName": "fullUrlGroup3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-crawl-date",
      "name": "updateCrawlDate",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7904,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "74e86685-de51-4b81-98d8-2d3324245854",
              "leftValue": "={{ $('Take one profile').first().json.profile }}",
              "rightValue": "kyle",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7712,
        976
      ],
      "id": "96a1886e-9999-4102-b9bd-ba2be8a62502",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "People to crawl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "h_salesNavLink": "={{ $json.searchUrl }}",
            "h_lastCrawlDate": "={{ $json.lastCrawlDate }}"
          },
          "matchingColumns": [
            "h_salesNavLink"
          ],
          "schema": [
            {
              "id": "k_profileReason",
              "displayName": "k_profileReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_name",
              "displayName": "k_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_linkedInUrl",
              "displayName": "k_linkedInUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_salesNavLink",
              "displayName": "k_salesNavLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_lastCrawlDate",
              "displayName": "k_lastCrawlDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "k_connections",
              "displayName": "k_connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_profileReason",
              "displayName": "h_profileReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_name",
              "displayName": "h_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_linkedInUrl",
              "displayName": "h_linkedInUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_salesNavLink",
              "displayName": "h_salesNavLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_lastCrawlDate",
              "displayName": "h_lastCrawlDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "h_connections",
              "displayName": "h_connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industryName",
              "displayName": "industryName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industryId",
              "displayName": "industryId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industryUrl",
              "displayName": "industryUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "searchGroup",
              "displayName": "searchGroup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullUrlGroup1",
              "displayName": "fullUrlGroup1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullUrlGroup2",
              "displayName": "fullUrlGroup2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullUrlGroup3",
              "displayName": "fullUrlGroup3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "996d35ee-5cd3-4066-9fde-93b7db12e86c",
      "name": "updateCrawlDate1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7920,
        1040
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0AE1D1K4AF"
        },
        "text": "={{ 'Add more crawl urls to ' +($('Take one profile').first().json.profile || 'unknown') }}",
        "otherOptions": {}
      },
      "id": "27d7e48f-eb9d-452e-9050-1d5b85941bec",
      "name": "Slack: Cookie Alert1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3440,
        1232
      ],
      "webhookId": "863c98f0-2ec9-43b1-a6af-7fcd5ac443c7",
      "credentials": {
        "slackApi": {
          "id": "wkLpZSqhXl2iesnC",
          "name": "Chrt Slack App"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collect all connectionFrom update items into a single payload for Apps Script\nconst items = $input.all();\nconst updates = items.filter(item => !item.json._noop).map(item => ({\n  defaultProfileUrl: item.json.defaultProfileUrl,\n  _sheet: item.json._sheet || 'New Leads'\n}));\n\nif (updates.length === 0) {\n  return [{ json: { _noop: true, message: 'No connectionFrom updates needed' } }];\n}\n\nreturn [{ json: { updates } }];"
      },
      "id": "wf4-prepare-cf-payload",
      "name": "Prepare connectionFrom Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6784,
        1088
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/AKfycbzzkTFn8Rfij3OWGrJl_nnsGTlpcj3Z3vLZ48tQTa5zENQJV2i8DxLkHRX-kxusC10x/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ updates: $json.updates || [] }) }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 120000
        }
      },
      "id": "wf4-batch-update-cf",
      "name": "Batch Update connectionFrom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7008,
        1088
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Kyle": {
      "main": [
        [
          {
            "node": "Set profile Kyle",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Doppler cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Hudson": {
      "main": [
        [
          {
            "node": "Set profile Hudson",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Doppler cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger Webhook": {
      "main": [
        [
          {
            "node": "Set profile for manual",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Doppler cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl for profile webhook": {
      "main": [
        [
          {
            "node": "Set profile from webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Doppler cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set profile from webhook": {
      "main": [
        [
          {
            "node": "Profile + Doppler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set profile Kyle": {
      "main": [
        [
          {
            "node": "Profile + Doppler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set profile Hudson": {
      "main": [
        [
          {
            "node": "Profile + Doppler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set profile for manual": {
      "main": [
        [
          {
            "node": "Profile + Doppler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Doppler cookies": {
      "main": [
        [
          {
            "node": "Profile + Doppler",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Profile + Doppler": {
      "main": [
        [
          {
            "node": "Build profile items with cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build profile items with cookies": {
      "main": [
        [
          {
            "node": "Take one profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take one profile": {
      "main": [
        [
          {
            "node": "Read Dashboard Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Dashboard Metrics": {
      "main": [
        [
          {
            "node": "Parse Dashboard Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dashboard Metrics": {
      "main": [
        [
          {
            "node": "Need more leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read People to Crawl": {
      "main": [
        [
          {
            "node": "Analyze URLs & Select Next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze URLs & Select Next": {
      "main": [
        [
          {
            "node": "Has URL to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL to Process?": {
      "main": [
        [
          {
            "node": "Launch Search Export Phantom",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Cookie Alert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Search Export Phantom": {
      "main": [
        [
          {
            "node": "Wait 10 min for Phantom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Phantom Output": {
      "main": [
        [
          {
            "node": "Read Master List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master List": {
      "main": [
        [
          {
            "node": "Tag Master List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Master List": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read New Leads": {
      "main": [
        [
          {
            "node": "Tag New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag New Leads": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dedupe Against Master + New Leads": {
      "main": [
        [
          {
            "node": "Has Unique Profiles?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has profiles to update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Unique Profiles?": {
      "main": [
        [
          {
            "node": "Prepare for Append",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Op Path A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Append": {
      "main": [
        [
          {
            "node": "Append to New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to New Leads": {
      "main": [
        [
          {
            "node": "Path A done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Op Path A": {
      "main": [
        [
          {
            "node": "Path A done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Path A done": {
      "main": [
        [
          {
            "node": "Wait for both paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has profiles to update?": {
      "main": [
        [
          {
            "node": "Prepare connectionFrom updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Op Path B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare connectionFrom updates": {
      "main": [
        [
          {
            "node": "Prepare connectionFrom Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Op Path B": {
      "main": [
        [
          {
            "node": "Path B done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Path B done": {
      "main": [
        [
          {
            "node": "Wait for both paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for both paths": {
      "main": [
        [
          {
            "node": "Prepare Crawl Date Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Crawl Date Update": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-check Dashboard B5": {
      "main": [
        [
          {
            "node": "Still Need More?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Need More?": {
      "main": [
        [
          {
            "node": "Need More Targets?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 min for Phantom": {
      "main": [
        [
          {
            "node": "Check Phantom Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Phantom Status": {
      "main": [
        [
          {
            "node": "Phantom Still Running?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phantom Still Running?": {
      "main": [
        [
          {
            "node": "Wait 5 More Min",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Phantom Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 More Min": {
      "main": [
        [
          {
            "node": "Check Phantom Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Phantom Output": {
      "main": [
        [
          {
            "node": "If URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Phantom JSON": {
      "main": [
        [
          {
            "node": "Parse Phantom Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Dedupe Against Master + New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If URL": {
      "main": [
        [
          {
            "node": "Fetch Phantom JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If no error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If no error": {
      "main": [
        [
          {
            "node": "Parse Phantom Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse error for cookie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse error for cookie": {
      "main": [
        [
          {
            "node": "Cookie error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cookie error?": {
      "main": [
        [
          {
            "node": "Slack: Cookie Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch Doppler cookies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set profile Hudson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need More Targets?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need more leads?": {
      "main": [
        [
          {
            "node": "Read People to Crawl",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Re-check Dashboard B5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateCrawlDate": {
      "main": [
        [
          {
            "node": "Re-check Dashboard B5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "updateCrawlDate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "updateCrawlDate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateCrawlDate1": {
      "main": [
        [
          {
            "node": "Re-check Dashboard B5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare connectionFrom Payload": {
      "main": [
        [
          {
            "node": "Batch Update connectionFrom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Update connectionFrom": {
      "main": [
        [
          {
            "node": "Path B done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "YWP69Qgq0ZlCN7Gj"
  },
  "staticData": {
    "node:Schedule Kyle": {
      "recurrenceRules": []
    },
    "node:Schedule Hudson": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "5adc0ff0-599e-4b07-bf40-94c861cf3fd9",
  "activeVersionId": null,
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2026-02-04T18:10:36.839Z",
      "createdAt": "2026-02-04T18:10:36.839Z",
      "role": "workflow:owner",
      "workflowId": "atJokUdeDsap4lJO",
      "projectId": "O7lTivDfRl72aS23"
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_folderPath": "",
  "_fileName": "4.-lead-pipeline-monitor-(test).json"
}