workflows/4.-lead-pipeline-monitor.json
{
  "updatedAt": "2025-12-26T20:46:06.090Z",
  "createdAt": "2025-12-26T18:55:11.571Z",
  "id": "dWFsEXELFTJU0W01",
  "name": "4. Lead Pipeline Monitor",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Dashboard"
        },
        "options": {}
      },
      "id": "read-dashboard",
      "name": "Read Dashboard Metrics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        32,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract Dashboard metrics\nconst data = $input.first().json;\n\n// B5 = Pre-processed count, D5 = Potential Connections\n// Google Sheets returns values by column letter\nconst preProcessed = parseInt(data['B5'] || data['Pre-processed'] || data[Object.keys(data)[0]] || 0);\nconst potentialConnections = parseInt(data['D5'] || data['Potential Connections'] || data[Object.keys(data)[2]] || 0);\n\nreturn [{\n  json: {\n    preProcessed,\n    potentialConnections,\n    needsIngestion: potentialConnections < 240,\n    needsScraping: preProcessed < 500,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-metrics",
      "name": "Parse Dashboard Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-d5",
              "leftValue": "={{ $json.needsIngestion }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-potential-connections",
      "name": "D5 < 240?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'https://chrt.app.n8n.cloud' }}/webhook/lead-ingestion",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ batchSize: 240, source: 'pipeline-monitor' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "trigger-ingestion",
      "name": "Trigger Lead Ingestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-b5",
              "leftValue": "={{ $json.needsScraping }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-preprocessed",
      "name": "B5 < 500?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        512
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "People to crawl"
        },
        "options": {}
      },
      "id": "read-people-to-crawl",
      "name": "Read People to Crawl",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        944,
        512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Analyze People to Crawl data\n// Columns: A=Profile Type, B=Name, C=Search Link, D=Last Crawl Date\nconst allRows = $input.all();\n\n// Filter rows with a Search Link (Column C)\nconst rowsWithLinks = allRows.filter(item => {\n  const link = item.json['Search Link'] || item.json['C'] || '';\n  return link && link.trim().length > 0;\n});\n\n// Separate uncrawled (no date in D) from crawled\nconst uncrawled = [];\nconst crawled = [];\n\nrowsWithLinks.forEach((item, index) => {\n  const lastCrawl = item.json['Last Crawl Date'] || item.json['D'] || '';\n  const searchLink = item.json['Search Link'] || item.json['C'] || '';\n  const name = item.json['Name'] || item.json['B'] || '';\n  const rowNumber = item.json.row_number || index + 2; // +2 for header row\n  \n  const rowData = {\n    rowNumber,\n    name,\n    searchLink: searchLink.trim(),\n    lastCrawlDate: lastCrawl ? lastCrawl.trim() : null\n  };\n  \n  if (!lastCrawl || lastCrawl.trim() === '') {\n    uncrawled.push(rowData);\n  } else {\n    crawled.push(rowData);\n  }\n});\n\n// Sort crawled by date (oldest first) for fallback\ncrawled.sort((a, b) => {\n  const dateA = new Date(a.lastCrawlDate || '2099-12-31');\n  const dateB = new Date(b.lastCrawlDate || '2099-12-31');\n  return dateA - dateB;\n});\n\nconst uncrawledCount = uncrawled.length;\nlet selectedURL = null;\nlet selectedRow = null;\nlet alertLevel = 'none'; // none, warning, critical, fallback\n\nif (uncrawledCount > 2) {\n  // Normal operation - use first uncrawled\n  selectedURL = uncrawled[0].searchLink;\n  selectedRow = uncrawled[0].rowNumber;\n  alertLevel = 'none';\n} else if (uncrawledCount > 0) {\n  // 1-2 URLs left - warning\n  selectedURL = uncrawled[0].searchLink;\n  selectedRow = uncrawled[0].rowNumber;\n  alertLevel = 'warning';\n} else if (crawled.length > 0) {\n  // No uncrawled - fallback to oldest crawled\n  selectedURL = crawled[0].searchLink;\n  selectedRow = crawled[0].rowNumber;\n  alertLevel = 'fallback';\n} else {\n  // No URLs at all\n  alertLevel = 'critical';\n}\n\nreturn [{\n  json: {\n    uncrawledCount,\n    crawledCount: crawled.length,\n    totalURLs: rowsWithLinks.length,\n    selectedURL,\n    selectedRow,\n    alertLevel,\n    selectedName: selectedURL ? (uncrawledCount > 0 ? uncrawled[0].name : crawled[0]?.name) : null,\n    oldestCrawledDate: crawled[0]?.lastCrawlDate || null\n  }\n}];"
      },
      "id": "analyze-urls",
      "name": "Analyze URLs & Select Next",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-warning",
              "leftValue": "={{ $json.alertLevel }}",
              "rightValue": "warning",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-warning-alert",
      "name": "Warning Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        400
      ]
    },
    {
      "parameters": {},
      "id": "send-warning-email",
      "name": "Send Warning Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1600,
        304
      ],
      "notesInFlow": true,
      "notes": "TODO: Configure SMTP - Low URL Alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-fallback",
              "leftValue": "={{ $json.alertLevel }}",
              "rightValue": "fallback",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-fallback-alert",
      "name": "Fallback Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        608
      ]
    },
    {
      "parameters": {},
      "id": "send-fallback-email",
      "name": "Send Fallback Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1600,
        512
      ],
      "notesInFlow": true,
      "notes": "TODO: Configure SMTP - Fallback Mode Alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-critical",
              "leftValue": "={{ $json.alertLevel }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-critical-alert",
      "name": "Critical - No URLs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        800
      ]
    },
    {
      "parameters": {},
      "id": "send-critical-email",
      "name": "Send Critical Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1600,
        800
      ],
      "notesInFlow": true,
      "notes": "TODO: Configure SMTP - Critical Alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ $json.selectedURL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-url",
      "name": "Has URL to Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1824,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  id: \"5278010334212417\",\n  bonusArgument: {\n    search: $json.selectedURL,\n    numberOfResultsPerSearch: 1000\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "launch-phantom",
      "name": "Launch Search Export Phantom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 600
      },
      "id": "wait-for-phantom",
      "name": "Wait 10 min for Phantom",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2272,
        400
      ],
      "webhookId": "phantom-wait"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.phantombuster.com/api/v2/agents/fetch-output?id=5278010334212417&containerId=' + $('Launch Search Export Phantom').item.json.containerId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-phantom-output",
      "name": "Fetch Phantom Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KWeabljbYSzoLpjI",
          "name": "Phantom Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse PhantomBuster output and extract profile URLs\nconst result = $input.first().json;\nconst selectedRow = $('Analyze URLs & Select Next').first().json.selectedRow;\nconst selectedURL = $('Analyze URLs & Select Next').first().json.selectedURL;\n\nlet profiles = [];\n\n// PhantomBuster returns resultObject with the scraped data\nif (result.resultObject && Array.isArray(result.resultObject)) {\n  profiles = result.resultObject;\n} else if (result.data && Array.isArray(result.data)) {\n  profiles = result.data;\n}\n\n// Extract profile URLs - the phantom outputs 'linkedinProfileUrl' field\nconst profileUrls = profiles\n  .filter(p => p.linkedinProfileUrl || p.profileUrl)\n  .map(p => ({\n    profileUrl: (p.linkedinProfileUrl || p.profileUrl || '').trim().toLowerCase(),\n    fullName: p.fullName || '',\n    firstName: p.firstName || '',\n    lastName: p.lastName || '',\n    headline: p.headline || '',\n    location: p.location || '',\n    company: p.company || '',\n    connectionDegree: p.connectionDegree || '',\n    timestamp: new Date().toISOString()\n  }));\n\nreturn [{\n  json: {\n    profiles: profileUrls,\n    profileCount: profileUrls.length,\n    selectedRow,\n    selectedURL,\n    phantomStatus: result.status || 'unknown'\n  }\n}];"
      },
      "id": "parse-phantom-output",
      "name": "Parse Phantom Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Master List"
        },
        "options": {}
      },
      "id": "read-master-list",
      "name": "Read Master List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2928,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "New Leads"
        },
        "options": {}
      },
      "id": "read-new-leads",
      "name": "Read New Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2928,
        512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate phantom results against Master List and New Leads\nconst phantomData = $('Parse Phantom Output').first().json;\nconst masterList = $('Read Master List').all();\nconst newLeads = $('Read New Leads').all();\n\n// Create Sets for O(1) lookup - normalize URLs\nconst masterUrls = new Set(\n  masterList.map(item => (item.json.profileUrl || '').trim().toLowerCase())\n);\n\nconst newLeadUrls = new Set(\n  newLeads.map(item => (item.json.profileUrl || '').trim().toLowerCase())\n);\n\n// Filter phantom profiles - keep only those not in Master or New Leads\nconst uniqueProfiles = phantomData.profiles.filter(profile => {\n  const url = profile.profileUrl;\n  return url && !masterUrls.has(url) && !newLeadUrls.has(url);\n});\n\nreturn [{\n  json: {\n    uniqueProfiles,\n    uniqueCount: uniqueProfiles.length,\n    totalScraped: phantomData.profileCount,\n    duplicatesRemoved: phantomData.profileCount - uniqueProfiles.length,\n    selectedRow: phantomData.selectedRow,\n    selectedURL: phantomData.selectedURL\n  }\n}];"
      },
      "id": "dedupe-profiles",
      "name": "Dedupe Against Master + New Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-unique",
              "leftValue": "={{ $json.uniqueCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-unique-count",
      "name": "Has Unique Profiles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3360,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convert unique profiles to array of items for Google Sheets append\nconst data = $input.first().json;\nconst profiles = data.uniqueProfiles;\n\nreturn profiles.map(profile => ({\n  json: {\n    profileUrl: profile.profileUrl,\n    fullName: profile.fullName,\n    firstName: profile.firstName,\n    lastName: profile.lastName,\n    headline: profile.headline,\n    location: profile.location,\n    company: profile.company,\n    connectionDegree: profile.connectionDegree,\n    timestamp: profile.timestamp\n  }\n}));"
      },
      "id": "prepare-for-append",
      "name": "Prepare for Append",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        304
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "New Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "append-to-new-leads",
      "name": "Append to New Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3808,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "People to crawl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last Crawl Date": "={{ new Date().toISOString().split('T')[0] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            },
            {
              "id": "Last Crawl Date",
              "displayName": "Last Crawl Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "update-crawl-date",
      "name": "Update Last Crawl Date",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4032,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare row data for updating Last Crawl Date\nconst dedupeData = $('Dedupe Against Master + New Leads').first().json;\n\nreturn [{\n  json: {\n    row_number: dedupeData.selectedRow,\n    'Last Crawl Date': new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "prepare-crawl-update",
      "name": "Prepare Crawl Date Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        512
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Dashboard"
        },
        "options": {}
      },
      "id": "recheck-dashboard",
      "name": "Re-check Dashboard B5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4240,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if we still need more leads\nconst data = $input.first().json;\nconst preProcessed = parseInt(data['B5'] || data['Pre-processed'] || data[Object.keys(data)[0]] || 0);\n\nreturn [{\n  json: {\n    preProcessed,\n    stillNeedsScraping: preProcessed < 500\n  }\n}];"
      },
      "id": "check-still-needed",
      "name": "Still Need More?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "still-needed",
              "leftValue": "={{ $json.stillNeedsScraping }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-still-needed",
      "name": "B5 Still < 500?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4688,
        400
      ]
    },
    {
      "parameters": {
        "amount": "={{ 24 * 60 + Math.floor(Math.random() * 480) }}",
        "unit": "minutes"
      },
      "id": "wait-24h-plus",
      "name": "Wait 24h + random 0-8h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4912,
        304
      ],
      "webhookId": "retry-wait"
    },
    {
      "parameters": {},
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4912,
        512
      ]
    },
    {
      "parameters": {},
      "id": "no-url-done",
      "name": "No URL - Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2048,
        608
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pipeline-monitor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Manual Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        608
      ],
      "webhookId": "pipeline-monitor-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Pipeline monitor completed', timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5104,
        512
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        800
      ],
      "id": "baa72fbb-d099-4029-ba26-7b3608559d78",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Daily 6am": {
      "main": [
        [
          {
            "node": "Read Dashboard Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger Webhook": {
      "main": [
        [
          {
            "node": "Read Dashboard Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Dashboard Metrics": {
      "main": [
        [
          {
            "node": "Parse Dashboard Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dashboard Metrics": {
      "main": [
        [
          {
            "node": "D5 < 240?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "D5 < 240?": {
      "main": [
        [
          {
            "node": "Trigger Lead Ingestion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "B5 < 500?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Lead Ingestion": {
      "main": [
        [
          {
            "node": "B5 < 500?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B5 < 500?": {
      "main": [
        [
          {
            "node": "Read People to Crawl",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read People to Crawl": {
      "main": [
        [
          {
            "node": "Analyze URLs & Select Next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze URLs & Select Next": {
      "main": [
        [
          {
            "node": "Warning Alert?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fallback Mode?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Critical - No URLs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warning Alert?": {
      "main": [
        [
          {
            "node": "Send Warning Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has URL to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Warning Email": {
      "main": [
        [
          {
            "node": "Has URL to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Mode?": {
      "main": [
        [
          {
            "node": "Send Fallback Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Fallback Email": {
      "main": [
        [
          {
            "node": "Has URL to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical - No URLs?": {
      "main": [
        [
          {
            "node": "Send Critical Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Critical Email": {
      "main": [
        [
          {
            "node": "No URL - Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL to Process?": {
      "main": [
        [
          {
            "node": "Launch Search Export Phantom",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No URL - Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Search Export Phantom": {
      "main": [
        [
          {
            "node": "Wait 10 min for Phantom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 min for Phantom": {
      "main": [
        [
          {
            "node": "Fetch Phantom Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Phantom Output": {
      "main": [
        [
          {
            "node": "Parse Phantom Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Phantom Output": {
      "main": [
        [
          {
            "node": "Read Master List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master List": {
      "main": [
        [
          {
            "node": "Dedupe Against Master + New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read New Leads": {
      "main": [
        [
          {
            "node": "Dedupe Against Master + New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Against Master + New Leads": {
      "main": [
        [
          {
            "node": "Has Unique Profiles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Unique Profiles?": {
      "main": [
        [
          {
            "node": "Prepare for Append",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Crawl Date Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Crawl Date Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Append": {
      "main": [
        [
          {
            "node": "Append to New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to New Leads": {
      "main": [
        []
      ]
    },
    "Prepare Crawl Date Update": {
      "main": [
        [
          {
            "node": "Update Last Crawl Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Crawl Date": {
      "main": [
        [
          {
            "node": "Re-check Dashboard B5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-check Dashboard B5": {
      "main": [
        [
          {
            "node": "Still Need More?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Need More?": {
      "main": [
        [
          {
            "node": "B5 Still < 500?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B5 Still < 500?": {
      "main": [
        [
          {
            "node": "Wait 24h + random 0-8h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 24h + random 0-8h": {
      "main": [
        [
          {
            "node": "Read People to Crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Dashboard Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Daily 6am": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "8778f82b-6349-466b-a1bb-e1fd05da4c29",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-26T19:26:32.444Z",
      "createdAt": "2025-12-26T19:26:32.444Z",
      "role": "workflow:owner",
      "workflowId": "dWFsEXELFTJU0W01",
      "projectId": "O7lTivDfRl72aS23"
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_folderPath": "",
  "_fileName": "4.-lead-pipeline-monitor.json"
}