workflows/4.2-pipeline-monitor---results-[v2].json
{
  "updatedAt": "2026-02-06T00:41:17.665Z",
  "createdAt": "2026-02-06T00:40:41.897Z",
  "id": "A35Yu92OFuYKvEtR",
  "name": "4.2 Pipeline Monitor - Results [V2]",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pipeline-results",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf4v2r-webhook",
      "name": "PB Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4400,
        1000
      ],
      "webhookId": "a1b2c3d4-pipeline-results-v2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        4400,
        1200
      ],
      "id": "wf4v2r-manual",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "// Parse webhook payload — accepts PB webhook or manual test with context\n// Expected: { containerId, agentId, profile, selectedRow, selectedURL, selectedName }\nconst input = $input.first().json;\nconst body = input.body || input;\nreturn [{ json: {\n  containerId: body.containerId || '',\n  agentId: body.agentId || '4606663815675720',\n  profile: body.profile || 'kyle',\n  selectedRow: body.selectedRow || null,\n  selectedURL: body.selectedURL || null,\n  selectedName: body.selectedName || null\n}}];"
      },
      "id": "wf4v2r-parse-webhook",
      "name": "Parse Webhook Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4600,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "={{ $json.agentId }}",
        "additionalFields": {}
      },
      "id": "wf4v2r-get-output",
      "name": "Get Phantom Output",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        4800,
        1000
      ],
      "credentials": {
        "phantombusterApi": {
          "id": "UYQpQC8SBIqIkifM",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ !!$json.jsonUrl }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf4v2r-if-url",
      "name": "Has JSON URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5000,
        1000
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.jsonUrl }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wf4v2r-fetch-json",
      "name": "Fetch Phantom JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5200,
        940
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse PhantomBuster JSON — collect all profiles\nconst allItems = $input.all();\nconst context = $('Parse Webhook Context').first().json;\n\nconst profiles = allItems\n  .filter(item => {\n    const j = item.json || {};\n    return j.linkedinProfileUrl || j.profileUrl;\n  })\n  .map(item => {\n    const p = item.json;\n    let url = (p.linkedinProfileUrl || p.profileUrl || '').trim().toLowerCase();\n    url = url.replace('https://www.linkedin.com', 'https://linkedin.com').replace(/\\/$/, '');\n    return { ...p, profileUrl: url };\n  });\n\nreturn [{ json: {\n  profiles,\n  profileCount: profiles.length,\n  selectedRow: context.selectedRow,\n  selectedURL: context.selectedURL,\n  selectedName: context.selectedName,\n  profile: context.profile,\n  phantomStatus: 'finished'\n}}];"
      },
      "id": "wf4v2r-parse-output",
      "name": "Parse Phantom Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5400,
        940
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Master List"
        },
        "options": {}
      },
      "id": "wf4v2r-read-master",
      "name": "Read Master List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5600,
        840
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({ json: { ...item.json, _sheet: 'Master List' } }));"
      },
      "id": "wf4v2r-tag-master",
      "name": "Tag Master List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5800,
        840
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "New Leads"
        },
        "options": {}
      },
      "id": "wf4v2r-read-new-leads",
      "name": "Read New Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5600,
        1100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({ json: { ...item.json, _sheet: 'New Leads' } }));"
      },
      "id": "wf4v2r-tag-new-leads",
      "name": "Tag New Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5800,
        1100
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "wf4v2r-merge",
      "name": "Merge Lists",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        6000,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "// Profile-aware dedupe: compare phantom results against Master List + New Leads\nconst phantomData = $('Parse Phantom Output').first().json;\nconst mergedItems = $input.all();\nconst currentProfile = phantomData.profile || 'kyle';\n\nfunction normalizeUrl(url) {\n  if (!url) return '';\n  return String(url).trim().toLowerCase()\n    .replace('https://www.linkedin.com', 'https://linkedin.com')\n    .replace(/\\/$/, '');\n}\n\nconst urlToRows = new Map();\nmergedItems.forEach(item => {\n  const url = normalizeUrl(item.json.defaultProfileUrl || item.json.profileUrl || item.json.linkedInProfileUrl);\n  if (!url) return;\n  const connectionFrom = (item.json.connectionFrom != null && item.json.connectionFrom !== '') ? String(item.json.connectionFrom).trim().toLowerCase() : '';\n  const _sheet = item.json._sheet || 'New Leads';\n  const list = urlToRows.get(url) || [];\n  list.push({ connectionFrom, _sheet });\n  urlToRows.set(url, list);\n});\n\nconst uniqueProfiles = [];\nconst profilesToUpdate = [];\nfor (const profile of phantomData.profiles || []) {\n  const url = normalizeUrl(profile.defaultProfileUrl || profile.profileUrl || profile.linkedInProfileUrl);\n  if (!url) continue;\n  const rows = urlToRows.get(url);\n  if (!rows || rows.length === 0) {\n    uniqueProfiles.push(profile);\n    continue;\n  }\n  for (const row of rows) {\n    const cf = row.connectionFrom;\n    if (cf === currentProfile || cf === 'both') continue;\n    profilesToUpdate.push({ defaultProfileUrl: profile.defaultProfileUrl || profile.profileUrl, _sheet: row._sheet });\n  }\n}\n\nreturn [{ json: {\n  uniqueProfiles,\n  profilesToUpdate,\n  uniqueCount: uniqueProfiles.length,\n  totalScraped: phantomData.profileCount || 0,\n  duplicatesRemoved: (phantomData.profileCount || 0) - uniqueProfiles.length,\n  selectedRow: phantomData.selectedRow,\n  selectedURL: phantomData.selectedURL,\n  selectedName: phantomData.selectedName,\n  profile: currentProfile\n}}];"
      },
      "id": "wf4v2r-dedupe",
      "name": "Dedupe Against Master + New Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6200,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-unique",
              "leftValue": "={{ $json.uniqueCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf4v2r-has-unique",
      "name": "Has Unique Profiles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6400,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare unique profiles for append to New Leads\nconst data = $('Dedupe Against Master + New Leads').first().json;\nconst profiles = data.uniqueProfiles || [];\nconst profile = data.profile;\nreturn profiles.map(p => ({\n  json: {\n    defaultProfileUrl: p.profileUrl || p.linkedinProfileUrl || '',\n    linkedInProfileUrl: p.linkedinProfileUrl || p.profileUrl || '',\n    fullName: (p.firstName || '') + ' ' + (p.lastName || ''),\n    firstName: p.firstName || '',\n    lastName: p.lastName || '',\n    title: p.title || '',\n    titleDescription: p.titleDescription || '',\n    companyName: p.companyName || '',\n    companyUrl: p.companyUrl || '',\n    industry: p.industry || '',\n    location: p.location || '',\n    connectionDegree: p.connectionDegree || '',\n    connectionFrom: profile,\n    summary: p.summary || '',\n    durationInRole: p.durationInRole || '',\n    durationInCompany: p.durationInCompany || '',\n    companyLocation: p.companyLocation || '',\n    sharedConnectionsCount: p.sharedConnectionsCount || '',\n    pastExperienceCompanyTitle: p.pastExperienceCompanyTitle || '',\n    pastExperienceCompanyName: p.pastExperienceCompanyName || '',\n    pastExperienceDuration: p.pastExperienceDuration || ''\n  }\n}));"
      },
      "id": "wf4v2r-prepare-append",
      "name": "Prepare for Append",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6640,
        720
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "New Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "wf4v2r-append",
      "name": "Append to New Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6880,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "wf4v2r-noop-a",
      "name": "No Op Path A",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6640,
        880
      ]
    },
    {
      "parameters": {},
      "id": "wf4v2r-path-a-done",
      "name": "Path A done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7120,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-updates",
              "leftValue": "={{ $json.profilesToUpdate?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf4v2r-has-updates",
      "name": "Has profiles to update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6400,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare connectionFrom payload for batch Apps Script update\nconst data = $('Dedupe Against Master + New Leads').first().json;\nconst updates = data.profilesToUpdate || [];\nreturn [{ json: { updates } }];"
      },
      "id": "wf4v2r-prep-cf",
      "name": "Prepare connectionFrom Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6640,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/macros/s/DEPLOY_CONNECTION_FROM_SCRIPT_HERE/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ updates: $json.updates || [] }) }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 120000
        }
      },
      "id": "wf4v2r-batch-cf",
      "name": "Batch Update connectionFrom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6880,
        1060
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "wf4v2r-noop-b",
      "name": "No Op Path B",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6640,
        1220
      ]
    },
    {
      "parameters": {},
      "id": "wf4v2r-path-b-done",
      "name": "Path B done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7120,
        1120
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "wf4v2r-wait-both",
      "name": "Wait for both paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        7360,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare crawl date update for People to Crawl sheet\nconst context = $('Parse Webhook Context').first().json;\nconst dedupeData = $('Dedupe Against Master + New Leads').first().json;\nconst profile = context.profile || 'kyle';\nconst selectedRow = context.selectedRow || dedupeData.selectedRow;\nconst dateCol = (profile === 'kyle' ? 'k_' : 'h_') + 'lastCrawlDate';\nconst today = new Date().toISOString().split('T')[0];\nreturn [{ json: {\n  selectedRow,\n  dateCol,\n  today,\n  profile,\n  uniqueCount: dedupeData.uniqueCount || 0,\n  totalScraped: dedupeData.totalScraped || 0\n}}];"
      },
      "id": "wf4v2r-prep-crawl-date",
      "name": "Prepare Crawl Date Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7560,
        960
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, uniqueCount: $json.uniqueCount, totalScraped: $json.totalScraped, profile: $json.profile }) }}",
        "options": {}
      },
      "id": "wf4v2r-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7800,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: 'No JSON URL found in Phantom output', timestamp: new Date().toISOString() } }];"
      },
      "id": "wf4v2r-no-url",
      "name": "No JSON URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        1100
      ]
    }
  ],
  "connections": {
    "PB Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        []
      ]
    },
    "Parse Webhook Context": {
      "main": [
        [
          {
            "node": "Get Phantom Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Phantom Output": {
      "main": [
        [
          {
            "node": "Has JSON URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has JSON URL?": {
      "main": [
        [
          {
            "node": "Fetch Phantom JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No JSON URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Phantom JSON": {
      "main": [
        [
          {
            "node": "Parse Phantom Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Phantom Output": {
      "main": [
        [
          {
            "node": "Read Master List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master List": {
      "main": [
        [
          {
            "node": "Tag Master List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Master List": {
      "main": [
        [
          {
            "node": "Merge Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read New Leads": {
      "main": [
        [
          {
            "node": "Tag New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag New Leads": {
      "main": [
        [
          {
            "node": "Merge Lists",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Lists": {
      "main": [
        [
          {
            "node": "Dedupe Against Master + New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Against Master + New Leads": {
      "main": [
        [
          {
            "node": "Has Unique Profiles?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has profiles to update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Unique Profiles?": {
      "main": [
        [
          {
            "node": "Prepare for Append",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Op Path A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Append": {
      "main": [
        [
          {
            "node": "Append to New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to New Leads": {
      "main": [
        [
          {
            "node": "Path A done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Op Path A": {
      "main": [
        [
          {
            "node": "Path A done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Path A done": {
      "main": [
        [
          {
            "node": "Wait for both paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has profiles to update?": {
      "main": [
        [
          {
            "node": "Prepare connectionFrom Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Op Path B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare connectionFrom Payload": {
      "main": [
        [
          {
            "node": "Batch Update connectionFrom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Update connectionFrom": {
      "main": [
        [
          {
            "node": "Path B done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Op Path B": {
      "main": [
        [
          {
            "node": "Path B done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Path B done": {
      "main": [
        [
          {
            "node": "Wait for both paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for both paths": {
      "main": [
        [
          {
            "node": "Prepare Crawl Date Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Crawl Date Update": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "0c9d0e64-5293-43a7-855d-54810d6c9aaa",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-06T00:40:42.279Z",
      "createdAt": "2026-02-06T00:40:42.279Z",
      "role": "workflow:owner",
      "workflowId": "A35Yu92OFuYKvEtR",
      "projectId": "O7lTivDfRl72aS23"
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_folderPath": "",
  "_fileName": "4.2-pipeline-monitor---results-[v2].json"
}