workflows/chrt-github-workflow-sync.json
{
  "updatedAt": "2025-12-24T04:44:54.204Z",
  "createdAt": "2025-12-24T03:16:41.674Z",
  "id": "r4ICnvhdbQwejSdH",
  "name": "Chrt GitHub Workflow Sync",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "fce2749a-cd88-4648-8ab4-f8c16e7ba980",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2256,
        5888
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "C0LX3cdrWN4GwpJB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "a52ab426-8d91-4205-b1a8-cda91702c4ec",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        240,
        5376
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "=/{{ $json.repo_workflows_path }}"
      },
      "id": "79c659ab-7468-457c-93e3-4a9abe1afde3",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        864,
        5504
      ],
      "webhookId": "0614066f-212d-4f9e-9da2-fa4a80b44baf",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "d4e9d9c1-1d6d-4e22-a614-cb69937347d6",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        1312,
        5504
      ],
      "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {
          "projectId": "O7lTivDfRl72aS23"
        },
        "requestOptions": {}
      },
      "id": "3ca40bbf-9f28-4d34-b7d5-a1a6a51b62ea",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        928,
        5296
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "C0LX3cdrWN4GwpJB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "filter-by-project",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.shared?.[0]?.projectId }}",
              "rightValue": "O7lTivDfRl72aS23"
            }
          ]
        },
        "options": {}
      },
      "id": "7b5e0946-3b4b-4731-887c-7499854340de",
      "name": "Filter Chrt Project",
      "type": "n8n-nodes-base.filter",
      "position": [
        1088,
        5296
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Upload'].json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "6dd4e38d-14c6-4ab2-b11b-d71e2660e1cc",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        2912,
        5024
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "6d4c3c0d-74d0-450d-8253-40170252f705",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2256,
        5024
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "50140acd-664a-4b44-891a-53bb75a9a4a6",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2480,
        5024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "5929ab4d-9720-44f6-a311-83aa5c8ba59e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        5280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Update'].json.fileName }}",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}"
      },
      "id": "e5702e62-5971-4009-936f-12c0a60004d8",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        3728,
        5664
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "976bd3ad-a806-4467-a005-21fd250bae6f",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        3072,
        5664
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "e8238ef2-692a-489b-bea8-fffb25a1ab08",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        3296,
        5664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "763695a8-41e2-423b-ad9b-d5459a5788f9",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        1760,
        5376
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "14f68d4f-18b7-4291-a03c-68ebeda21d4d",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2848,
        5408
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "C0LX3cdrWN4GwpJB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process ALL input items, not just the first one\nconst allInputs = $input.all();\nconst allDecoded = $('Decode to json').all();\n\n// For each comparison result, find the matching GitHub workflow\nconst results = [];\nfor (const input of allInputs) {\n  const workflowId = input.json.same?.id;\n  const matched = allDecoded.find(item => item.json?.id === workflowId);\n  if (matched) {\n    results.push({ json: { dataset: matched.json } });\n  }\n}\n\nreturn results;\n"
      },
      "id": "83cb7591-b6ec-40d1-888e-f0fb62808efe",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        2640,
        5408
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Process ALL input items, not just the first one\nconst allInputs = $input.all();\nconst allN8n = $('n8n').all();\n\n// For each comparison result, find the matching n8n workflow\nconst results = [];\nfor (const input of allInputs) {\n  const workflowId = input.json.same?.id;\n  const matched = allN8n.find(item => item.json?.id === workflowId);\n  if (matched) {\n    results.push({ json: { dataset: matched.json } });\n  }\n}\n\nreturn results;\n"
      },
      "id": "f8cb2bd4-145a-42ab-9aa5-1e08bc11d1e9",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        2640,
        5664
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "9c645c8c-b826-47dd-8762-09642c1c7321",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2848,
        5664
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "a0b4e37f-7184-46ee-ae21-9860a723dd74",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        2688,
        5024
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "d71afa04-ad60-4058-a388-7125da624e0d",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        3520,
        5664
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
        "height": 320,
        "width": 1000
      },
      "id": "22dfcb6f-e473-46c5-8010-8ec6afb1fcdf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        4896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN GITHUB\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "f6543490-4327-4398-a5ba-0640f1ae8f57",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        5744
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ]
        },
        "options": {}
      },
      "id": "43ad75c7-4c50-46b3-952f-da682c64905b",
      "name": "If n8n before GitHub",
      "type": "n8n-nodes-base.if",
      "position": [
        2256,
        5504
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.content?.base64Decode() ?? {} }}",
        "options": {}
      },
      "id": "ed3c12a1-0e14-45eb-b8c2-24362430c453",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        1520,
        5504
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "id": "edab19fd-99e2-4a58-9b3f-8db48bdef56a",
      "name": "Filter Placeholder",
      "type": "n8n-nodes-base.filter",
      "position": [
        1088,
        5504
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-json-file",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": ".json"
            },
            {
              "id": "is-file-type",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.type }}",
              "rightValue": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "4eb25c8d-6498-40ac-9be7-a3b3261e9490",
      "name": "Is JSON File?",
      "type": "n8n-nodes-base.if",
      "position": [
        1248,
        5504
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}"
      },
      "id": "6d00025a-ece9-426e-a577-a2f4aa45c5a9",
      "name": "List Subdirectory",
      "type": "n8n-nodes-base.github",
      "position": [
        1248,
        5712
      ],
      "typeVersion": 1,
      "webhookId": "046f3018-4a5b-4e05-a95d-af8b59890fd7",
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": "hudsonlorfing"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": "chrt-n8n-workflows"
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "repo_workflows_path",
              "type": "string",
              "value": "workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "baa1b78a-3c70-49bb-8586-ee1e87148771",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        464,
        5376
      ],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Filter Chrt Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Chrt Project": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Placeholder": {
      "main": [
        [
          {
            "node": "Is JSON File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is JSON File?": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Subdirectory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Subdirectory": {
      "main": [
        [
          {
            "node": "Filter Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before GitHub": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Filter Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d09c6a5b-baba-4fbe-942d-798f92f640f1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-24T03:17:46.976Z",
      "createdAt": "2025-12-24T03:17:46.976Z",
      "role": "workflow:owner",
      "workflowId": "r4ICnvhdbQwejSdH",
      "projectId": "O7lTivDfRl72aS23"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-12-24T03:13:55.056Z",
      "createdAt": "2025-12-24T03:13:55.056Z",
      "id": "DEHTpDES3OilFwB8",
      "name": "github"
    }
  ],
  "_folderPath": "",
  "_fileName": "chrt-github-workflow-sync.json"
}