workflows/chrt-github-workflow-sync.json
{
  "updatedAt": "2025-12-27T02:09:21.022Z",
  "createdAt": "2025-12-24T03:16:41.674Z",
  "id": "r4ICnvhdbQwejSdH",
  "name": "Chrt GitHub Workflow Sync",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "38ee5cd8-e79d-41d2-85d8-8ce72a33d363",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1392,
        10288
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "C0LX3cdrWN4GwpJB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "0c7ad3a9-c512-402b-9597-80f593e2f218",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -624,
        9776
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "path": "sync-debug",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "debug-webhook-trigger",
      "name": "Debug Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -624,
        9984
      ],
      "webhookId": "sync-debug-webhook",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.github_account_name }}/{{ $json.github_repo_name }}/git/trees/main?recursive=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "get-github-tree",
      "name": "Get GitHub Tree",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        9904
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract all JSON files from the workflows/ directory\nconst tree = $input.first().json.tree || [];\nconst workflowsPath = $('Set GitHub Details').first().json.repo_workflows_path;\n\n// Filter to only JSON files within the workflows directory\nconst jsonFiles = tree.filter(item => {\n  return item.type === 'blob' && \n         item.path.startsWith(workflowsPath + '/') && \n         item.path.endsWith('.json');\n});\n\n// Return each file as a separate item\nreturn jsonFiles.map(file => ({\n  json: {\n    path: file.path,\n    sha: file.sha,\n    name: file.path.split('/').pop()\n  }\n}));\n"
      },
      "id": "filter-workflow-files",
      "name": "Filter Workflow Files",
      "type": "n8n-nodes-base.code",
      "position": [
        208,
        9904
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "a94f2623-c3a0-40df-9868-34f26e4a6b4c",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        448,
        9904
      ],
      "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "862afdd0-b1b4-4ab4-bf88-53291816d1af",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        64,
        9696
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "C0LX3cdrWN4GwpJB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "filter-by-project",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.shared?.[0]?.projectId }}",
              "rightValue": "={{ $('Set GitHub Details').item.json.chrt_project_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1783888a-1246-4315-b697-93c1da66ad4b",
      "name": "Filter Chrt Project",
      "type": "n8n-nodes-base.filter",
      "position": [
        224,
        9696
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $node['Edit for Upload'].json.folderPath ? '/' + $node['Edit for Upload'].json.folderPath : '' }}/{{ $node['Edit for Upload'].json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "5947bfbb-74b1-4f88-bdca-b404a023bd90",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        2048,
        9424
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "onError": "continueErrorOutput",
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "1e9147e9-e768-4f50-a281-e45ac80dcc36",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1392,
        9424
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "7f9f311f-1a28-4b5d-a985-8c0f43799b14",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1616,
        9424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "8bc06f07-6764-4cbd-9791-00f288fa1805",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        9680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $node['Edit for Update'].json.folderPath ? '/' + $node['Edit for Update'].json.folderPath : '' }}/{{ $node['Edit for Update'].json.fileName }}",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}"
      },
      "id": "0bd19a42-6fe1-48c5-9718-cea2855997f9",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        3104,
        10176
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "onError": "continueErrorOutput",
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "02575fe6-a75b-4b16-8279-2119fa23e810",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2432,
        10176
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "b6e415a1-54bf-4204-863a-dfe4834e7c28",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2656,
        10176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "97176713-9bf4-451b-845c-39fd535931e1",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        1056,
        9776
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "1777d9a2-6c10-4aec-a90f-267d05f263b4",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1984,
        9808
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "C0LX3cdrWN4GwpJB",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process ALL input items, not just the first one\nconst allInputs = $input.all();\nconst allDecoded = $('Decode to json').all();\n\n// For each comparison result, find the matching GitHub workflow\nconst results = [];\nfor (const input of allInputs) {\n  const workflowId = input.json.same?.id;\n  const matched = allDecoded.find(item => item.json?.id === workflowId);\n  if (matched) {\n    results.push({ json: { dataset: matched.json } });\n  }\n}\n\nreturn results;\n"
      },
      "id": "fdd8b806-bdcc-4cf9-9cdf-a9c9cfd588d5",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        1776,
        9808
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Process ALL input items, not just the first one\nconst allInputs = $input.all();\nconst allN8n = $('Build Folder Paths1').all();\nconst allDecoded = $('Decode to json').all();\nconst repoPath = $('Set GitHub Details').first().json.repo_workflows_path;\n\n// For each comparison result, find the matching n8n workflow (with folder paths)\nconst results = [];\nfor (const input of allInputs) {\n  const workflowId = input.json.same?.id;\n  const matched = allN8n.find(item => item.json?.id === workflowId);\n  const githubFile = allDecoded.find(item => item.json?.id === workflowId);\n  \n  if (matched) {\n    // Calculate expected path based on folder\n    const folderPath = matched.json._folderPath || '';\n    const fileName = matched.json.name.trim().replace(/\\s+/g, '-').toLowerCase() + '.json';\n    const expectedPath = folderPath ? `${repoPath}/${folderPath}/${fileName}` : `${repoPath}/${fileName}`;\n    const currentGithubPath = githubFile?.json?._githubPath || '';\n    const pathChanged = expectedPath !== currentGithubPath;\n    \n    results.push({ \n      json: { \n        dataset: matched.json,\n        _currentGithubPath: currentGithubPath,\n        _expectedPath: expectedPath,\n        _pathChanged: pathChanged\n      } \n    });\n  }\n}\n\nreturn results;\n"
      },
      "id": "5fd86dcf-6842-4588-b4a6-cb8f9c96b338",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        1776,
        10064
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-path-changed",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json._pathChanged }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bade60a7-c13e-46bb-b9c2-2482e57ddae2",
      "name": "If Path Changed",
      "type": "n8n-nodes-base.if",
      "position": [
        1984,
        10064
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "faac390b-1522-4c4b-883a-a8b8f06a01f5",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2208,
        10176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "61fd311d-ce2d-4a34-97e6-436dc1aa1e05",
      "name": "Edit Fields (Move)",
      "type": "n8n-nodes-base.set",
      "position": [
        2208,
        9968
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "b9c4589b-2b7f-4afd-9450-1a35f236b947",
      "name": "Json file (Move)",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2432,
        9968
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "005e4b55-4855-49cc-9a38-a9d40c8bb84e",
      "name": "To base (Move)",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2656,
        9968
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "commit-date-move",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "file-name-move",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase() }}.json"
            },
            {
              "id": "folder-path-move",
              "name": "folderPath",
              "type": "string",
              "value": "={{ $('Code - InputA').item.json.dataset._folderPath || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "63d750e1-0a5f-40fc-9c0d-3b0c71c1d076",
      "name": "Edit for Move",
      "type": "n8n-nodes-base.set",
      "position": [
        2880,
        9968
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $node['Edit for Move'].json.folderPath ? '/' + $node['Edit for Move'].json.folderPath : '' }}/{{ $node['Edit for Move'].json.fileName }}",
        "fileContent": "={{ $('To base (Move)').item.json.data }}",
        "commitMessage": "=n8n_sync_move-{{ $node['Edit for Move'].json.commitDate }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "427b9617-0f12-41fa-b16d-295fdef19c23",
      "name": "Create at New Path",
      "type": "n8n-nodes-base.github",
      "position": [
        3104,
        9968
      ],
      "typeVersion": 1,
      "webhookId": "7c19519e-8d0f-499b-a18b-894c48e21901",
      "onError": "continueErrorOutput",
      "credentials": {
        "githubApi": {
          "id": "QO1GzHuZN8K3xHku",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name.trim().replace(/\\s+/g, '-').toLowerCase()}}.json"
            },
            {
              "id": "folder-path-upload",
              "name": "folderPath",
              "type": "string",
              "value": "={{ $('n8n vs GitHub').item.json._folderPath || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcfdd1d5-b0e3-4e83-91d0-06a832f58540",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        1824,
        9424
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase() }}.json"
            },
            {
              "id": "folder-path-update",
              "name": "folderPath",
              "type": "string",
              "value": "={{ $('Code - InputA').item.json.dataset._folderPath || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a09a669c-b09e-45d4-a33c-e8d5da789604",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        2880,
        10176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
        "height": 320,
        "width": 1000
      },
      "id": "d1b8cc65-e24e-4b92-bcf2-f3bf83e06ff4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        9296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN GITHUB\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "f3015245-40bd-403c-9833-5d318f4e89ce",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        10144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e500b696-def8-4546-bc78-b9fd93370dc5",
      "name": "If n8n before GitHub",
      "type": "n8n-nodes-base.if",
      "position": [
        1392,
        9904
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ (() => { try { const decoded = $json.content ? JSON.parse($json.content.base64Decode()) : {}; return { ...decoded, _githubPath: $json.path }; } catch(e) { return { _githubPath: $json.path }; } })() }}",
        "options": {}
      },
      "id": "dee613ff-9e57-4f73-895b-a23f8c0d5ce4",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        656,
        9904
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-github-files",
      "name": "Aggregate GitHub Files",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        768,
        9904
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Split aggregated items back into individual items for comparison\nconst aggregated = $input.first().json.data || [];\n\n// Return each workflow as a separate item\nreturn aggregated.map(item => ({ json: item }));\n"
      },
      "id": "split-github-files",
      "name": "Split for Comparison",
      "type": "n8n-nodes-base.code",
      "position": [
        864,
        9904
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": "hudsonlorfing"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": "chrt-n8n-workflows"
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "repo_workflows_path",
              "type": "string",
              "value": "workflows"
            },
            {
              "id": "n8n-base-url",
              "name": "n8n_base_url",
              "type": "string",
              "value": "https://chrt.app.n8n.cloud"
            },
            {
              "id": "chrt-project-id",
              "name": "chrt_project_id",
              "type": "string",
              "value": "O7lTivDfRl72aS23"
            }
          ]
        },
        "options": {}
      },
      "id": "4916f362-61e9-4cb2-b03f-c78e191b7044",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        -400,
        9776
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Build folder path from workflow tags\n// Priority order for folder: linkedin, hubspot, or root\nconst folderTags = ['linkedin', 'hubspot', 'connections'];\n\nreturn $input.all().map(item => {\n  const workflow = item.json;\n  const tags = workflow.tags || [];\n  \n  // Find the first tag that matches our folder structure\n  let folderName = '';\n  for (const tag of tags) {\n    const tagName = tag.name?.toLowerCase();\n    if (folderTags.includes(tagName)) {\n      folderName = tagName;\n      break;\n    }\n  }\n  \n  // Build the folder path\n  const folderPath = folderName ? folderName : '';\n  \n  return {\n    json: {\n      ...workflow,\n      _folderPath: folderPath,\n      _fileName: workflow.name.trim().replace(/\\s+/g, '-').toLowerCase() + '.json'\n    }\n  };\n});\n"
      },
      "id": "6298234a-2192-4ca7-8e0b-8d0a73b93582",
      "name": "Build Folder Paths1",
      "type": "n8n-nodes-base.code",
      "position": [
        384,
        9696
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Filter Chrt Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Chrt Project": {
      "main": [
        [
          {
            "node": "Build Folder Paths1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "If Path Changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Path Changed": {
      "main": [
        [
          {
            "node": "Edit Fields (Move)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (Move)": {
      "main": [
        [
          {
            "node": "Json file (Move)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file (Move)": {
      "main": [
        [
          {
            "node": "To base (Move)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base (Move)": {
      "main": [
        [
          {
            "node": "Edit for Move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Move": {
      "main": [
        [
          {
            "node": "Create at New Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "Aggregate GitHub Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate GitHub Files": {
      "main": [
        [
          {
            "node": "Split for Comparison",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split for Comparison": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Webhook": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get GitHub Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub Tree": {
      "main": [
        [
          {
            "node": "Filter Workflow Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Workflow Files": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before GitHub": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Folder Paths1": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7a48a3ca-1bd6-4f47-9633-c3a020f91144",
  "activeVersionId": "7a48a3ca-1bd6-4f47-9633-c3a020f91144",
  "versionCounter": 42,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-24T03:17:46.976Z",
      "createdAt": "2025-12-24T03:17:46.976Z",
      "role": "workflow:owner",
      "workflowId": "r4ICnvhdbQwejSdH",
      "projectId": "O7lTivDfRl72aS23",
      "project": {
        "updatedAt": "2025-12-24T03:17:11.000Z",
        "createdAt": "2025-12-23T21:24:31.508Z",
        "id": "O7lTivDfRl72aS23",
        "name": "ChrtWorkflows",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "projectRelations": [
          {
            "updatedAt": "2025-12-23T21:24:31.510Z",
            "createdAt": "2025-12-23T21:24:31.510Z",
            "userId": "3f98abd2-ede1-4e1f-985d-ae50bbfbeda4",
            "projectId": "O7lTivDfRl72aS23",
            "user": {
              "updatedAt": "2026-01-01T08:00:00.000Z",
              "createdAt": "2025-12-17T12:51:53.118Z",
              "id": "3f98abd2-ede1-4e1f-985d-ae50bbfbeda4",
              "email": "hudson@chrt.com",
              "firstName": "Hudson",
              "lastName": "Lorfing",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "userClaimedAiCredits": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "kjjYKQEXv67Vl5MS",
                "userActivatedAt": 1766099344758,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1766525415079
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-24T03:13:55.056Z",
      "createdAt": "2025-12-24T03:13:55.056Z",
      "id": "DEHTpDES3OilFwB8",
      "name": "github"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-27T02:09:21.023Z",
    "createdAt": "2025-12-27T02:09:21.023Z",
    "versionId": "7a48a3ca-1bd6-4f47-9633-c3a020f91144",
    "workflowId": "r4ICnvhdbQwejSdH",
    "nodes": [
      {
        "parameters": {
          "operation": "create",
          "workflowObject": "={{ $json.toJsonString()  }}",
          "requestOptions": {}
        },
        "id": "38ee5cd8-e79d-41d2-85d8-8ce72a33d363",
        "name": "Create new workflow in n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          1392,
          10288
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "C0LX3cdrWN4GwpJB",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "0c7ad3a9-c512-402b-9597-80f593e2f218",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -624,
          9776
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "path": "sync-debug",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "debug-webhook-trigger",
        "name": "Debug Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          -624,
          9984
        ],
        "webhookId": "sync-debug-webhook",
        "typeVersion": 2
      },
      {
        "parameters": {
          "url": "=https://api.github.com/repos/{{ $json.github_account_name }}/{{ $json.github_repo_name }}/git/trees/main?recursive=1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "id": "get-github-tree",
        "name": "Get GitHub Tree",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          0,
          9904
        ],
        "typeVersion": 4.2,
        "credentials": {
          "githubApi": {
            "id": "QO1GzHuZN8K3xHku",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Extract all JSON files from the workflows/ directory\nconst tree = $input.first().json.tree || [];\nconst workflowsPath = $('Set GitHub Details').first().json.repo_workflows_path;\n\n// Filter to only JSON files within the workflows directory\nconst jsonFiles = tree.filter(item => {\n  return item.type === 'blob' && \n         item.path.startsWith(workflowsPath + '/') && \n         item.path.endsWith('.json');\n});\n\n// Return each file as a separate item\nreturn jsonFiles.map(file => ({\n  json: {\n    path: file.path,\n    sha: file.sha,\n    name: file.path.split('/').pop()\n  }\n}));\n"
        },
        "id": "filter-workflow-files",
        "name": "Filter Workflow Files",
        "type": "n8n-nodes-base.code",
        "position": [
          208,
          9904
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
          },
          "filePath": "={{ $json.path }}",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "a94f2623-c3a0-40df-9868-34f26e4a6b4c",
        "name": "GitHub",
        "type": "n8n-nodes-base.github",
        "position": [
          448,
          9904
        ],
        "webhookId": "71ad7d84-99cd-4fbd-a365-52537e69525b",
        "typeVersion": 1.1,
        "credentials": {
          "githubApi": {
            "id": "QO1GzHuZN8K3xHku",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "862afdd0-b1b4-4ab4-bf88-53291816d1af",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          64,
          9696
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "C0LX3cdrWN4GwpJB",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "filter-by-project",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.shared?.[0]?.projectId }}",
                "rightValue": "={{ $('Set GitHub Details').item.json.chrt_project_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "1783888a-1246-4315-b697-93c1da66ad4b",
        "name": "Filter Chrt Project",
        "type": "n8n-nodes-base.filter",
        "position": [
          224,
          9696
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
          },
          "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $node['Edit for Upload'].json.folderPath ? '/' + $node['Edit for Upload'].json.folderPath : '' }}/{{ $node['Edit for Upload'].json.fileName }}",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}",
          "additionalParameters": {
            "branch": {
              "branch": "main"
            }
          }
        },
        "id": "5947bfbb-74b1-4f88-bdca-b404a023bd90",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          2048,
          9424
        ],
        "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
        "typeVersion": 1,
        "onError": "continueErrorOutput",
        "credentials": {
          "githubApi": {
            "id": "QO1GzHuZN8K3xHku",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "1e9147e9-e768-4f50-a281-e45ac80dcc36",
        "name": "Json file",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          1392,
          9424
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "7f9f311f-1a28-4b5d-a985-8c0f43799b14",
        "name": "To base64",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          1616,
          9424
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
          "height": 400,
          "width": 340,
          "color": 3
        },
        "id": "8bc06f07-6764-4cbd-9791-00f288fa1805",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1264,
          9680
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
          },
          "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $node['Edit for Update'].json.folderPath ? '/' + $node['Edit for Update'].json.folderPath : '' }}/{{ $node['Edit for Update'].json.fileName }}",
          "fileContent": "={{ $('To base').item.json.data }}",
          "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}"
        },
        "id": "0bd19a42-6fe1-48c5-9718-cea2855997f9",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          3104,
          10176
        ],
        "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
        "typeVersion": 1,
        "onError": "continueErrorOutput",
        "credentials": {
          "githubApi": {
            "id": "QO1GzHuZN8K3xHku",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "02575fe6-a75b-4b16-8279-2119fa23e810",
        "name": "Json file1",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          2432,
          10176
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "b6e415a1-54bf-4204-863a-dfe4834e7c28",
        "name": "To base",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          2656,
          10176
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "id",
                "field2": "id"
              }
            ]
          },
          "options": {}
        },
        "id": "97176713-9bf4-451b-845c-39fd535931e1",
        "name": "n8n vs GitHub",
        "type": "n8n-nodes-base.compareDatasets",
        "position": [
          1056,
          9776
        ],
        "typeVersion": 2.3
      },
      {
        "parameters": {
          "operation": "update",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.dataset.id }}"
          },
          "workflowObject": "={{ $json.dataset.toJsonString() }}",
          "requestOptions": {}
        },
        "id": "1777d9a2-6c10-4aec-a90f-267d05f263b4",
        "name": "Update workflow in n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          1984,
          9808
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "C0LX3cdrWN4GwpJB",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Process ALL input items, not just the first one\nconst allInputs = $input.all();\nconst allDecoded = $('Decode to json').all();\n\n// For each comparison result, find the matching GitHub workflow\nconst results = [];\nfor (const input of allInputs) {\n  const workflowId = input.json.same?.id;\n  const matched = allDecoded.find(item => item.json?.id === workflowId);\n  if (matched) {\n    results.push({ json: { dataset: matched.json } });\n  }\n}\n\nreturn results;\n"
        },
        "id": "fdd8b806-bdcc-4cf9-9cdf-a9c9cfd588d5",
        "name": "Code - InputB",
        "type": "n8n-nodes-base.code",
        "position": [
          1776,
          9808
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "// Process ALL input items, not just the first one\nconst allInputs = $input.all();\nconst allN8n = $('Build Folder Paths1').all();\nconst allDecoded = $('Decode to json').all();\nconst repoPath = $('Set GitHub Details').first().json.repo_workflows_path;\n\n// For each comparison result, find the matching n8n workflow (with folder paths)\nconst results = [];\nfor (const input of allInputs) {\n  const workflowId = input.json.same?.id;\n  const matched = allN8n.find(item => item.json?.id === workflowId);\n  const githubFile = allDecoded.find(item => item.json?.id === workflowId);\n  \n  if (matched) {\n    // Calculate expected path based on folder\n    const folderPath = matched.json._folderPath || '';\n    const fileName = matched.json.name.trim().replace(/\\s+/g, '-').toLowerCase() + '.json';\n    const expectedPath = folderPath ? `${repoPath}/${folderPath}/${fileName}` : `${repoPath}/${fileName}`;\n    const currentGithubPath = githubFile?.json?._githubPath || '';\n    const pathChanged = expectedPath !== currentGithubPath;\n    \n    results.push({ \n      json: { \n        dataset: matched.json,\n        _currentGithubPath: currentGithubPath,\n        _expectedPath: expectedPath,\n        _pathChanged: pathChanged\n      } \n    });\n  }\n}\n\nreturn results;\n"
        },
        "id": "5fd86dcf-6842-4588-b4a6-cb8f9c96b338",
        "name": "Code - InputA",
        "type": "n8n-nodes-base.code",
        "position": [
          1776,
          10064
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "check-path-changed",
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                },
                "leftValue": "={{ $json._pathChanged }}"
              }
            ]
          },
          "options": {}
        },
        "id": "bade60a7-c13e-46bb-b9c2-2482e57ddae2",
        "name": "If Path Changed",
        "type": "n8n-nodes-base.if",
        "position": [
          1984,
          10064
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.dataset }}",
          "options": {}
        },
        "id": "faac390b-1522-4c4b-883a-a8b8f06a01f5",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "position": [
          2208,
          10176
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.dataset }}",
          "options": {}
        },
        "id": "61fd311d-ce2d-4a34-97e6-436dc1aa1e05",
        "name": "Edit Fields (Move)",
        "type": "n8n-nodes-base.set",
        "position": [
          2208,
          9968
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "b9c4589b-2b7f-4afd-9450-1a35f236b947",
        "name": "Json file (Move)",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          2432,
          9968
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "005e4b55-4855-49cc-9a38-a9d40c8bb84e",
        "name": "To base (Move)",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          2656,
          9968
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "commit-date-move",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "file-name-move",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase() }}.json"
              },
              {
                "id": "folder-path-move",
                "name": "folderPath",
                "type": "string",
                "value": "={{ $('Code - InputA').item.json.dataset._folderPath || '' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "63d750e1-0a5f-40fc-9c0d-3b0c71c1d076",
        "name": "Edit for Move",
        "type": "n8n-nodes-base.set",
        "position": [
          2880,
          9968
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
          },
          "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}{{ $node['Edit for Move'].json.folderPath ? '/' + $node['Edit for Move'].json.folderPath : '' }}/{{ $node['Edit for Move'].json.fileName }}",
          "fileContent": "={{ $('To base (Move)').item.json.data }}",
          "commitMessage": "=n8n_sync_move-{{ $node['Edit for Move'].json.commitDate }}",
          "additionalParameters": {
            "branch": {
              "branch": "main"
            }
          }
        },
        "id": "427b9617-0f12-41fa-b16d-295fdef19c23",
        "name": "Create at New Path",
        "type": "n8n-nodes-base.github",
        "position": [
          3104,
          9968
        ],
        "typeVersion": 1,
        "webhookId": "7c19519e-8d0f-499b-a18b-894c48e21901",
        "onError": "continueErrorOutput",
        "credentials": {
          "githubApi": {
            "id": "QO1GzHuZN8K3xHku",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{$('n8n vs GitHub').item.json.name.trim().replace(/\\s+/g, '-').toLowerCase()}}.json"
              },
              {
                "id": "folder-path-upload",
                "name": "folderPath",
                "type": "string",
                "value": "={{ $('n8n vs GitHub').item.json._folderPath || '' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "dcfdd1d5-b0e3-4e83-91d0-06a832f58540",
        "name": "Edit for Upload",
        "type": "n8n-nodes-base.set",
        "position": [
          1824,
          9424
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase() }}.json"
              },
              {
                "id": "folder-path-update",
                "name": "folderPath",
                "type": "string",
                "value": "={{ $('Code - InputA').item.json.dataset._folderPath || '' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "a09a669c-b09e-45d4-a33c-e8d5da789604",
        "name": "Edit for Update",
        "type": "n8n-nodes-base.set",
        "position": [
          2880,
          10176
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
          "height": 320,
          "width": 1000
        },
        "id": "d1b8cc65-e24e-4b92-bcf2-f3bf83e06ff4",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1264,
          9296
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## IF ONLY IN GITHUB\nCreate new workflow in n8n",
          "height": 340,
          "width": 340,
          "color": 6
        },
        "id": "f3015245-40bd-403c-9833-5d318f4e89ce",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1264,
          10144
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                },
                "leftValue": "={{ $json.different.updatedAt.inputA }}",
                "rightValue": "={{ $json.different.updatedAt.inputB }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e500b696-def8-4546-bc78-b9fd93370dc5",
        "name": "If n8n before GitHub",
        "type": "n8n-nodes-base.if",
        "position": [
          1392,
          9904
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ (() => { try { const decoded = $json.content ? JSON.parse($json.content.base64Decode()) : {}; return { ...decoded, _githubPath: $json.path }; } catch(e) { return { _githubPath: $json.path }; } })() }}",
          "options": {}
        },
        "id": "dee613ff-9e57-4f73-895b-a23f8c0d5ce4",
        "name": "Decode to json",
        "type": "n8n-nodes-base.set",
        "position": [
          656,
          9904
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "aggregate-github-files",
        "name": "Aggregate GitHub Files",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          768,
          9904
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "// Split aggregated items back into individual items for comparison\nconst aggregated = $input.first().json.data || [];\n\n// Return each workflow as a separate item\nreturn aggregated.map(item => ({ json: item }));\n"
        },
        "id": "split-github-files",
        "name": "Split for Comparison",
        "type": "n8n-nodes-base.code",
        "position": [
          864,
          9904
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
                "name": "github_account_name",
                "type": "string",
                "value": "hudsonlorfing"
              },
              {
                "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
                "name": "github_repo_name",
                "type": "string",
                "value": "chrt-n8n-workflows"
              },
              {
                "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
                "name": "repo_workflows_path",
                "type": "string",
                "value": "workflows"
              },
              {
                "id": "n8n-base-url",
                "name": "n8n_base_url",
                "type": "string",
                "value": "https://chrt.app.n8n.cloud"
              },
              {
                "id": "chrt-project-id",
                "name": "chrt_project_id",
                "type": "string",
                "value": "O7lTivDfRl72aS23"
              }
            ]
          },
          "options": {}
        },
        "id": "4916f362-61e9-4cb2-b03f-c78e191b7044",
        "name": "Set GitHub Details",
        "type": "n8n-nodes-base.set",
        "position": [
          -400,
          9776
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "jsCode": "// Build folder path from workflow tags\n// Priority order for folder: linkedin, hubspot, or root\nconst folderTags = ['linkedin', 'hubspot', 'connections'];\n\nreturn $input.all().map(item => {\n  const workflow = item.json;\n  const tags = workflow.tags || [];\n  \n  // Find the first tag that matches our folder structure\n  let folderName = '';\n  for (const tag of tags) {\n    const tagName = tag.name?.toLowerCase();\n    if (folderTags.includes(tagName)) {\n      folderName = tagName;\n      break;\n    }\n  }\n  \n  // Build the folder path\n  const folderPath = folderName ? folderName : '';\n  \n  return {\n    json: {\n      ...workflow,\n      _folderPath: folderPath,\n      _fileName: workflow.name.trim().replace(/\\s+/g, '-').toLowerCase() + '.json'\n    }\n  };\n});\n"
        },
        "id": "6298234a-2192-4ca7-8e0b-8d0a73b93582",
        "name": "Build Folder Paths1",
        "type": "n8n-nodes-base.code",
        "position": [
          384,
          9696
        ],
        "typeVersion": 2
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Filter Chrt Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Chrt Project": {
        "main": [
          [
            {
              "node": "Build Folder Paths1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub": {
        "main": [
          [
            {
              "node": "Decode to json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base": {
        "main": [
          [
            {
              "node": "Edit for Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file": {
        "main": [
          [
            {
              "node": "To base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base64": {
        "main": [
          [
            {
              "node": "Edit for Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file1": {
        "main": [
          [
            {
              "node": "To base",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Json file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - InputA": {
        "main": [
          [
            {
              "node": "If Path Changed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Path Changed": {
        "main": [
          [
            {
              "node": "Edit Fields (Move)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields (Move)": {
        "main": [
          [
            {
              "node": "Json file (Move)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file (Move)": {
        "main": [
          [
            {
              "node": "To base (Move)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base (Move)": {
        "main": [
          [
            {
              "node": "Edit for Move",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit for Move": {
        "main": [
          [
            {
              "node": "Create at New Path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - InputB": {
        "main": [
          [
            {
              "node": "Update workflow in n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n vs GitHub": {
        "main": [
          [
            {
              "node": "Json file",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [
            {
              "node": "If n8n before GitHub",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create new workflow in n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decode to json": {
        "main": [
          [
            {
              "node": "Aggregate GitHub Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate GitHub Files": {
        "main": [
          [
            {
              "node": "Split for Comparison",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split for Comparison": {
        "main": [
          [
            {
              "node": "n8n vs GitHub",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit for Update": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit for Upload": {
        "main": [
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set GitHub Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Debug Webhook": {
        "main": [
          [
            {
              "node": "Set GitHub Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set GitHub Details": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get GitHub Tree",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get GitHub Tree": {
        "main": [
          [
            {
              "node": "Filter Workflow Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Workflow Files": {
        "main": [
          [
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If n8n before GitHub": {
        "main": [
          [
            {
              "node": "Code - InputB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code - InputA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Folder Paths1": {
        "main": [
          [
            {
              "node": "n8n vs GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hudson Lorfing",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-27T02:09:21.215Z",
        "id": 41,
        "workflowId": "r4ICnvhdbQwejSdH",
        "versionId": "7a48a3ca-1bd6-4f47-9633-c3a020f91144",
        "event": "activated",
        "userId": "3f98abd2-ede1-4e1f-985d-ae50bbfbeda4"
      }
    ]
  }
}
