workflows/shedpro-ai-data-discovery.json
{
  "updatedAt": "2026-01-05T03:32:25.235Z",
  "createdAt": "2026-01-05T03:29:18.023Z",
  "id": "PzvF7WijpAlqpOr0",
  "name": "ShedPro AI Data Discovery",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-discovery",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "ai-discovery"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1jXRlG0UNlkAi-mHoaS3jLjVx5Je9zIBrCjgDiB2rBI4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.body.tabName }}",
          "mode": "name"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE"
            }
          }
        }
      },
      "id": "get-sheet-data",
      "name": "Get Sheet Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        470,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Analyze spreadsheet structure like a human would\nconst items = $input.all();\nconst tabName = $('Webhook').item.json.body.tabName;\n\nif (!items || items.length === 0) {\n  return [{ json: { error: 'No data found', tabName } }];\n}\n\n// Get all column keys from first item\nconst allKeys = Object.keys(items[0].json).filter(k => k !== 'row_number');\n\n// Analyze each row for patterns\nconst rowAnalysis = items.map((item, idx) => {\n  const row = item.json;\n  const rowNum = row.row_number || idx + 1;\n  \n  let emptyCount = 0;\n  let textCount = 0;\n  let numberCount = 0;\n  let dateCount = 0;\n  let formulaCount = 0;\n  \n  const values = {};\n  \n  for (const key of allKeys) {\n    const val = row[key];\n    values[key] = val;\n    \n    if (val === null || val === undefined || val === '') {\n      emptyCount++;\n    } else if (typeof val === 'number') {\n      numberCount++;\n    } else if (typeof val === 'string') {\n      // Check if it looks like a date\n      if (/^\\d{1,2}[-\\/]\\w{3}[-\\/]\\d{2,4}$/.test(val) || \n          /^\\d{1,2}\\/\\d{1,2}\\/\\d{2,4}$/.test(val)) {\n        dateCount++;\n      } else if (val.startsWith('=')) {\n        formulaCount++;\n      } else {\n        textCount++;\n      }\n    }\n  }\n  \n  const totalCols = allKeys.length;\n  const isBlankRow = emptyCount === totalCols;\n  const isMostlyText = textCount > (totalCols * 0.5);\n  const isMostlyNumbers = numberCount > (totalCols * 0.5);\n  const hasFormulas = formulaCount > 0;\n  \n  return {\n    rowNum,\n    isBlankRow,\n    isMostlyText,\n    isMostlyNumbers,\n    hasFormulas,\n    emptyCount,\n    textCount,\n    numberCount,\n    dateCount,\n    formulaCount,\n    totalCols,\n    sampleValues: Object.fromEntries(\n      Object.entries(values).slice(0, 20).filter(([k, v]) => v !== '' && v !== null)\n    )\n  };\n});\n\n// Find blank rows (section separators)\nconst blankRows = rowAnalysis\n  .filter(r => r.isBlankRow)\n  .map(r => r.rowNum);\n\n// Find potential header rows (mostly text, early in data or after blank row)\nconst headerCandidates = rowAnalysis\n  .filter(r => r.isMostlyText && !r.isBlankRow)\n  .map(r => r.rowNum);\n\n// Find data rows (mostly numbers or mixed)\nconst dataRows = rowAnalysis\n  .filter(r => !r.isBlankRow && !r.isMostlyText)\n  .map(r => r.rowNum);\n\n// Analyze columns for blank separators\nconst colAnalysis = {};\nfor (const key of allKeys) {\n  let emptyCount = 0;\n  let sampleVals = [];\n  \n  for (const item of items) {\n    const val = item.json[key];\n    if (val === null || val === undefined || val === '') {\n      emptyCount++;\n    } else if (sampleVals.length < 5) {\n      sampleVals.push(val);\n    }\n  }\n  \n  colAnalysis[key] = {\n    isBlankColumn: emptyCount === items.length,\n    emptyRatio: emptyCount / items.length,\n    samples: sampleVals\n  };\n}\n\nconst blankColumns = Object.entries(colAnalysis)\n  .filter(([k, v]) => v.isBlankColumn)\n  .map(([k, v]) => k);\n\n// Get first few rows as sample for AI\nconst sampleRows = items.slice(0, Math.min(20, items.length)).map(i => i.json);\n\n// Build structure summary\nconst structureSummary = {\n  tabName,\n  totalRows: items.length,\n  totalColumns: allKeys.length,\n  columnNames: allKeys.slice(0, 50),\n  blankRowSeparators: blankRows.slice(0, 10),\n  blankColumnSeparators: blankColumns.slice(0, 10),\n  headerCandidateRows: headerCandidates.slice(0, 5),\n  dataRowsStart: dataRows.length > 0 ? dataRows[0] : null,\n  sampleData: sampleRows,\n  columnSamples: Object.fromEntries(\n    Object.entries(colAnalysis)\n      .filter(([k, v]) => !v.isBlankColumn && v.samples.length > 0)\n      .slice(0, 30)\n      .map(([k, v]) => [k, v.samples])\n  )\n};\n\nreturn [{ json: structureSummary }];"
      },
      "id": "analyze-structure",
      "name": "Analyze Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyAzY3iJpot2A2SieiM4zvDq85W23OmgKM4",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are analyzing a Google Sheet tab named '\" + $json.tabName + \"'. Analyze the structure and explain what each section contains.\\n\\nSTRUCTURE HINTS:\\n- Total rows: \" + $json.totalRows + \"\\n- Total columns: \" + $json.totalColumns + \"\\n- Blank row separators at rows: \" + JSON.stringify($json.blankRowSeparators) + \"\\n- Blank column separators: \" + JSON.stringify($json.blankColumnSeparators) + \"\\n- Likely header rows: \" + JSON.stringify($json.headerCandidateRows) + \"\\n- Data starts at row: \" + $json.dataRowsStart + \"\\n\\nCOLUMN NAMES (first 50):\\n\" + JSON.stringify($json.columnNames) + \"\\n\\nCOLUMN SAMPLES (non-empty):\\n\" + JSON.stringify($json.columnSamples, null, 2) + \"\\n\\nSAMPLE DATA (first 20 rows):\\n\" + JSON.stringify($json.sampleData, null, 2) + \"\\n\\nAnalyze this data and provide:\\n1. SECTIONS: What distinct data sections exist (separated by blank rows/columns)?\\n2. HEADERS: Which row(s) contain headers for each section?\\n3. COLUMNS: For each section, what does each column represent?\\n4. DATA TYPES: What type of data is in each column (text, number, date, category)?\\n5. RELATIONSHIPS: Any patterns or relationships between columns?\\n6. PURPOSE: What is the overall purpose of this tab?\\n\\nFormat your response as structured markdown.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"maxOutputTokens\": 4096\n  }\n} }}",
        "options": {}
      },
      "id": "gemini-analyze",
      "name": "Gemini Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst structureData = $('Analyze Structure').first().json;\n\n// Extract AI response\nlet aiAnalysis = 'No response from AI';\ntry {\n  if (input.candidates && input.candidates[0] && input.candidates[0].content) {\n    aiAnalysis = input.candidates[0].content.parts[0].text;\n  } else if (input.error) {\n    aiAnalysis = 'Error: ' + JSON.stringify(input.error);\n  }\n} catch (e) {\n  aiAnalysis = 'Parse error: ' + e.message + '\\nRaw: ' + JSON.stringify(input).substring(0, 500);\n}\n\n// Build final schema document\nconst schema = {\n  tabName: structureData.tabName,\n  discoveredAt: new Date().toISOString(),\n  structure: {\n    totalRows: structureData.totalRows,\n    totalColumns: structureData.totalColumns,\n    blankRowSeparators: structureData.blankRowSeparators,\n    blankColumnSeparators: structureData.blankColumnSeparators,\n    headerCandidateRows: structureData.headerCandidateRows\n  },\n  columnNames: structureData.columnNames,\n  aiAnalysis: aiAnalysis\n};\n\nreturn [{ json: schema }];"
      },
      "id": "format-schema",
      "name": "Format Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1350,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sheet Data": {
      "main": [
        [
          {
            "node": "Analyze Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Structure": {
      "main": [
        [
          {
            "node": "Gemini Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analyze": {
      "main": [
        [
          {
            "node": "Format Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Schema": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "40a73e00-2189-4859-9d75-2753c4fc0a66",
  "activeVersionId": "40a73e00-2189-4859-9d75-2753c4fc0a66",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-05T03:29:18.858Z",
      "createdAt": "2026-01-05T03:29:18.858Z",
      "role": "workflow:owner",
      "workflowId": "PzvF7WijpAlqpOr0",
      "projectId": "O7lTivDfRl72aS23"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-05T03:32:25.236Z",
    "createdAt": "2026-01-05T03:32:25.236Z",
    "versionId": "40a73e00-2189-4859-9d75-2753c4fc0a66",
    "workflowId": "PzvF7WijpAlqpOr0",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ai-discovery",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "webhookId": "ai-discovery"
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "1jXRlG0UNlkAi-mHoaS3jLjVx5Je9zIBrCjgDiB2rBI4",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $json.body.tabName }}",
            "mode": "name"
          },
          "options": {
            "outputFormatting": {
              "values": {
                "general": "FORMATTED_VALUE"
              }
            }
          }
        },
        "id": "get-sheet-data",
        "name": "Get Sheet Data",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          470,
          300
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Analyze spreadsheet structure like a human would\nconst items = $input.all();\nconst tabName = $('Webhook').item.json.body.tabName;\n\nif (!items || items.length === 0) {\n  return [{ json: { error: 'No data found', tabName } }];\n}\n\n// Get all column keys from first item\nconst allKeys = Object.keys(items[0].json).filter(k => k !== 'row_number');\n\n// Analyze each row for patterns\nconst rowAnalysis = items.map((item, idx) => {\n  const row = item.json;\n  const rowNum = row.row_number || idx + 1;\n  \n  let emptyCount = 0;\n  let textCount = 0;\n  let numberCount = 0;\n  let dateCount = 0;\n  let formulaCount = 0;\n  \n  const values = {};\n  \n  for (const key of allKeys) {\n    const val = row[key];\n    values[key] = val;\n    \n    if (val === null || val === undefined || val === '') {\n      emptyCount++;\n    } else if (typeof val === 'number') {\n      numberCount++;\n    } else if (typeof val === 'string') {\n      // Check if it looks like a date\n      if (/^\\d{1,2}[-\\/]\\w{3}[-\\/]\\d{2,4}$/.test(val) || \n          /^\\d{1,2}\\/\\d{1,2}\\/\\d{2,4}$/.test(val)) {\n        dateCount++;\n      } else if (val.startsWith('=')) {\n        formulaCount++;\n      } else {\n        textCount++;\n      }\n    }\n  }\n  \n  const totalCols = allKeys.length;\n  const isBlankRow = emptyCount === totalCols;\n  const isMostlyText = textCount > (totalCols * 0.5);\n  const isMostlyNumbers = numberCount > (totalCols * 0.5);\n  const hasFormulas = formulaCount > 0;\n  \n  return {\n    rowNum,\n    isBlankRow,\n    isMostlyText,\n    isMostlyNumbers,\n    hasFormulas,\n    emptyCount,\n    textCount,\n    numberCount,\n    dateCount,\n    formulaCount,\n    totalCols,\n    sampleValues: Object.fromEntries(\n      Object.entries(values).slice(0, 20).filter(([k, v]) => v !== '' && v !== null)\n    )\n  };\n});\n\n// Find blank rows (section separators)\nconst blankRows = rowAnalysis\n  .filter(r => r.isBlankRow)\n  .map(r => r.rowNum);\n\n// Find potential header rows (mostly text, early in data or after blank row)\nconst headerCandidates = rowAnalysis\n  .filter(r => r.isMostlyText && !r.isBlankRow)\n  .map(r => r.rowNum);\n\n// Find data rows (mostly numbers or mixed)\nconst dataRows = rowAnalysis\n  .filter(r => !r.isBlankRow && !r.isMostlyText)\n  .map(r => r.rowNum);\n\n// Analyze columns for blank separators\nconst colAnalysis = {};\nfor (const key of allKeys) {\n  let emptyCount = 0;\n  let sampleVals = [];\n  \n  for (const item of items) {\n    const val = item.json[key];\n    if (val === null || val === undefined || val === '') {\n      emptyCount++;\n    } else if (sampleVals.length < 5) {\n      sampleVals.push(val);\n    }\n  }\n  \n  colAnalysis[key] = {\n    isBlankColumn: emptyCount === items.length,\n    emptyRatio: emptyCount / items.length,\n    samples: sampleVals\n  };\n}\n\nconst blankColumns = Object.entries(colAnalysis)\n  .filter(([k, v]) => v.isBlankColumn)\n  .map(([k, v]) => k);\n\n// Get first few rows as sample for AI\nconst sampleRows = items.slice(0, Math.min(20, items.length)).map(i => i.json);\n\n// Build structure summary\nconst structureSummary = {\n  tabName,\n  totalRows: items.length,\n  totalColumns: allKeys.length,\n  columnNames: allKeys.slice(0, 50),\n  blankRowSeparators: blankRows.slice(0, 10),\n  blankColumnSeparators: blankColumns.slice(0, 10),\n  headerCandidateRows: headerCandidates.slice(0, 5),\n  dataRowsStart: dataRows.length > 0 ? dataRows[0] : null,\n  sampleData: sampleRows,\n  columnSamples: Object.fromEntries(\n    Object.entries(colAnalysis)\n      .filter(([k, v]) => !v.isBlankColumn && v.samples.length > 0)\n      .slice(0, 30)\n      .map(([k, v]) => [k, v.samples])\n  )\n};\n\nreturn [{ json: structureSummary }];"
        },
        "id": "analyze-structure",
        "name": "Analyze Structure",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          690,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyAzY3iJpot2A2SieiM4zvDq85W23OmgKM4",
          "authentication": "none",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ {\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are analyzing a Google Sheet tab named '\" + $json.tabName + \"'. Analyze the structure and explain what each section contains.\\n\\nSTRUCTURE HINTS:\\n- Total rows: \" + $json.totalRows + \"\\n- Total columns: \" + $json.totalColumns + \"\\n- Blank row separators at rows: \" + JSON.stringify($json.blankRowSeparators) + \"\\n- Blank column separators: \" + JSON.stringify($json.blankColumnSeparators) + \"\\n- Likely header rows: \" + JSON.stringify($json.headerCandidateRows) + \"\\n- Data starts at row: \" + $json.dataRowsStart + \"\\n\\nCOLUMN NAMES (first 50):\\n\" + JSON.stringify($json.columnNames) + \"\\n\\nCOLUMN SAMPLES (non-empty):\\n\" + JSON.stringify($json.columnSamples, null, 2) + \"\\n\\nSAMPLE DATA (first 20 rows):\\n\" + JSON.stringify($json.sampleData, null, 2) + \"\\n\\nAnalyze this data and provide:\\n1. SECTIONS: What distinct data sections exist (separated by blank rows/columns)?\\n2. HEADERS: Which row(s) contain headers for each section?\\n3. COLUMNS: For each section, what does each column represent?\\n4. DATA TYPES: What type of data is in each column (text, number, date, category)?\\n5. RELATIONSHIPS: Any patterns or relationships between columns?\\n6. PURPOSE: What is the overall purpose of this tab?\\n\\nFormat your response as structured markdown.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"maxOutputTokens\": 4096\n  }\n} }}",
          "options": {}
        },
        "id": "gemini-analyze",
        "name": "Gemini Analyze",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          910,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst structureData = $('Analyze Structure').first().json;\n\n// Extract AI response\nlet aiAnalysis = 'No response from AI';\ntry {\n  if (input.candidates && input.candidates[0] && input.candidates[0].content) {\n    aiAnalysis = input.candidates[0].content.parts[0].text;\n  } else if (input.error) {\n    aiAnalysis = 'Error: ' + JSON.stringify(input.error);\n  }\n} catch (e) {\n  aiAnalysis = 'Parse error: ' + e.message + '\\nRaw: ' + JSON.stringify(input).substring(0, 500);\n}\n\n// Build final schema document\nconst schema = {\n  tabName: structureData.tabName,\n  discoveredAt: new Date().toISOString(),\n  structure: {\n    totalRows: structureData.totalRows,\n    totalColumns: structureData.totalColumns,\n    blankRowSeparators: structureData.blankRowSeparators,\n    blankColumnSeparators: structureData.blankColumnSeparators,\n    headerCandidateRows: structureData.headerCandidateRows\n  },\n  columnNames: structureData.columnNames,\n  aiAnalysis: aiAnalysis\n};\n\nreturn [{ json: schema }];"
        },
        "id": "format-schema",
        "name": "Format Schema",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1130,
          300
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "respond",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1350,
          300
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get Sheet Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Sheet Data": {
        "main": [
          [
            {
              "node": "Analyze Structure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Structure": {
        "main": [
          [
            {
              "node": "Gemini Analyze",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Analyze": {
        "main": [
          [
            {
              "node": "Format Schema",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Schema": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hudson Lorfing",
    "name": null,
    "description": null
  },
  "tags": [],
  "_folderPath": "",
  "_fileName": "shedpro-ai-data-discovery.json"
}