workflows/test---3.3-connection-sync---hubspot-[v2].json
{
  "updatedAt": "2026-02-10T20:15:31.539Z",
  "createdAt": "2026-02-10T17:46:58.725Z",
  "id": "OHqmNHyoOkPxrRs8",
  "name": "Test - 3.3 Connection Sync - HubSpot [V2]",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-connection-sync-hubspot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf3v2h-webhook",
      "name": "PB Webhook (Email Scraper)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2224,
        1008
      ],
      "webhookId": "test-connection-sync-hubspot-v2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2208,
        1200
      ],
      "id": "wf3v2h-manual",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nreturn [{ json: {\n  containerId: body.containerId || '',\n  agentId: body.agentId || '5768405047812127',\n  profile: body.profile || 'kyle'\n}}];"
      },
      "id": "wf3v2h-parse",
      "name": "Parse Webhook Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        1008
      ]
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "={{ $json.agentId }}",
        "additionalFields": {}
      },
      "id": "wf3v2h-get-output",
      "name": "Get Email Scraper Output",
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        2800,
        1008
      ],
      "credentials": {
        "phantombusterApi": {
          "id": "UYQpQC8SBIqIkifM",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-json",
              "leftValue": "={{ !!$json.jsonUrl }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf3v2h-has-json",
      "name": "Has jsonUrl?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3008,
        1008
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.jsonUrl }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "wf3v2h-fetch-json",
      "name": "Fetch Email Scraper JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge connection data with email scraper data\n// The email scraper adds email addresses to profiles\nconst items = $input.all();\nconst context = $('Parse Webhook Context').first().json;\n\nreturn items.map(item => {\n  const p = item.json;\n  const profileUrl = (p.linkedinProfileUrl || p.profileUrl || p.linkedinProfileUrl || '').trim();\n  const email = p.email || p.mail || '';\n  const hasRealEmail = !!email && !email.includes('linkedin.com');\n  \n  return {\n    json: {\n      profileUrl,\n      fullName: p.fullName || ((p.firstName || '') + ' ' + (p.lastName || '')).trim(),\n      firstName: p.firstName || '',\n      lastName: p.lastName || '',\n      email,\n      hasRealEmail,\n      personalHeadLine: p.linkedinHeadline || '',\n      schoolUrl: p.linkedinSchoolUrl || '',\n      schoolDegree: p.linkedinSchoolDegree || '',\n      schoolName: p.linkedinSchoolName || '',\n      previousSchoolUrl: p.linkedinPreviousSchoolUrl || '',\n      previousSchoolDegree: p.linkedinPreviousSchoolDegree || '',\n      previousSchoolName: p.linkedinPreviousSchoolName || '',\n      personallocation: p.location || '',\n      jobLocation: p.linkedinJobLocation || '',\n      connectionDegree: p.connectionDegree || '1st',\n      jobTitle: p.linkedinJobTitle || p.jobTitle || '',\n      companyName: p.companyName || p.company || '',\n      companyDescription: p.linkedinCompanyDescription || '',\n      companySize: p.linkedinCompanySize || '',\n      companyHQ: p.linkedinCompanyHeadquarter || '',\n      companyTagline: p.linkedinCompanyTagline || '',\n      companySlug: p.linkedinCompanySlug || '',\n      companyIndustry: p.companyIndustry || '',\n      companyWebsite: p.companyWebsite || '',\n      previousCompanyName: p.previousCompanyName || '',\n      previousCompanySlug: p.linkedinPreviousCompanySlug|| '',\n      previousCompanyPosition: p.linkedinPreviousJobTitle || '',\n      profile: context.profile\n    }\n  };\n});"
      },
      "id": "wf3v2h-merge-data",
      "name": "Merge Connection + Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare HubSpot data from merged connection + email data\nconst items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\nfunction parseLocation(loc) {\n  if (!loc) return { city: '', state: '', country: '' };\n  const parts = loc.split(',').map(s => s.trim());\n  if (parts.length >= 3) return { city: parts[0], state: parts[parts.length - 2], country: parts[parts.length - 1] };\n  if (parts.length === 2) return { city: parts[0], state: parts[1], country: '' };\n  return { city: loc, state: '', country: '' };\n}\n\n// Map LinkedIn industry to HubSpot enum\nconst INDUSTRY_MAP = {\n  'accounting': 'ACCOUNTING',\n  'airlines/aviation': 'AIRLINES_AVIATION',\n  'aviation & aerospace': 'AVIATION_AEROSPACE',\n  'aviation/aerospace': 'AVIATION_AEROSPACE',\n  'banking': 'BANKING',\n  'biotechnology': 'BIOTECHNOLOGY',\n  'broadcast media': 'BROADCAST_MEDIA',\n  'building materials': 'BUILDING_MATERIALS',\n  'chemicals': 'CHEMICALS',\n  'computer software': 'COMPUTER_SOFTWARE',\n  'construction': 'CONSTRUCTION',\n  'consumer electronics': 'CONSUMER_ELECTRONICS',\n  'consumer goods': 'CONSUMER_GOODS',\n  'consumer services': 'CONSUMER_SERVICES',\n  'cosmetics': 'COSMETICS',\n  'defense & space': 'DEFENSE_SPACE',\n  'defense/space': 'DEFENSE_SPACE',\n  'design': 'DESIGN',\n  'education management': 'EDUCATION_MANAGEMENT',\n  'electrical/electronic manufacturing': 'ELECTRICAL_ELECTRONIC_MANUFACTURING',\n  'entertainment': 'ENTERTAINMENT',\n  'environmental services': 'ENVIRONMENTAL_SERVICES',\n  'events services': 'EVENTS_SERVICES',\n  'facilities services': 'FACILITIES_SERVICES',\n  'financial services': 'FINANCIAL_SERVICES',\n  'food & beverages': 'FOOD_BEVERAGES',\n  'food production': 'FOOD_PRODUCTION',\n  'government administration': 'GOVERNMENT_ADMINISTRATION',\n  'health, wellness and fitness': 'HEALTH_WELLNESS_AND_FITNESS',\n  'health/wellness/fitness': 'HEALTH_WELLNESS_AND_FITNESS',\n  'wellness and fitness services': 'HEALTH_WELLNESS_AND_FITNESS',\n  'higher education': 'HIGHER_EDUCATION',\n  'hospital & health care': 'HOSPITAL_HEALTH_CARE',\n  'hospitals and health care': 'HOSPITAL_HEALTH_CARE',\n  'hospitality': 'HOSPITALITY',\n  'human resources': 'HUMAN_RESOURCES',\n  'import and export': 'IMPORT_AND_EXPORT',\n  'import/export': 'IMPORT_AND_EXPORT',\n  'industrial automation': 'INDUSTRIAL_AUTOMATION',\n  'information services': 'INFORMATION_SERVICES',\n  'information technology and services': 'INFORMATION_TECHNOLOGY_AND_SERVICES',\n  'information technology & services': 'INFORMATION_TECHNOLOGY_AND_SERVICES',\n  'insurance': 'INSURANCE',\n  'international trade and development': 'INTERNATIONAL_TRADE_AND_DEVELOPMENT',\n  'internet': 'INTERNET',\n  'legal services': 'LEGAL_SERVICES',\n  'logistics and supply chain': 'LOGISTICS_AND_SUPPLY_CHAIN',\n  'logistics/supply chain': 'LOGISTICS_AND_SUPPLY_CHAIN',\n  'machinery': 'MACHINERY',\n  'management consulting': 'MANAGEMENT_CONSULTING',\n  'maritime': 'MARITIME',\n  'market research': 'MARKET_RESEARCH',\n  'marketing and advertising': 'MARKETING_AND_ADVERTISING',\n  'mechanical or industrial engineering': 'MECHANICAL_OR_INDUSTRIAL_ENGINEERING',\n  'mechanical/industrial engineering': 'MECHANICAL_OR_INDUSTRIAL_ENGINEERING',\n  'media production': 'MEDIA_PRODUCTION',\n  'medical devices': 'MEDICAL_DEVICES',\n  'medical device': 'MEDICAL_DEVICES',\n  'medical practice': 'MEDICAL_PRACTICE',\n  'mental health care': 'MENTAL_HEALTH_CARE',\n  'military': 'MILITARY',\n  'mining & metals': 'MINING_METALS',\n  'oil & energy': 'OIL_ENERGY',\n  'oil/energy': 'OIL_ENERGY',\n  'package/freight delivery': 'PACKAGE_FREIGHT_DELIVERY',\n  'packaging and containers': 'PACKAGING_AND_CONTAINERS',\n  'pharmaceuticals': 'PHARMACEUTICALS',\n  'pharmaceutical manufacturing': 'PHARMACEUTICALS',\n  'plastics': 'PLASTICS',\n  'professional training & coaching': 'PROFESSIONAL_TRAINING_COACHING',\n  'public safety': 'PUBLIC_SAFETY',\n  'publishing': 'PUBLISHING',\n  'railroads': 'TRANSPORTATION_TRUCKING_RAILROAD',\n  'real estate': 'REAL_ESTATE',\n  'renewables & environment': 'RENEWABLES_ENVIRONMENT',\n  'research': 'RESEARCH',\n  'restaurants': 'RESTAURANTS',\n  'retail': 'RETAIL',\n  'security and investigations': 'SECURITY_AND_INVESTIGATIONS',\n  'semiconductors': 'SEMICONDUCTORS',\n  'sporting goods': 'SPORTING_GOODS',\n  'staffing and recruiting': 'STAFFING_AND_RECRUITING',\n  'telecommunications': 'TELECOMMUNICATIONS',\n  'textiles': 'TEXTILES',\n  'transportation/trucking/railroad': 'TRANSPORTATION_TRUCKING_RAILROAD',\n  'truck transportation': 'TRANSPORTATION_TRUCKING_RAILROAD',\n  'utilities': 'UTILITIES',\n  'veterinary': 'VETERINARY',\n  'warehousing': 'WAREHOUSING',\n  'wholesale': 'WHOLESALE',\n  'wireless': 'WIRELESS',\n};\n\nfunction mapIndustry(linkedinIndustry) {\n  if (!linkedinIndustry) return '';\n  const key = linkedinIndustry.toLowerCase().trim();\n  if (INDUSTRY_MAP[key]) return INDUSTRY_MAP[key];\n  // Fallback: try converting to enum format\n  const enumAttempt = key.replace(/[\\s&/]+/g, '_').replace(/_+/g, '_').toUpperCase();\n  return enumAttempt;\n}\n\nreturn items.map(item => {\n  const p = item.json;\n  const loc = parseLocation(p.personallocation || p.location || '');\n  const rawIndustry = p.companyIndustry || p.industry || '';\n\n  return {\n    json: {\n      // Reference fields for downstream nodes (Format Output, Update Sheet)\n      profileUrl: p.profileUrl || '',\n      fullName: p.fullName || '',\n      profile: p.profile || '',\n      // All HubSpot data in _hs\n      _hs: {\n        firstName: p.firstName || '',\n        lastName: p.lastName || '',\n        email: p.email || '',\n        hasRealEmail: p.hasRealEmail || false,\n        companyName: p.companyName || '',\n        jobTitle: p.jobTitle || '',\n        industry: rawIndustry,\n        hubspotIndustry: mapIndustry(rawIndustry),\n        location: p.personallocation || p.location || '',\n        city: loc.city,\n        state: loc.state,\n        country: loc.country,\n        linkedinUrl: p.profileUrl || '',\n        syncDate: today,\n        // Contact enrichment fields\n        linkedinHeadline: p.personalHeadLine || '',\n        schoolName: p.schoolName || '',\n        schoolDegree: p.schoolDegree || '',\n        previousCompanyName: p.previousCompanyName || '',\n        previousCompanyPosition: p.previousCompanyPosition || '',\n        jobLocation: p.jobLocation || '',\n        companySlug: p.companySlug || '',\n        // Company-record fields\n        companyDescription: p.companyDescription || '',\n        companySize: p.companySize || '',\n        companyHQ: p.companyHQ || '',\n        companyWebsite: p.companyWebsite || '',\n        companyTagline: p.companyTagline || '',\n      }\n    }\n  };\n});"
      },
      "id": "wf3v2h-prepare",
      "name": "Prepare HubSpot Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        944
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'HubSpot sync started', profileCount: $input.all().length }) }}",
        "options": {}
      },
      "id": "wf3v2h-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3808,
        944
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "wf3v2h-loop",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4000,
        944
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "// Loop complete — summary\nreturn [{ json: { done: true, message: 'HubSpot sync complete' } }];"
      },
      "id": "wf3v2h-sync-complete",
      "name": "Sync Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        784
      ]
    },
    {
      "parameters": {},
      "id": "wf3v2h-start-item",
      "name": "Process Item",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4208,
        944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-company",
              "leftValue": "={{ !!($json._hs && $json._hs.companyName) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf3v2h-has-company",
      "name": "Has Company Name?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4400,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Skip company processing — no company name provided\nconst preparedData = $('Prepare HubSpot Data').item.json;\nreturn [{ json: { ...preparedData, _hs: { ...preparedData._hs, companyId: null, companyCreated: false, companySkipped: true } } }];"
      },
      "id": "wf3v2h-skip-company",
      "name": "Skip Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4608,
        1152
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'name', operator: 'EQ', value: $json._hs.companyName || '' }] }], properties: ['name', 'domain', 'industry', 'description', 'website', 'linkedin_company_page'] }) }}",
        "options": {}
      },
      "id": "wf3v2h-search-company",
      "name": "Search Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4608,
        944
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "company-exists",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf3v2h-company-exists",
      "name": "Company Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4800,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "const searchResult = $('Search Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\nconst existingCompany = searchResult.results[0];\nconst ep = existingCompany.properties || {};\nconst hs = preparedData._hs;\n\n// Determine what company fields need updating\nconst companyUpdates = {};\nif (!ep.description && hs.companyDescription) companyUpdates.description = hs.companyDescription;\nif (!ep.website && hs.companyWebsite) companyUpdates.website = hs.companyWebsite;\nif (!ep.linkedin_company_page && hs.companySlug) companyUpdates.linkedin_company_page = 'https://www.linkedin.com/company/' + hs.companySlug;\nif (!ep.industry && hs.hubspotIndustry) companyUpdates.industry = hs.hubspotIndustry;\n\nreturn [{ json: { ...preparedData, _hs: { ...hs, companyId: existingCompany.id, companyCreated: false, companyUpdates, hasCompanyUpdates: Object.keys(companyUpdates).length > 0 } } }];"
      },
      "id": "wf3v2h-use-existing",
      "name": "Use Existing Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5008,
        864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { name: $('Prepare HubSpot Data').item.json._hs.companyName || '', industry: $('Prepare HubSpot Data').item.json._hs.hubspotIndustry || '', description: $('Prepare HubSpot Data').item.json._hs.companyDescription || '', website: $('Prepare HubSpot Data').item.json._hs.companyWebsite || '', linkedin_company_page: $('Prepare HubSpot Data').item.json._hs.companySlug ? 'https://www.linkedin.com/company/' + $('Prepare HubSpot Data').item.json._hs.companySlug : '' } }) }}",
        "options": {}
      },
      "id": "wf3v2h-create-company",
      "name": "Create Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5008,
        1072
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const createResult = $('Create Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\nreturn [{ json: { ...preparedData, _hs: { ...preparedData._hs, companyId: createResult.id, companyCreated: true } } }];"
      },
      "id": "wf3v2h-store-company",
      "name": "Store New Company ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        1072
      ]
    },
    {
      "parameters": {},
      "id": "wf3v2h-merge-company",
      "name": "Merge Company Results",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5808,
        944
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $('Merge Search Results').item.json._matchedContact.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { jobtitle: $('Merge Search Results').item.json._hs.jobTitle || '', company: $('Merge Search Results').item.json._hs.companyName || '', industry: $('Merge Search Results').item.json._hs.hubspotIndustry || $('Merge Search Results').item.json._hs.industry || '', hs_lead_status: 'CONNECTED', hs_linkedin_url: $('Merge Search Results').item.json._hs.linkedinUrl || '', city: $('Merge Search Results').item.json._hs.city || $('Merge Search Results').item.json._hs.location || '', state: $('Merge Search Results').item.json._hs.state || '', country: $('Merge Search Results').item.json._hs.country || '', linkedin_headline: $('Merge Search Results').item.json._hs.linkedinHeadline || '', school_name: $('Merge Search Results').item.json._hs.schoolName || '', school_degree: $('Merge Search Results').item.json._hs.schoolDegree || '', previous_company_name: $('Merge Search Results').item.json._hs.previousCompanyName || '', previous_company_position: $('Merge Search Results').item.json._hs.previousCompanyPosition || '', job_location: $('Merge Search Results').item.json._hs.jobLocation || '', linkedin_company_slug: $('Merge Search Results').item.json._hs.companySlug || '' } }) }}",
        "options": {}
      },
      "id": "wf3v2h-update-contact",
      "name": "Update Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7392,
        784
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { email: $('Merge Company Results').item.json._hs.hasRealEmail ? $('Merge Company Results').item.json._hs.email : undefined, firstname: $('Merge Company Results').item.json._hs.firstName, lastname: $('Merge Company Results').item.json._hs.lastName, jobtitle: $('Merge Company Results').item.json._hs.jobTitle || '', company: $('Merge Company Results').item.json._hs.companyName || '', industry: $('Merge Company Results').item.json._hs.hubspotIndustry || $('Merge Company Results').item.json._hs.industry || '', hs_lead_status: 'CONNECTED', hs_linkedin_url: $('Merge Company Results').item.json._hs.linkedinUrl || '', city: $('Merge Company Results').item.json._hs.city || $('Merge Company Results').item.json._hs.location || '', state: $('Merge Company Results').item.json._hs.state || '', country: $('Merge Company Results').item.json._hs.country || '', linkedin_headline: $('Merge Company Results').item.json._hs.linkedinHeadline || '', school_name: $('Merge Company Results').item.json._hs.schoolName || '', school_degree: $('Merge Company Results').item.json._hs.schoolDegree || '', previous_company_name: $('Merge Company Results').item.json._hs.previousCompanyName || '', previous_company_position: $('Merge Company Results').item.json._hs.previousCompanyPosition || '', job_location: $('Merge Company Results').item.json._hs.jobLocation || '', linkedin_company_slug: $('Merge Company Results').item.json._hs.companySlug || '' } }) }}",
        "options": {}
      },
      "id": "wf3v2h-create-contact",
      "name": "Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7328,
        1360
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const updateResult = $('Update Contact').item.json;\nconst mergedData = $('Merge Search Results').item.json;\nreturn [{ json: { ...mergedData, _hs: { ...mergedData._hs, contactId: updateResult.id, contactCreated: false } } }];"
      },
      "id": "wf3v2h-store-updated",
      "name": "Store Updated Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7584,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "const createResult = $('Create Contact').item.json;\nconst mergedData = $('Merge Company Results').item.json;\nreturn [{ json: { ...mergedData, _hs: { ...mergedData._hs, contactId: createResult.id, contactCreated: true } } }];"
      },
      "id": "wf3v2h-store-new",
      "name": "Store New Contact ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7552,
        1360
      ]
    },
    {
      "parameters": {},
      "id": "wf3v2h-merge-contact",
      "name": "Merge Contact Results",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7744,
        976
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json._hs.contactId + '/associations/company/' + $json._hs.companyId + '/contact_to_company' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "wf3v2h-associate",
      "name": "Associate Contact → Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7936,
        976
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Format output for logging / sheet update + pass data to 3.4\n// Reference Merge Contact Results (not $input which comes from the Associate HTTP call)\nconst contactData = $('Merge Contact Results').item.json;\nconst hs = contactData._hs || {};\nreturn [{ json: {\n  defaultProfileUrl: contactData.profileUrl || hs.linkedinUrl || '',\n  fullName: contactData.fullName || ((hs.firstName || '') + ' ' + (hs.lastName || '')).trim(),\n  firstName: hs.firstName || contactData.firstName || '',\n  lastName: hs.lastName || contactData.lastName || '',\n  title: hs.jobTitle || contactData.title || '',\n  company: hs.companyName || contactData.company || '',\n  linkedInProfileUrl: contactData.profileUrl || hs.linkedinUrl || '',\n  hubspotContactId: hs.contactId || '',\n  contactId: hs.contactId || '',\n  companyId: hs.companyId || '',\n  contactCreated: hs.contactCreated || false,\n  companyCreated: hs.companyCreated || false,\n  companySkipped: hs.companySkipped || false,\n  profile: $('Parse Webhook Context').first().json.profile || 'kyle',\n  syncDate: hs.syncDate || ''\n}}];"
      },
      "id": "wf3v2h-format",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8144,
        976
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Master List"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "hubspotSync": "={{ $json.syncDate }}",
            "row_number": 0,
            "defaultProfileUrl": "={$input.defaultProfileUrl}"
          },
          "matchingColumns": [
            "defaultProfileUrl"
          ],
          "schema": [
            {
              "id": "defaultProfileUrl",
              "displayName": "defaultProfileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "school",
              "displayName": "school",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "schoolDegree",
              "displayName": "schoolDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl",
              "displayName": "companyUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobDateRange",
              "displayName": "jobDateRange",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hsIndustry",
              "displayName": "hsIndustry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company2",
              "displayName": "company2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyUrl2",
              "displayName": "companyUrl2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyId2",
              "displayName": "companyId2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobTitle2",
              "displayName": "jobTitle2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobDateRange2",
              "displayName": "jobDateRange2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segment",
              "displayName": "segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "added",
              "displayName": "added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kyleSentDate",
              "displayName": "kyleSentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kyleConnectDate",
              "displayName": "kyleConnectDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hudsonSentDate",
              "displayName": "hudsonSentDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hudsonConnectDate",
              "displayName": "hudsonConnectDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hubspotSync",
              "displayName": "hubspotSync",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hudsonNotes",
              "displayName": "hudsonNotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "inviteResults",
              "displayName": "inviteResults",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "connectionDegree",
              "displayName": "connectionDegree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "previousRole",
              "displayName": "previousRole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "adj industry",
              "displayName": "adj industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyLocation",
              "displayName": "companyLocation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "durationInCompany",
              "displayName": "durationInCompany",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pastExperienceDuration",
              "displayName": "pastExperienceDuration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sharedConnectionsCount",
              "displayName": "sharedConnectionsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isPremium",
              "displayName": "isPremium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isOpenLink",
              "displayName": "isOpenLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "connectionFrom",
              "displayName": "connectionFrom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profileUrl",
              "displayName": "profileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "wf3v2h-update-sheet",
      "name": "Update HubSpot Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8336,
        976
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo",
          "mode": "list",
          "cachedResultName": "HoldingSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo/edit#gid=0"
        },
        "clear": "specificRange",
        "range": "A2:A"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        1008
      ],
      "id": "a0577054-1024-4d9e-bd44-7b8b2fbd09cc",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hf9VoWnqYNXhUZsn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "company-updates-check",
              "leftValue": "={{ $json._hs.hasCompanyUpdates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf3v2h-has-company-updates",
      "name": "Has Company Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5216,
        864
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/companies/' + $json._hs.companyId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: $json._hs.companyUpdates }) }}",
        "options": {}
      },
      "id": "wf3v2h-update-company",
      "name": "Update Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5408,
        864
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "wf3v2h-pass-company",
      "name": "Pass Through Company",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5632,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'hs_linkedin_url', operator: 'EQ', value: $json._hs.linkedinUrl || '' }] }], properties: ['firstname', 'lastname', 'email', 'jobtitle', 'hs_linkedin_url', 'hs_lead_status'], limit: 5 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6016,
        944
      ],
      "id": "wf3v2h-search-url",
      "name": "Search by LinkedIn URL",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "found-by-url",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6192,
        944
      ],
      "id": "wf3v2h-found-url",
      "name": "Found by URL?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'firstname', operator: 'EQ', value: $('Prepare HubSpot Data').item.json._hs.firstName || '' }, { propertyName: 'lastname', operator: 'EQ', value: $('Prepare HubSpot Data').item.json._hs.lastName || '' }] }], properties: ['firstname', 'lastname', 'email', 'jobtitle', 'hs_linkedin_url', 'hs_lead_status'], limit: 10 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6448,
        1152
      ],
      "id": "wf3v2h-search-name",
      "name": "Search by Name",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "3JZVnZQkHgMfXMRx",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Evaluate name search results for best contact match\nconst nameResults = $('Search by Name').item.json;\nconst prepared = $('Prepare HubSpot Data').item.json;\nconst hs = prepared._hs;\nconst results = nameResults.results || [];\n\nif (results.length === 0) {\n  // No match — will create new contact\n  return [{ json: { ...prepared, _matchResult: 'create', _matchedContact: null } }];\n}\n\nif (results.length === 1) {\n  // Exact single match — will update\n  return [{ json: { ...prepared, _matchResult: 'update', _matchedContact: results[0] } }];\n}\n\n// Multiple results — try email tiebreaker\nif (hs.email && hs.hasRealEmail) {\n  const emailMatch = results.find(r =>\n    (r.properties.email || '').toLowerCase() === hs.email.toLowerCase()\n  );\n  if (emailMatch) {\n    return [{ json: { ...prepared, _matchResult: 'update', _matchedContact: emailMatch } }];\n  }\n}\n\n// Still ambiguous — send to Slack, skip this contact\nconst names = results.map(r =>\n  (r.properties.firstname || '') + ' ' + (r.properties.lastname || '') + ' (ID: ' + r.id + ', email: ' + (r.properties.email || 'none') + ')'\n).join(', ');\nreturn [{ json: { ...prepared, _matchResult: 'ambiguous', _matchedContact: null, _ambiguousDetails: names, _ambiguousCount: results.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6656,
        1152
      ],
      "id": "wf3v2h-resolve-match",
      "name": "Resolve Contact Match"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-update",
              "leftValue": "={{ $json._matchResult }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6848,
        1152
      ],
      "id": "wf3v2h-match-router",
      "name": "Name Match Found?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-ambiguous",
              "leftValue": "={{ $json._matchResult }}",
              "rightValue": "ambiguous",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7072,
        1280
      ],
      "id": "wf3v2h-route-ambiguous",
      "name": "Is Ambiguous?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: ':warning: *Ambiguous HubSpot Contact Match*\\n' + 'Incoming: ' + $json.fullName + ' (' + ($json._hs.linkedinUrl || 'no URL') + ')\\n' + 'Found ' + $json._ambiguousCount + ' possible matches: ' + $json._ambiguousDetails + '\\n' + 'Skipping auto-sync — please resolve manually in HubSpot.' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7328,
        1200
      ],
      "id": "wf3v2h-notify-slack",
      "name": "Notify Slack (Ambiguous)"
    },
    {
      "parameters": {
        "jsCode": "// Pass the URL-matched contact to the Update Contact path\nconst urlResults = $('Search by LinkedIn URL').item.json;\nconst prepared = $('Prepare HubSpot Data').item.json;\nconst matched = urlResults.results[0];\nreturn [{ json: { ...prepared, _matchedContact: matched } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6976,
        784
      ],
      "id": "wf3v2h-prep-url-match",
      "name": "Prep URL Match"
    },
    {
      "parameters": {
        "jsCode": "// Pass the name-matched contact to the Update Contact path\nconst item = $input.first().json;\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7072,
        1120
      ],
      "id": "wf3v2h-prep-name-match",
      "name": "Prep Name Match"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7184,
        784
      ],
      "id": "wf3v2h-merge-search",
      "name": "Merge Search Results"
    },
    {
      "parameters": {
        "jsCode": "// Skip this contact — ambiguous match logged to Slack\nconst item = $input.first().json;\nreturn [{ json: {\n  defaultProfileUrl: item.profileUrl || item._hs?.linkedinUrl || '',\n  fullName: item.fullName || '',\n  contactId: 'SKIPPED_AMBIGUOUS',\n  companyId: item._hs?.companyId || '',\n  contactCreated: false,\n  companyCreated: item._hs?.companyCreated || false,\n  companySkipped: item._hs?.companySkipped || false,\n  syncDate: item._hs?.syncDate || ''\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7552,
        1200
      ],
      "id": "wf3v2h-skip-ambiguous",
      "name": "Skip Ambiguous Contact"
    },
    {
      "parameters": {
        "jsCode": "// Restore prepared data after HubSpot company update API call\nconst preparedData = $('Has Company Updates?').item.json;\nreturn [{ json: preparedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5632,
        864
      ],
      "id": "wf3v2h-restore-company-update",
      "name": "Restore After Company Update"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "vhTOB4xc7mxRgCiw"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        8544,
        1136
      ],
      "id": "wf3v2h-call-34",
      "name": "Call 3.4 Conference Follow-Up",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "PB Webhook (Email Scraper)": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        []
      ]
    },
    "Parse Webhook Context": {
      "main": [
        [
          {
            "node": "Get Email Scraper Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Scraper Output": {
      "main": [
        [
          {
            "node": "Has jsonUrl?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has jsonUrl?": {
      "main": [
        [
          {
            "node": "Fetch Email Scraper JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Connection + Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Scraper JSON": {
      "main": [
        [
          {
            "node": "Merge Connection + Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Connection + Email Data": {
      "main": [
        [
          {
            "node": "Prepare HubSpot Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HubSpot Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Sync Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Item": {
      "main": [
        [
          {
            "node": "Has Company Name?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Company Name?": {
      "main": [
        [
          {
            "node": "Search Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Company": {
      "main": [
        [
          {
            "node": "Merge Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company": {
      "main": [
        [
          {
            "node": "Company Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Exists?": {
      "main": [
        [
          {
            "node": "Use Existing Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Company": {
      "main": [
        [
          {
            "node": "Has Company Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Company": {
      "main": [
        [
          {
            "node": "Store New Company ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store New Company ID": {
      "main": [
        [
          {
            "node": "Merge Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Company Results": {
      "main": [
        [
          {
            "node": "Search by LinkedIn URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact": {
      "main": [
        [
          {
            "node": "Store Updated Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "main": [
        [
          {
            "node": "Store New Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Updated Contact ID": {
      "main": [
        [
          {
            "node": "Merge Contact Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store New Contact ID": {
      "main": [
        [
          {
            "node": "Merge Contact Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contact Results": {
      "main": [
        [
          {
            "node": "Associate Contact → Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Associate Contact → Company": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Update HubSpot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 3.4 Conference Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "Parse Webhook Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Company Updates?": {
      "main": [
        [
          {
            "node": "Update Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Through Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Company": {
      "main": [
        [
          {
            "node": "Restore After Company Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through Company": {
      "main": [
        [
          {
            "node": "Merge Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search by LinkedIn URL": {
      "main": [
        [
          {
            "node": "Found by URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found by URL?": {
      "main": [
        [
          {
            "node": "Prep URL Match",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search by Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep URL Match": {
      "main": [
        [
          {
            "node": "Merge Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search by Name": {
      "main": [
        [
          {
            "node": "Resolve Contact Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Contact Match": {
      "main": [
        [
          {
            "node": "Name Match Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Name Match Found?": {
      "main": [
        [
          {
            "node": "Prep Name Match",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Ambiguous?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Name Match": {
      "main": [
        [
          {
            "node": "Merge Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Search Results": {
      "main": [
        [
          {
            "node": "Update Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ambiguous?": {
      "main": [
        [
          {
            "node": "Notify Slack (Ambiguous)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (Ambiguous)": {
      "main": [
        [
          {
            "node": "Skip Ambiguous Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Ambiguous Contact": {
      "main": [
        [
          {
            "node": "Update HubSpot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore After Company Update": {
      "main": [
        [
          {
            "node": "Merge Company Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When clicking 'Execute workflow'": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "c7719635-da4c-4f83-a924-25f7fe890766",
  "activeVersionId": "c7719635-da4c-4f83-a924-25f7fe890766",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-10T17:46:59.063Z",
      "createdAt": "2026-02-10T17:46:59.063Z",
      "role": "workflow:owner",
      "workflowId": "OHqmNHyoOkPxrRs8",
      "projectId": "O7lTivDfRl72aS23"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-10T20:15:31.542Z",
    "createdAt": "2026-02-10T20:15:31.542Z",
    "versionId": "c7719635-da4c-4f83-a924-25f7fe890766",
    "workflowId": "OHqmNHyoOkPxrRs8",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "test-connection-sync-hubspot",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3v2h-webhook",
        "name": "PB Webhook (Email Scraper)",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          2224,
          1008
        ],
        "webhookId": "test-connection-sync-hubspot-v2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          2208,
          1200
        ],
        "id": "wf3v2h-manual",
        "name": "When clicking 'Execute workflow'"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nreturn [{ json: {\n  containerId: body.containerId || '',\n  agentId: body.agentId || '5768405047812127',\n  profile: body.profile || 'kyle'\n}}];"
        },
        "id": "wf3v2h-parse",
        "name": "Parse Webhook Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2608,
          1008
        ]
      },
      {
        "parameters": {
          "operation": "getOutput",
          "agentId": "={{ $json.agentId }}",
          "additionalFields": {}
        },
        "id": "wf3v2h-get-output",
        "name": "Get Email Scraper Output",
        "type": "n8n-nodes-base.phantombuster",
        "typeVersion": 1,
        "position": [
          2800,
          1008
        ],
        "credentials": {
          "phantombusterApi": {
            "id": "UYQpQC8SBIqIkifM",
            "name": "Phantombuster account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "has-json",
                "leftValue": "={{ !!$json.jsonUrl }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "wf3v2h-has-json",
        "name": "Has jsonUrl?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3008,
          1008
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.jsonUrl }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "wf3v2h-fetch-json",
        "name": "Fetch Email Scraper JSON",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3200,
          944
        ]
      },
      {
        "parameters": {
          "jsCode": "// Merge connection data with email scraper data\n// The email scraper adds email addresses to profiles\nconst items = $input.all();\nconst context = $('Parse Webhook Context').first().json;\n\nreturn items.map(item => {\n  const p = item.json;\n  const profileUrl = (p.linkedinProfileUrl || p.profileUrl || p.linkedinProfileUrl || '').trim();\n  const email = p.email || p.mail || '';\n  const hasRealEmail = !!email && !email.includes('linkedin.com');\n  \n  return {\n    json: {\n      profileUrl,\n      fullName: p.fullName || ((p.firstName || '') + ' ' + (p.lastName || '')).trim(),\n      firstName: p.firstName || '',\n      lastName: p.lastName || '',\n      email,\n      hasRealEmail,\n      personalHeadLine: p.linkedinHeadline || '',\n      schoolUrl: p.linkedinSchoolUrl || '',\n      schoolDegree: p.linkedinSchoolDegree || '',\n      schoolName: p.linkedinSchoolName || '',\n      previousSchoolUrl: p.linkedinPreviousSchoolUrl || '',\n      previousSchoolDegree: p.linkedinPreviousSchoolDegree || '',\n      previousSchoolName: p.linkedinPreviousSchoolName || '',\n      personallocation: p.location || '',\n      jobLocation: p.linkedinJobLocation || '',\n      connectionDegree: p.connectionDegree || '1st',\n      jobTitle: p.linkedinJobTitle || p.jobTitle || '',\n      companyName: p.companyName || p.company || '',\n      companyDescription: p.linkedinCompanyDescription || '',\n      companySize: p.linkedinCompanySize || '',\n      companyHQ: p.linkedinCompanyHeadquarter || '',\n      companyTagline: p.linkedinCompanyTagline || '',\n      companySlug: p.linkedinCompanySlug || '',\n      companyIndustry: p.companyIndustry || '',\n      companyWebsite: p.companyWebsite || '',\n      previousCompanyName: p.previousCompanyName || '',\n      previousCompanySlug: p.linkedinPreviousCompanySlug|| '',\n      previousCompanyPosition: p.linkedinPreviousJobTitle || '',\n      profile: context.profile\n    }\n  };\n});"
        },
        "id": "wf3v2h-merge-data",
        "name": "Merge Connection + Email Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3408,
          944
        ]
      },
      {
        "parameters": {
          "jsCode": "// Prepare HubSpot data from merged connection + email data\nconst items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\nfunction parseLocation(loc) {\n  if (!loc) return { city: '', state: '', country: '' };\n  const parts = loc.split(',').map(s => s.trim());\n  if (parts.length >= 3) return { city: parts[0], state: parts[parts.length - 2], country: parts[parts.length - 1] };\n  if (parts.length === 2) return { city: parts[0], state: parts[1], country: '' };\n  return { city: loc, state: '', country: '' };\n}\n\n// Map LinkedIn industry to HubSpot enum\nconst INDUSTRY_MAP = {\n  'accounting': 'ACCOUNTING',\n  'airlines/aviation': 'AIRLINES_AVIATION',\n  'aviation & aerospace': 'AVIATION_AEROSPACE',\n  'aviation/aerospace': 'AVIATION_AEROSPACE',\n  'banking': 'BANKING',\n  'biotechnology': 'BIOTECHNOLOGY',\n  'broadcast media': 'BROADCAST_MEDIA',\n  'building materials': 'BUILDING_MATERIALS',\n  'chemicals': 'CHEMICALS',\n  'computer software': 'COMPUTER_SOFTWARE',\n  'construction': 'CONSTRUCTION',\n  'consumer electronics': 'CONSUMER_ELECTRONICS',\n  'consumer goods': 'CONSUMER_GOODS',\n  'consumer services': 'CONSUMER_SERVICES',\n  'cosmetics': 'COSMETICS',\n  'defense & space': 'DEFENSE_SPACE',\n  'defense/space': 'DEFENSE_SPACE',\n  'design': 'DESIGN',\n  'education management': 'EDUCATION_MANAGEMENT',\n  'electrical/electronic manufacturing': 'ELECTRICAL_ELECTRONIC_MANUFACTURING',\n  'entertainment': 'ENTERTAINMENT',\n  'environmental services': 'ENVIRONMENTAL_SERVICES',\n  'events services': 'EVENTS_SERVICES',\n  'facilities services': 'FACILITIES_SERVICES',\n  'financial services': 'FINANCIAL_SERVICES',\n  'food & beverages': 'FOOD_BEVERAGES',\n  'food production': 'FOOD_PRODUCTION',\n  'government administration': 'GOVERNMENT_ADMINISTRATION',\n  'health, wellness and fitness': 'HEALTH_WELLNESS_AND_FITNESS',\n  'health/wellness/fitness': 'HEALTH_WELLNESS_AND_FITNESS',\n  'wellness and fitness services': 'HEALTH_WELLNESS_AND_FITNESS',\n  'higher education': 'HIGHER_EDUCATION',\n  'hospital & health care': 'HOSPITAL_HEALTH_CARE',\n  'hospitals and health care': 'HOSPITAL_HEALTH_CARE',\n  'hospitality': 'HOSPITALITY',\n  'human resources': 'HUMAN_RESOURCES',\n  'import and export': 'IMPORT_AND_EXPORT',\n  'import/export': 'IMPORT_AND_EXPORT',\n  'industrial automation': 'INDUSTRIAL_AUTOMATION',\n  'information services': 'INFORMATION_SERVICES',\n  'information technology and services': 'INFORMATION_TECHNOLOGY_AND_SERVICES',\n  'information technology & services': 'INFORMATION_TECHNOLOGY_AND_SERVICES',\n  'insurance': 'INSURANCE',\n  'international trade and development': 'INTERNATIONAL_TRADE_AND_DEVELOPMENT',\n  'internet': 'INTERNET',\n  'legal services': 'LEGAL_SERVICES',\n  'logistics and supply chain': 'LOGISTICS_AND_SUPPLY_CHAIN',\n  'logistics/supply chain': 'LOGISTICS_AND_SUPPLY_CHAIN',\n  'machinery': 'MACHINERY',\n  'management consulting': 'MANAGEMENT_CONSULTING',\n  'maritime': 'MARITIME',\n  'market research': 'MARKET_RESEARCH',\n  'marketing and advertising': 'MARKETING_AND_ADVERTISING',\n  'mechanical or industrial engineering': 'MECHANICAL_OR_INDUSTRIAL_ENGINEERING',\n  'mechanical/industrial engineering': 'MECHANICAL_OR_INDUSTRIAL_ENGINEERING',\n  'media production': 'MEDIA_PRODUCTION',\n  'medical devices': 'MEDICAL_DEVICES',\n  'medical device': 'MEDICAL_DEVICES',\n  'medical practice': 'MEDICAL_PRACTICE',\n  'mental health care': 'MENTAL_HEALTH_CARE',\n  'military': 'MILITARY',\n  'mining & metals': 'MINING_METALS',\n  'oil & energy': 'OIL_ENERGY',\n  'oil/energy': 'OIL_ENERGY',\n  'package/freight delivery': 'PACKAGE_FREIGHT_DELIVERY',\n  'packaging and containers': 'PACKAGING_AND_CONTAINERS',\n  'pharmaceuticals': 'PHARMACEUTICALS',\n  'pharmaceutical manufacturing': 'PHARMACEUTICALS',\n  'plastics': 'PLASTICS',\n  'professional training & coaching': 'PROFESSIONAL_TRAINING_COACHING',\n  'public safety': 'PUBLIC_SAFETY',\n  'publishing': 'PUBLISHING',\n  'railroads': 'TRANSPORTATION_TRUCKING_RAILROAD',\n  'real estate': 'REAL_ESTATE',\n  'renewables & environment': 'RENEWABLES_ENVIRONMENT',\n  'research': 'RESEARCH',\n  'restaurants': 'RESTAURANTS',\n  'retail': 'RETAIL',\n  'security and investigations': 'SECURITY_AND_INVESTIGATIONS',\n  'semiconductors': 'SEMICONDUCTORS',\n  'sporting goods': 'SPORTING_GOODS',\n  'staffing and recruiting': 'STAFFING_AND_RECRUITING',\n  'telecommunications': 'TELECOMMUNICATIONS',\n  'textiles': 'TEXTILES',\n  'transportation/trucking/railroad': 'TRANSPORTATION_TRUCKING_RAILROAD',\n  'truck transportation': 'TRANSPORTATION_TRUCKING_RAILROAD',\n  'utilities': 'UTILITIES',\n  'veterinary': 'VETERINARY',\n  'warehousing': 'WAREHOUSING',\n  'wholesale': 'WHOLESALE',\n  'wireless': 'WIRELESS',\n};\n\nfunction mapIndustry(linkedinIndustry) {\n  if (!linkedinIndustry) return '';\n  const key = linkedinIndustry.toLowerCase().trim();\n  if (INDUSTRY_MAP[key]) return INDUSTRY_MAP[key];\n  // Fallback: try converting to enum format\n  const enumAttempt = key.replace(/[\\s&/]+/g, '_').replace(/_+/g, '_').toUpperCase();\n  return enumAttempt;\n}\n\nreturn items.map(item => {\n  const p = item.json;\n  const loc = parseLocation(p.personallocation || p.location || '');\n  const rawIndustry = p.companyIndustry || p.industry || '';\n\n  return {\n    json: {\n      // Reference fields for downstream nodes (Format Output, Update Sheet)\n      profileUrl: p.profileUrl || '',\n      fullName: p.fullName || '',\n      profile: p.profile || '',\n      // All HubSpot data in _hs\n      _hs: {\n        firstName: p.firstName || '',\n        lastName: p.lastName || '',\n        email: p.email || '',\n        hasRealEmail: p.hasRealEmail || false,\n        companyName: p.companyName || '',\n        jobTitle: p.jobTitle || '',\n        industry: rawIndustry,\n        hubspotIndustry: mapIndustry(rawIndustry),\n        location: p.personallocation || p.location || '',\n        city: loc.city,\n        state: loc.state,\n        country: loc.country,\n        linkedinUrl: p.profileUrl || '',\n        syncDate: today,\n        // Contact enrichment fields\n        linkedinHeadline: p.personalHeadLine || '',\n        schoolName: p.schoolName || '',\n        schoolDegree: p.schoolDegree || '',\n        previousCompanyName: p.previousCompanyName || '',\n        previousCompanyPosition: p.previousCompanyPosition || '',\n        jobLocation: p.jobLocation || '',\n        companySlug: p.companySlug || '',\n        // Company-record fields\n        companyDescription: p.companyDescription || '',\n        companySize: p.companySize || '',\n        companyHQ: p.companyHQ || '',\n        companyWebsite: p.companyWebsite || '',\n        companyTagline: p.companyTagline || '',\n      }\n    }\n  };\n});"
        },
        "id": "wf3v2h-prepare",
        "name": "Prepare HubSpot Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3600,
          944
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ ok: true, message: 'HubSpot sync started', profileCount: $input.all().length }) }}",
          "options": {}
        },
        "id": "wf3v2h-respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          3808,
          944
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "wf3v2h-loop",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          4000,
          944
        ],
        "notesInFlow": false
      },
      {
        "parameters": {
          "jsCode": "// Loop complete — summary\nreturn [{ json: { done: true, message: 'HubSpot sync complete' } }];"
        },
        "id": "wf3v2h-sync-complete",
        "name": "Sync Complete",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4240,
          784
        ]
      },
      {
        "parameters": {},
        "id": "wf3v2h-start-item",
        "name": "Process Item",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          4208,
          944
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "has-company",
                "leftValue": "={{ !!($json._hs && $json._hs.companyName) }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "wf3v2h-has-company",
        "name": "Has Company Name?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4400,
          944
        ]
      },
      {
        "parameters": {
          "jsCode": "// Skip company processing — no company name provided\nconst preparedData = $('Prepare HubSpot Data').item.json;\nreturn [{ json: { ...preparedData, _hs: { ...preparedData._hs, companyId: null, companyCreated: false, companySkipped: true } } }];"
        },
        "id": "wf3v2h-skip-company",
        "name": "Skip Company",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4608,
          1152
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'name', operator: 'EQ', value: $json._hs.companyName || '' }] }], properties: ['name', 'domain', 'industry', 'description', 'website', 'linkedin_company_page'] }) }}",
          "options": {}
        },
        "id": "wf3v2h-search-company",
        "name": "Search Company",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4608,
          944
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        },
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "company-exists",
                "leftValue": "={{ $json.total }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "wf3v2h-company-exists",
        "name": "Company Exists?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4800,
          944
        ]
      },
      {
        "parameters": {
          "jsCode": "const searchResult = $('Search Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\nconst existingCompany = searchResult.results[0];\nconst ep = existingCompany.properties || {};\nconst hs = preparedData._hs;\n\n// Determine what company fields need updating\nconst companyUpdates = {};\nif (!ep.description && hs.companyDescription) companyUpdates.description = hs.companyDescription;\nif (!ep.website && hs.companyWebsite) companyUpdates.website = hs.companyWebsite;\nif (!ep.linkedin_company_page && hs.companySlug) companyUpdates.linkedin_company_page = 'https://www.linkedin.com/company/' + hs.companySlug;\nif (!ep.industry && hs.hubspotIndustry) companyUpdates.industry = hs.hubspotIndustry;\n\nreturn [{ json: { ...preparedData, _hs: { ...hs, companyId: existingCompany.id, companyCreated: false, companyUpdates, hasCompanyUpdates: Object.keys(companyUpdates).length > 0 } } }];"
        },
        "id": "wf3v2h-use-existing",
        "name": "Use Existing Company",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5008,
          864
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/companies",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { name: $('Prepare HubSpot Data').item.json._hs.companyName || '', industry: $('Prepare HubSpot Data').item.json._hs.hubspotIndustry || '', description: $('Prepare HubSpot Data').item.json._hs.companyDescription || '', website: $('Prepare HubSpot Data').item.json._hs.companyWebsite || '', linkedin_company_page: $('Prepare HubSpot Data').item.json._hs.companySlug ? 'https://www.linkedin.com/company/' + $('Prepare HubSpot Data').item.json._hs.companySlug : '' } }) }}",
          "options": {}
        },
        "id": "wf3v2h-create-company",
        "name": "Create Company",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5008,
          1072
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        },
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const createResult = $('Create Company').item.json;\nconst preparedData = $('Prepare HubSpot Data').item.json;\nreturn [{ json: { ...preparedData, _hs: { ...preparedData._hs, companyId: createResult.id, companyCreated: true } } }];"
        },
        "id": "wf3v2h-store-company",
        "name": "Store New Company ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5200,
          1072
        ]
      },
      {
        "parameters": {},
        "id": "wf3v2h-merge-company",
        "name": "Merge Company Results",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          5808,
          944
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $('Merge Search Results').item.json._matchedContact.id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { jobtitle: $('Merge Search Results').item.json._hs.jobTitle || '', company: $('Merge Search Results').item.json._hs.companyName || '', industry: $('Merge Search Results').item.json._hs.hubspotIndustry || $('Merge Search Results').item.json._hs.industry || '', hs_lead_status: 'CONNECTED', hs_linkedin_url: $('Merge Search Results').item.json._hs.linkedinUrl || '', city: $('Merge Search Results').item.json._hs.city || $('Merge Search Results').item.json._hs.location || '', state: $('Merge Search Results').item.json._hs.state || '', country: $('Merge Search Results').item.json._hs.country || '', linkedin_headline: $('Merge Search Results').item.json._hs.linkedinHeadline || '', school_name: $('Merge Search Results').item.json._hs.schoolName || '', school_degree: $('Merge Search Results').item.json._hs.schoolDegree || '', previous_company_name: $('Merge Search Results').item.json._hs.previousCompanyName || '', previous_company_position: $('Merge Search Results').item.json._hs.previousCompanyPosition || '', job_location: $('Merge Search Results').item.json._hs.jobLocation || '', linkedin_company_slug: $('Merge Search Results').item.json._hs.companySlug || '' } }) }}",
          "options": {}
        },
        "id": "wf3v2h-update-contact",
        "name": "Update Contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          7392,
          784
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        },
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/contacts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { email: $('Merge Company Results').item.json._hs.hasRealEmail ? $('Merge Company Results').item.json._hs.email : undefined, firstname: $('Merge Company Results').item.json._hs.firstName, lastname: $('Merge Company Results').item.json._hs.lastName, jobtitle: $('Merge Company Results').item.json._hs.jobTitle || '', company: $('Merge Company Results').item.json._hs.companyName || '', industry: $('Merge Company Results').item.json._hs.hubspotIndustry || $('Merge Company Results').item.json._hs.industry || '', hs_lead_status: 'CONNECTED', hs_linkedin_url: $('Merge Company Results').item.json._hs.linkedinUrl || '', city: $('Merge Company Results').item.json._hs.city || $('Merge Company Results').item.json._hs.location || '', state: $('Merge Company Results').item.json._hs.state || '', country: $('Merge Company Results').item.json._hs.country || '', linkedin_headline: $('Merge Company Results').item.json._hs.linkedinHeadline || '', school_name: $('Merge Company Results').item.json._hs.schoolName || '', school_degree: $('Merge Company Results').item.json._hs.schoolDegree || '', previous_company_name: $('Merge Company Results').item.json._hs.previousCompanyName || '', previous_company_position: $('Merge Company Results').item.json._hs.previousCompanyPosition || '', job_location: $('Merge Company Results').item.json._hs.jobLocation || '', linkedin_company_slug: $('Merge Company Results').item.json._hs.companySlug || '' } }) }}",
          "options": {}
        },
        "id": "wf3v2h-create-contact",
        "name": "Create Contact",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          7328,
          1360
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        },
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const updateResult = $('Update Contact').item.json;\nconst mergedData = $('Merge Search Results').item.json;\nreturn [{ json: { ...mergedData, _hs: { ...mergedData._hs, contactId: updateResult.id, contactCreated: false } } }];"
        },
        "id": "wf3v2h-store-updated",
        "name": "Store Updated Contact ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7584,
          784
        ]
      },
      {
        "parameters": {
          "jsCode": "const createResult = $('Create Contact').item.json;\nconst mergedData = $('Merge Company Results').item.json;\nreturn [{ json: { ...mergedData, _hs: { ...mergedData._hs, contactId: createResult.id, contactCreated: true } } }];"
        },
        "id": "wf3v2h-store-new",
        "name": "Store New Contact ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7552,
          1360
        ]
      },
      {
        "parameters": {},
        "id": "wf3v2h-merge-contact",
        "name": "Merge Contact Results",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          7744,
          976
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ 'https://api.hubapi.com/crm/v3/objects/contacts/' + $json._hs.contactId + '/associations/company/' + $json._hs.companyId + '/contact_to_company' }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "wf3v2h-associate",
        "name": "Associate Contact → Company",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          7936,
          976
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        },
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Format output for logging / sheet update + pass data to 3.4\n// Reference Merge Contact Results (not $input which comes from the Associate HTTP call)\nconst contactData = $('Merge Contact Results').item.json;\nconst hs = contactData._hs || {};\nreturn [{ json: {\n  defaultProfileUrl: contactData.profileUrl || hs.linkedinUrl || '',\n  fullName: contactData.fullName || ((hs.firstName || '') + ' ' + (hs.lastName || '')).trim(),\n  firstName: hs.firstName || contactData.firstName || '',\n  lastName: hs.lastName || contactData.lastName || '',\n  title: hs.jobTitle || contactData.title || '',\n  company: hs.companyName || contactData.company || '',\n  linkedInProfileUrl: contactData.profileUrl || hs.linkedinUrl || '',\n  hubspotContactId: hs.contactId || '',\n  contactId: hs.contactId || '',\n  companyId: hs.companyId || '',\n  contactCreated: hs.contactCreated || false,\n  companyCreated: hs.companyCreated || false,\n  companySkipped: hs.companySkipped || false,\n  profile: $('Parse Webhook Context').first().json.profile || 'kyle',\n  syncDate: hs.syncDate || ''\n}}];"
        },
        "id": "wf3v2h-format",
        "name": "Format Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          8144,
          976
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1KQ9NPfbFTsPMsC1gZ7BZNMKw9grnczwHtmCG-9Xx7R8"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "Master List"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "hubspotSync": "={{ $json.syncDate }}",
              "row_number": 0,
              "defaultProfileUrl": "={$input.defaultProfileUrl}"
            },
            "matchingColumns": [
              "defaultProfileUrl"
            ],
            "schema": [
              {
                "id": "defaultProfileUrl",
                "displayName": "defaultProfileUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fullName",
                "displayName": "fullName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "firstName",
                "displayName": "firstName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "lastName",
                "displayName": "lastName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "school",
                "displayName": "school",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "schoolDegree",
                "displayName": "schoolDegree",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "company",
                "displayName": "company",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyUrl",
                "displayName": "companyUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyId",
                "displayName": "companyId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobTitle",
                "displayName": "jobTitle",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobDateRange",
                "displayName": "jobDateRange",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hsIndustry",
                "displayName": "hsIndustry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "headline",
                "displayName": "headline",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "location",
                "displayName": "location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "company2",
                "displayName": "company2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyUrl2",
                "displayName": "companyUrl2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyId2",
                "displayName": "companyId2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobTitle2",
                "displayName": "jobTitle2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "jobDateRange2",
                "displayName": "jobDateRange2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "score",
                "displayName": "score",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "segment",
                "displayName": "segment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "reason",
                "displayName": "reason",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "added",
                "displayName": "added",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "kyleSentDate",
                "displayName": "kyleSentDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "kyleConnectDate",
                "displayName": "kyleConnectDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "hudsonSentDate",
                "displayName": "hudsonSentDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "hudsonConnectDate",
                "displayName": "hudsonConnectDate",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "hubspotSync",
                "displayName": "hubspotSync",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "hudsonNotes",
                "displayName": "hudsonNotes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "inviteResults",
                "displayName": "inviteResults",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "connectionDegree",
                "displayName": "connectionDegree",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "previousRole",
                "displayName": "previousRole",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "industry",
                "displayName": "industry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "adj industry",
                "displayName": "adj industry",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "summary",
                "displayName": "summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "companyLocation",
                "displayName": "companyLocation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "durationInCompany",
                "displayName": "durationInCompany",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "pastExperienceDuration",
                "displayName": "pastExperienceDuration",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "sharedConnectionsCount",
                "displayName": "sharedConnectionsCount",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "isPremium",
                "displayName": "isPremium",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "isOpenLink",
                "displayName": "isOpenLink",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "connectionFrom",
                "displayName": "connectionFrom",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "profileUrl",
                "displayName": "profileUrl",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "wf3v2h-update-sheet",
        "name": "Update HubSpot Status",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          8336,
          976
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "clear",
          "documentId": {
            "__rl": true,
            "value": "1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo",
            "mode": "list",
            "cachedResultName": "HoldingSheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xPgob7BwDoDGAOtDPBTvKzhQHl2FUZkJhJG0gEHWdgo/edit#gid=0"
          },
          "clear": "specificRange",
          "range": "A2:A"
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2432,
          1008
        ],
        "id": "a0577054-1024-4d9e-bd44-7b8b2fbd09cc",
        "name": "Clear sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hf9VoWnqYNXhUZsn",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "company-updates-check",
                "leftValue": "={{ $json._hs.hasCompanyUpdates }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "wf3v2h-has-company-updates",
        "name": "Has Company Updates?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          5216,
          864
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ 'https://api.hubapi.com/crm/v3/objects/companies/' + $json._hs.companyId }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ properties: $json._hs.companyUpdates }) }}",
          "options": {}
        },
        "id": "wf3v2h-update-company",
        "name": "Update Company",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5408,
          864
        ],
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        },
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {},
        "id": "wf3v2h-pass-company",
        "name": "Pass Through Company",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          5632,
          1024
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'hs_linkedin_url', operator: 'EQ', value: $json._hs.linkedinUrl || '' }] }], properties: ['firstname', 'lastname', 'email', 'jobtitle', 'hs_linkedin_url', 'hs_lead_status'], limit: 5 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6016,
          944
        ],
        "id": "wf3v2h-search-url",
        "name": "Search by LinkedIn URL",
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "found-by-url",
                "leftValue": "={{ $json.total }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          6192,
          944
        ],
        "id": "wf3v2h-found-url",
        "name": "Found by URL?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "hubspotOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'firstname', operator: 'EQ', value: $('Prepare HubSpot Data').item.json._hs.firstName || '' }, { propertyName: 'lastname', operator: 'EQ', value: $('Prepare HubSpot Data').item.json._hs.lastName || '' }] }], properties: ['firstname', 'lastname', 'email', 'jobtitle', 'hs_linkedin_url', 'hs_lead_status'], limit: 10 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          6448,
          1152
        ],
        "id": "wf3v2h-search-name",
        "name": "Search by Name",
        "credentials": {
          "hubspotOAuth2Api": {
            "id": "3JZVnZQkHgMfXMRx",
            "name": "HubSpot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Evaluate name search results for best contact match\nconst nameResults = $('Search by Name').item.json;\nconst prepared = $('Prepare HubSpot Data').item.json;\nconst hs = prepared._hs;\nconst results = nameResults.results || [];\n\nif (results.length === 0) {\n  // No match — will create new contact\n  return [{ json: { ...prepared, _matchResult: 'create', _matchedContact: null } }];\n}\n\nif (results.length === 1) {\n  // Exact single match — will update\n  return [{ json: { ...prepared, _matchResult: 'update', _matchedContact: results[0] } }];\n}\n\n// Multiple results — try email tiebreaker\nif (hs.email && hs.hasRealEmail) {\n  const emailMatch = results.find(r =>\n    (r.properties.email || '').toLowerCase() === hs.email.toLowerCase()\n  );\n  if (emailMatch) {\n    return [{ json: { ...prepared, _matchResult: 'update', _matchedContact: emailMatch } }];\n  }\n}\n\n// Still ambiguous — send to Slack, skip this contact\nconst names = results.map(r =>\n  (r.properties.firstname || '') + ' ' + (r.properties.lastname || '') + ' (ID: ' + r.id + ', email: ' + (r.properties.email || 'none') + ')'\n).join(', ');\nreturn [{ json: { ...prepared, _matchResult: 'ambiguous', _matchedContact: null, _ambiguousDetails: names, _ambiguousCount: results.length } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6656,
          1152
        ],
        "id": "wf3v2h-resolve-match",
        "name": "Resolve Contact Match"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "is-update",
                "leftValue": "={{ $json._matchResult }}",
                "rightValue": "update",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          6848,
          1152
        ],
        "id": "wf3v2h-match-router",
        "name": "Name Match Found?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "is-ambiguous",
                "leftValue": "={{ $json._matchResult }}",
                "rightValue": "ambiguous",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          7072,
          1280
        ],
        "id": "wf3v2h-route-ambiguous",
        "name": "Is Ambiguous?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ text: ':warning: *Ambiguous HubSpot Contact Match*\\n' + 'Incoming: ' + $json.fullName + ' (' + ($json._hs.linkedinUrl || 'no URL') + ')\\n' + 'Found ' + $json._ambiguousCount + ' possible matches: ' + $json._ambiguousDetails + '\\n' + 'Skipping auto-sync — please resolve manually in HubSpot.' }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          7328,
          1200
        ],
        "id": "wf3v2h-notify-slack",
        "name": "Notify Slack (Ambiguous)"
      },
      {
        "parameters": {
          "jsCode": "// Pass the URL-matched contact to the Update Contact path\nconst urlResults = $('Search by LinkedIn URL').item.json;\nconst prepared = $('Prepare HubSpot Data').item.json;\nconst matched = urlResults.results[0];\nreturn [{ json: { ...prepared, _matchedContact: matched } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6976,
          784
        ],
        "id": "wf3v2h-prep-url-match",
        "name": "Prep URL Match"
      },
      {
        "parameters": {
          "jsCode": "// Pass the name-matched contact to the Update Contact path\nconst item = $input.first().json;\nreturn [{ json: item }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7072,
          1120
        ],
        "id": "wf3v2h-prep-name-match",
        "name": "Prep Name Match"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          7184,
          784
        ],
        "id": "wf3v2h-merge-search",
        "name": "Merge Search Results"
      },
      {
        "parameters": {
          "jsCode": "// Skip this contact — ambiguous match logged to Slack\nconst item = $input.first().json;\nreturn [{ json: {\n  defaultProfileUrl: item.profileUrl || item._hs?.linkedinUrl || '',\n  fullName: item.fullName || '',\n  contactId: 'SKIPPED_AMBIGUOUS',\n  companyId: item._hs?.companyId || '',\n  contactCreated: false,\n  companyCreated: item._hs?.companyCreated || false,\n  companySkipped: item._hs?.companySkipped || false,\n  syncDate: item._hs?.syncDate || ''\n} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          7552,
          1200
        ],
        "id": "wf3v2h-skip-ambiguous",
        "name": "Skip Ambiguous Contact"
      },
      {
        "parameters": {
          "jsCode": "// Restore prepared data after HubSpot company update API call\nconst preparedData = $('Has Company Updates?').item.json;\nreturn [{ json: preparedData }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5632,
          864
        ],
        "id": "wf3v2h-restore-company-update",
        "name": "Restore After Company Update"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "vhTOB4xc7mxRgCiw"
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          8544,
          1136
        ],
        "id": "wf3v2h-call-34",
        "name": "Call 3.4 Conference Follow-Up",
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "PB Webhook (Email Scraper)": {
        "main": [
          [
            {
              "node": "Clear sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking 'Execute workflow'": {
        "main": [
          []
        ]
      },
      "Parse Webhook Context": {
        "main": [
          [
            {
              "node": "Get Email Scraper Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Email Scraper Output": {
        "main": [
          [
            {
              "node": "Has jsonUrl?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has jsonUrl?": {
        "main": [
          [
            {
              "node": "Fetch Email Scraper JSON",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Connection + Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Email Scraper JSON": {
        "main": [
          [
            {
              "node": "Merge Connection + Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Connection + Email Data": {
        "main": [
          [
            {
              "node": "Prepare HubSpot Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare HubSpot Data": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Sync Complete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Process Item",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Item": {
        "main": [
          [
            {
              "node": "Has Company Name?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Company Name?": {
        "main": [
          [
            {
              "node": "Search Company",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Skip Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skip Company": {
        "main": [
          [
            {
              "node": "Merge Company Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Company": {
        "main": [
          [
            {
              "node": "Company Exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Company Exists?": {
        "main": [
          [
            {
              "node": "Use Existing Company",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Use Existing Company": {
        "main": [
          [
            {
              "node": "Has Company Updates?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Company": {
        "main": [
          [
            {
              "node": "Store New Company ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store New Company ID": {
        "main": [
          [
            {
              "node": "Merge Company Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Company Results": {
        "main": [
          [
            {
              "node": "Search by LinkedIn URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Contact": {
        "main": [
          [
            {
              "node": "Store Updated Contact ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Contact": {
        "main": [
          [
            {
              "node": "Store New Contact ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Updated Contact ID": {
        "main": [
          [
            {
              "node": "Merge Contact Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store New Contact ID": {
        "main": [
          [
            {
              "node": "Merge Contact Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Contact Results": {
        "main": [
          [
            {
              "node": "Associate Contact → Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Associate Contact → Company": {
        "main": [
          [
            {
              "node": "Format Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Output": {
        "main": [
          [
            {
              "node": "Update HubSpot Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update HubSpot Status": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call 3.4 Conference Follow-Up",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clear sheet": {
        "main": [
          [
            {
              "node": "Parse Webhook Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Company Updates?": {
        "main": [
          [
            {
              "node": "Update Company",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pass Through Company",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Company": {
        "main": [
          [
            {
              "node": "Restore After Company Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass Through Company": {
        "main": [
          [
            {
              "node": "Merge Company Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search by LinkedIn URL": {
        "main": [
          [
            {
              "node": "Found by URL?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Found by URL?": {
        "main": [
          [
            {
              "node": "Prep URL Match",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Search by Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep URL Match": {
        "main": [
          [
            {
              "node": "Merge Search Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search by Name": {
        "main": [
          [
            {
              "node": "Resolve Contact Match",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Contact Match": {
        "main": [
          [
            {
              "node": "Name Match Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Name Match Found?": {
        "main": [
          [
            {
              "node": "Prep Name Match",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is Ambiguous?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Name Match": {
        "main": [
          [
            {
              "node": "Merge Search Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Search Results": {
        "main": [
          [
            {
              "node": "Update Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Ambiguous?": {
        "main": [
          [
            {
              "node": "Notify Slack (Ambiguous)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Slack (Ambiguous)": {
        "main": [
          [
            {
              "node": "Skip Ambiguous Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Skip Ambiguous Contact": {
        "main": [
          [
            {
              "node": "Update HubSpot Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore After Company Update": {
        "main": [
          [
            {
              "node": "Merge Company Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hudson Lorfing",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [],
  "_folderPath": "",
  "_fileName": "test---3.3-connection-sync---hubspot-[v2].json"
}