workflows/workflow-3-response-handler.json
{
  "name": "Response Handler - Stop Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linq-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "linq-webhook",
      "name": "Linq Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "linq-response"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming Linq webhook\nconst body = $input.first().json.body || $input.first().json;\n\n// Linq webhook payload structure\nconst event = body.event || body.type || 'message.received';\nconst data = body.data || body;\n\n// Extract phone number (the lead's phone)\nlet phone = data.from_phone_number || data.from || data.sender_phone || '';\n\n// Normalize phone number\nphone = phone.replace(/[^0-9+]/g, '');\nif (phone && !phone.startsWith('+')) {\n  if (phone.length === 10) {\n    phone = '+1' + phone;\n  } else if (phone.length === 11 && phone.startsWith('1')) {\n    phone = '+' + phone;\n  }\n}\n\n// Extract message content\nconst messageText = data.message?.text || data.text || data.body || '';\n\nreturn [{\n  json: {\n    event: event,\n    phone: phone,\n    message_text: messageText,\n    message_preview: messageText.substring(0, 100),\n    received_at: data.created_at || new Date().toISOString(),\n    linq_chat_id: data.chat_id || data.id || null,\n    raw_payload: body\n  }\n}];"
      },
      "id": "parse-linq-webhook",
      "name": "Parse Linq Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "is-received",
              "leftValue": "={{ $json.event }}",
              "rightValue": "message.received",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid-response",
      "name": "Filter Valid Responses",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "search",
        "filterGroups": {
          "values": [
            {
              "filters": {
                "values": [
                  {
                    "propertyName": "phone",
                    "operator": "EQ",
                    "propertyValue": "={{ $json.phone }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "hubspot-search-contact",
      "name": "Find Contact by Phone",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [900, 400],
      "credentials": {
        "hubspotApi": {
          "id": "HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "found-contact",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-found",
      "name": "Filter Found Contacts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract contact info from search results\nconst searchResult = $input.first().json;\nconst webhookData = $('Parse Linq Webhook').first().json;\n\nconst contact = searchResult.results?.[0] || searchResult[0] || {};\nconst contactId = contact.id || contact.contactId;\n\nif (!contactId) {\n  return [{\n    json: {\n      error: 'No contact ID found',\n      phone: webhookData.phone\n    }\n  }];\n}\n\nconst properties = contact.properties || contact;\n\nreturn [{\n  json: {\n    contact_id: contactId,\n    first_name: properties.firstname || properties.first_name || 'Lead',\n    last_name: properties.lastname || properties.last_name || '',\n    email: properties.email || '',\n    phone: webhookData.phone,\n    message_text: webhookData.message_text,\n    message_preview: webhookData.message_preview,\n    received_at: webhookData.received_at,\n    hubspot_url: `https://app.hubspot.com/contacts/YOUR_PORTAL_ID/contact/${contactId}`\n  }\n}];"
      },
      "id": "extract-contact",
      "name": "Extract Contact Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.contact_id }}_sequence",
        "value": "stopped",
        "expiration": 2592000
      },
      "id": "redis-stop-sequence",
      "name": "Stop Sequence in Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1560, 400],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={{ $('Extract Contact Info').first().json.contact_id }}",
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "hs_lead_status",
                "value": "RESPONDED"
              }
            ]
          }
        }
      },
      "id": "hubspot-update-responded",
      "name": "Update HubSpot Status",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1780, 400],
      "credentials": {
        "hubspotApi": {
          "id": "HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#leads",
        "text": "=:tada: *Lead Responded!*\n\n*Name:* {{ $('Extract Contact Info').first().json.first_name }} {{ $('Extract Contact Info').first().json.last_name }}\n*Phone:* {{ $('Extract Contact Info').first().json.phone }}\n*Response:* \"{{ $('Extract Contact Info').first().json.message_preview }}\"\n*Time:* {{ $('Extract Contact Info').first().json.received_at }}\n\n<{{ $('Extract Contact Info').first().json.hubspot_url }}|View in HubSpot>",
        "otherOptions": {}
      },
      "id": "slack-notify-response",
      "name": "Slack Response Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [2000, 400],
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"action\": \"sequence_stopped\", \"contact_id\": \"{{ $('Extract Contact Info').first().json.contact_id }}\"}"
      },
      "id": "webhook-response-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Contact not found for phone: {{ $('Parse Linq Webhook').first().json.phone }}\"}"
      },
      "id": "webhook-response-not-found",
      "name": "Response Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 600]
    },
    {
      "parameters": {
        "channel": "#leads",
        "text": "=:warning: *Unknown Response Received*\n\n*Phone:* {{ $('Parse Linq Webhook').first().json.phone }}\n*Message:* \"{{ $('Parse Linq Webhook').first().json.message_preview }}\"\n\n_Contact not found in HubSpot - may need manual review_",
        "otherOptions": {}
      },
      "id": "slack-unknown-response",
      "name": "Alert Unknown Response",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1340, 780],
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmail-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gmail-webhook",
      "name": "Gmail Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 800],
      "webhookId": "gmail-reply",
      "disabled": true
    }
  ],
  "connections": {
    "Linq Webhook": {
      "main": [
        [
          {
            "node": "Parse Linq Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Linq Webhook": {
      "main": [
        [
          {
            "node": "Filter Valid Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Responses": {
      "main": [
        [
          {
            "node": "Find Contact by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact by Phone": {
      "main": [
        [
          {
            "node": "Filter Found Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Found Contacts": {
      "main": [
        [
          {
            "node": "Extract Contact Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Unknown Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Response Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact Info": {
      "main": [
        [
          {
            "node": "Stop Sequence in Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Sequence in Redis": {
      "main": [
        [
          {
            "node": "Update HubSpot Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Status": {
      "main": [
        [
          {
            "node": "Slack Response Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Response Alert": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "lead-nurturing"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "instanceId": "your-instance-id"
  }
}
