workflows/workflow-2-nurturing-sequence.json
{
  "name": "Lead Nurturing Sequence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Hourly Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "*_sequence"
      },
      "id": "redis-get-active",
      "name": "Get Active Sequences",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [460, 400],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all active sequence keys and their data\nconst keys = $input.first().json.keys || [];\nconst results = [];\n\nfor (const key of keys) {\n  // Extract contact ID from key (format: contactId_sequence)\n  const contactId = key.replace('_sequence', '');\n  results.push({\n    json: {\n      redis_key: key,\n      contact_id: contactId\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-keys",
      "name": "Parse Sequence Keys",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Process Each Lead",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.redis_key }}"
      },
      "id": "redis-check-status",
      "name": "Check Sequence Status",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1120, 400],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-active",
              "leftValue": "={{ $json.value }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-active",
      "name": "Filter Active Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Process Each Lead').item.json.contact_id }}_step"
      },
      "id": "redis-get-step",
      "name": "Get Current Step",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1560, 400],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Process Each Lead').item.json.contact_id }}_next_action"
      },
      "id": "redis-get-next-action",
      "name": "Get Next Action Time",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1560, 600],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if it's time for the next action\nconst currentStep = parseInt($('Get Current Step').first().json.value) || 0;\nconst nextActionTime = $('Get Next Action Time').first().json.value;\nconst contactId = $('Process Each Lead').item.json.contact_id;\n\nconst now = new Date();\nconst nextAction = nextActionTime ? new Date(nextActionTime) : new Date(0);\n\n// If nextAction is in the past or not set, proceed\nconst shouldProceed = now >= nextAction;\n\nreturn [{\n  json: {\n    contact_id: contactId,\n    current_step: currentStep,\n    next_step: currentStep + 1,\n    should_proceed: shouldProceed,\n    next_action_time: nextActionTime,\n    checked_at: now.toISOString()\n  }\n}];"
      },
      "id": "check-timing",
      "name": "Check Timing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-proceed",
              "leftValue": "={{ $json.should_proceed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-ready",
      "name": "Filter Ready to Process",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "get",
        "contactId": "={{ $json.contact_id }}",
        "additionalFields": {}
      },
      "id": "hubspot-get-contact",
      "name": "Get Contact Details",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [2220, 500],
      "credentials": {
        "hubspotApi": {
          "id": "HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge contact details with step info\nconst stepInfo = $('Check Timing').first().json;\nconst contact = $input.first().json.properties || $input.first().json;\n\nreturn [{\n  json: {\n    ...stepInfo,\n    first_name: contact.firstname || contact.first_name || 'there',\n    last_name: contact.lastname || contact.last_name || '',\n    email: contact.email || '',\n    phone: contact.phone || '',\n    city: contact.city || '',\n    address: contact.address || '',\n    home_value: contact.home_value_estimate || 0,\n    home_value_formatted: contact.home_value_estimate \n      ? '$' + parseInt(contact.home_value_estimate).toLocaleString('en-US')\n      : 'your home'\n  }\n}];"
      },
      "id": "merge-contact-data",
      "name": "Merge Contact Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 500]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_step }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Day 1 Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_step }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Day 2 Call Task"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_step }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Day 3 Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_step }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Day 5 Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_step }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Day 7 Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_step }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Day 10 Call"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_step }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Day 14 Breakup"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-step",
      "name": "Route by Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [2660, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linqapp.com/api/partner/v2/chats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-LINQ-INTEGRATION-TOKEN",
              "value": "={{ $credentials.linqToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_phone_number\": \"+1YOUR_LINQ_NUMBER\",\n  \"to_phone_numbers\": [\"{{ $json.phone }}\"],\n  \"message\": {\n    \"text\": \"Hey {{ $json.first_name }}, just following up on my message yesterday. Did you get a chance to see the home value info I sent? Let me know if you have any questions!\"\n  }\n}",
        "options": {}
      },
      "id": "linq-day1",
      "name": "Day 1 - Follow-up Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2940, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LINQ_CREDENTIAL_ID",
          "name": "Linq API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $credentials.mondayApiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation { create_item (board_id: 1837464116, group_id: \\\"to_call\\\", item_name: \\\"Call {{ $json.first_name }} {{ $json.last_name }} - Attempt 1\\\", column_values: \\\"{ \\\\\\\"phone\\\\\\\": \\\\\\\"{{ $json.phone }}\\\\\\\", \\\\\\\"status\\\\\\\": \\\\\\\"Working on it\\\\\\\", \\\\\\\"numbers\\\\\\\": 1 }\\\") { id } }\"\n}",
        "options": {}
      },
      "id": "monday-day2-call",
      "name": "Day 2 - Create Call Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2940, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MONDAY_CREDENTIAL_ID",
          "name": "Monday.com API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linqapp.com/api/partner/v2/chats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-LINQ-INTEGRATION-TOKEN",
              "value": "={{ $credentials.linqToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_phone_number\": \"+1YOUR_LINQ_NUMBER\",\n  \"to_phone_numbers\": [\"{{ $json.phone }}\"],\n  \"message\": {\n    \"text\": \"{{ $json.first_name }}, I recorded a quick video for you about what's happening in the {{ $json.city }} market right now. Check it out: [VIDEO_LINK_HERE]\\n\\nLet me know what questions you have!\"\n  }\n}",
        "options": {}
      },
      "id": "linq-day3-video",
      "name": "Day 3 - Video Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2940, 460],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LINQ_CREDENTIAL_ID",
          "name": "Linq API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.first_name }}, quick market update for {{ $json.city }}",
        "message": "=Hi {{ $json.first_name }},\n\nI wanted to share something interesting...\n\n[Include relevant market insight or comparable sale in their area]\n\nYour home at {{ $json.address }} is estimated at {{ $json.home_value_formatted }}, which puts you in a great position if you're considering selling or refinancing.\n\nWant me to run a more detailed analysis? Takes 5 minutes.\n\n[Agent Name]\n[Phone Number]",
        "options": {}
      },
      "id": "gmail-day5",
      "name": "Day 5 - Value Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2940, 640],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linqapp.com/api/partner/v2/chats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-LINQ-INTEGRATION-TOKEN",
              "value": "={{ $credentials.linqToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_phone_number\": \"+1YOUR_LINQ_NUMBER\",\n  \"to_phone_numbers\": [\"{{ $json.phone }}\"],\n  \"message\": {\n    \"text\": \"{{ $json.first_name }}, just wanted to give you a heads up - I've been seeing some interesting activity in {{ $json.city }}. Happy to share more if you're curious.\"\n  }\n}",
        "options": {}
      },
      "id": "linq-day7",
      "name": "Day 7 - Urgency Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2940, 820],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LINQ_CREDENTIAL_ID",
          "name": "Linq API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $credentials.mondayApiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation { create_item (board_id: 1837464116, group_id: \\\"to_call\\\", item_name: \\\"Call {{ $json.first_name }} {{ $json.last_name }} - FINAL Attempt\\\", column_values: \\\"{ \\\\\\\"phone\\\\\\\": \\\\\\\"{{ $json.phone }}\\\\\\\", \\\\\\\"status\\\\\\\": \\\\\\\"Working on it\\\\\\\", \\\\\\\"numbers\\\\\\\": 2, \\\\\\\"priority\\\\\\\": \\\\\\\"High\\\\\\\" }\\\") { id } }\"\n}",
        "options": {}
      },
      "id": "monday-day10-call",
      "name": "Day 10 - Final Call Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2940, 1000],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MONDAY_CREDENTIAL_ID",
          "name": "Monday.com API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linqapp.com/api/partner/v2/chats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-LINQ-INTEGRATION-TOKEN",
              "value": "={{ $credentials.linqToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_phone_number\": \"+1YOUR_LINQ_NUMBER\",\n  \"to_phone_numbers\": [\"{{ $json.phone }}\"],\n  \"message\": {\n    \"text\": \"Hi {{ $json.first_name }}, I've tried reaching out a few times about your home value inquiry. I don't want to be a pest!\\n\\nI'll leave the ball in your court - feel free to reach out anytime if your situation changes. I'm always happy to help with real estate questions in {{ $json.city }}.\\n\\n- [Agent Name]\"\n  }\n}",
        "options": {}
      },
      "id": "linq-day14-breakup",
      "name": "Day 14 - Breakup Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2940, 1180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LINQ_CREDENTIAL_ID",
          "name": "Linq API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Closing the loop, {{ $json.first_name }}",
        "message": "=Hi {{ $json.first_name }},\n\nI've reached out a few times and haven't heard back, so I'll assume the timing isn't right.\n\nNo worries at all! I'll add you to my monthly market update list so you can stay informed about {{ $json.city }} property values.\n\nIf anything changes, my door is always open.\n\nBest,\n[Agent Name]",
        "options": {}
      },
      "id": "gmail-day14-breakup",
      "name": "Day 14 - Breakup Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3160, 1180],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate next action time based on step\nconst step = $json.next_step;\nconst contactId = $json.contact_id;\n\n// Step delays (in hours)\nconst delays = {\n  1: 24,   // Day 1 text (24h after Day 0)\n  2: 24,   // Day 2 call (48h total)\n  3: 24,   // Day 3 video (72h total)\n  4: 48,   // Day 5 email (120h total)\n  5: 48,   // Day 7 text (168h total)\n  6: 72,   // Day 10 call (240h total)\n  7: 96    // Day 14 breakup (336h total)\n};\n\nconst delayHours = delays[step] || 24;\nconst nextActionTime = new Date(Date.now() + (delayHours * 60 * 60 * 1000));\n\nreturn [{\n  json: {\n    contact_id: contactId,\n    completed_step: step,\n    next_action_time: nextActionTime.toISOString(),\n    delay_hours: delayHours\n  }\n}];"
      },
      "id": "calc-next-time",
      "name": "Calculate Next Action Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3380, 500]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.contact_id }}_step",
        "value": "={{ $json.completed_step }}",
        "expiration": 2592000
      },
      "id": "redis-update-step",
      "name": "Update Step Counter",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3600, 400],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.contact_id }}_next_action",
        "value": "={{ $json.next_action_time }}",
        "expiration": 2592000
      },
      "id": "redis-update-next",
      "name": "Update Next Action Time",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3600, 600],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.contact_id }}_sequence",
        "value": "completed",
        "expiration": 2592000
      },
      "id": "redis-complete-sequence",
      "name": "Mark Sequence Complete",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [3380, 1180],
      "credentials": {
        "redis": {
          "id": "REDIS_CREDENTIAL_ID",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={{ $('Merge Contact Data').first().json.contact_id }}",
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "hs_lead_status",
                "value": "UNRESPONSIVE"
              }
            ]
          }
        }
      },
      "id": "hubspot-mark-unresponsive",
      "name": "Mark Unresponsive",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [3600, 1180],
      "credentials": {
        "hubspotApi": {
          "id": "HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#leads",
        "text": "=:clipboard: *Sequence Completed - No Response*\n*Name:* {{ $('Merge Contact Data').first().json.first_name }} {{ $('Merge Contact Data').first().json.last_name }}\n*Action:* Moved to monthly drip",
        "otherOptions": {}
      },
      "id": "slack-sequence-complete",
      "name": "Notify Sequence Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [3820, 1180],
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={{ $json.contact_id }}",
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "hs_lead_status",
                "value": "ATTEMPTING"
              }
            ]
          }
        }
      },
      "id": "hubspot-update-attempting",
      "name": "Update Status Attempting",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [3160, 280],
      "credentials": {
        "hubspotApi": {
          "id": "HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot account"
        }
      }
    }
  ],
  "connections": {
    "Hourly Check": {
      "main": [
        [
          {
            "node": "Get Active Sequences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Sequences": {
      "main": [
        [
          {
            "node": "Parse Sequence Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sequence Keys": {
      "main": [
        [
          {
            "node": "Process Each Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Lead": {
      "main": [
        [
          {
            "node": "Check Sequence Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sequence Status": {
      "main": [
        [
          {
            "node": "Filter Active Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Only": {
      "main": [
        [
          {
            "node": "Get Current Step",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Next Action Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Step": {
      "main": [
        [
          {
            "node": "Check Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Action Time": {
      "main": [
        [
          {
            "node": "Check Timing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Timing": {
      "main": [
        [
          {
            "node": "Filter Ready to Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready to Process": {
      "main": [
        [
          {
            "node": "Get Contact Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Details": {
      "main": [
        [
          {
            "node": "Merge Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contact Data": {
      "main": [
        [
          {
            "node": "Route by Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Step": {
      "main": [
        [
          {
            "node": "Day 1 - Follow-up Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 2 - Create Call Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 3 - Video Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 5 - Value Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 7 - Urgency Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 10 - Final Call Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Day 14 - Breakup Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 1 - Follow-up Text": {
      "main": [
        [
          {
            "node": "Calculate Next Action Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 2 - Create Call Task": {
      "main": [
        [
          {
            "node": "Update Status Attempting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status Attempting": {
      "main": [
        [
          {
            "node": "Calculate Next Action Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 3 - Video Text": {
      "main": [
        [
          {
            "node": "Calculate Next Action Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 5 - Value Email": {
      "main": [
        [
          {
            "node": "Calculate Next Action Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 7 - Urgency Text": {
      "main": [
        [
          {
            "node": "Calculate Next Action Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 10 - Final Call Task": {
      "main": [
        [
          {
            "node": "Calculate Next Action Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 14 - Breakup Text": {
      "main": [
        [
          {
            "node": "Day 14 - Breakup Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day 14 - Breakup Email": {
      "main": [
        [
          {
            "node": "Mark Sequence Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sequence Complete": {
      "main": [
        [
          {
            "node": "Mark Unresponsive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unresponsive": {
      "main": [
        [
          {
            "node": "Notify Sequence Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Next Action Time": {
      "main": [
        [
          {
            "node": "Update Step Counter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Next Action Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "lead-nurturing"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "instanceId": "your-instance-id"
  }
}
